templates/config-backup/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Config Backup",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Config Backup Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'create_backup';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst BRIDGE_URL = 'http://file-bridge:3200';\n\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'Content-Type': 'application/json'\n};\n\nconst TABLE_DEFS = {\n  soul:                 { select: 'key,content', deleteFilter: 'key=neq.', order: 'key' },\n  agents:               { select: 'key,content', deleteFilter: 'key=neq.', order: 'key' },\n  user_profiles:        { select: 'user_id,name,display_name,timezone,preferences,context,setup_done,setup_step', deleteFilter: 'user_id=neq.', order: 'user_id' },\n  tools_config:         { select: 'tool_name,config,enabled', deleteFilter: 'tool_name=neq.', order: 'tool_name' },\n  projects:             { select: 'name,status,content', deleteFilter: 'name=neq.', order: 'name' },\n  mcp_registry:         { select: 'server_name,path,mcp_url,description,tools,workflow_id,sub_workflow_id,template_id,template_type,active', deleteFilter: 'path=neq.', order: 'created_at.desc' },\n  template_credentials: { select: 'template_id,cred_key,cred_value', deleteFilter: 'template_id=neq.', order: 'template_id' },\n  memory_long:          { select: 'content,category,importance,embedding,metadata,created_at,updated_at,expires_at', deleteFilter: 'id=gt.0', order: 'created_at.desc' },\n  memory_daily:         { select: 'date,content,role,user_id,metadata,created_at', deleteFilter: 'id=gt.0', order: 'created_at.desc' },\n  conversations:        { select: 'session_id,user_id,role,content,metadata,created_at', deleteFilter: 'id=gt.0', order: 'created_at.desc' },\n  reminders:            { select: 'user_id,chat_id,message,remind_at,type', deleteFilter: 'id=gt.0', filter: 'reminded_at=is.null', order: 'remind_at.desc' },\n  scheduled_actions:    { select: 'user_id,chat_id,name,action_type,instruction,schedule,timezone,enabled,notify_mode,metadata', deleteFilter: 'id=gt.0', order: 'created_at.desc' },\n  heartbeat_config:     { select: 'check_name,config,interval_minutes,enabled', deleteFilter: 'check_name=neq.', order: 'check_name' },\n  tasks:                { select: 'user_id,title,description,status,priority,due_date,tags,metadata', deleteFilter: 'id=gt.0', order: 'created_at.desc' }\n};\n\nconst SCOPES = {\n  core: ['soul', 'agents', 'user_profiles', 'tools_config', 'projects'],\n  full: ['soul', 'agents', 'user_profiles', 'tools_config', 'projects', 'mcp_registry', 'template_credentials', 'memory_long', 'memory_daily', 'conversations', 'reminders', 'scheduled_actions', 'heartbeat_config', 'tasks']\n};\n\n// Tables with UNIQUE constraints (upsert works)\nconst UPSERT_TABLES = ['soul', 'agents', 'user_profiles', 'tools_config', 'projects', 'mcp_registry', 'template_credentials', 'heartbeat_config'];\n\nfunction getTableList(scope, tablesParam) {\n  if (scope === 'custom' && tablesParam) {\n    const requested = tablesParam.split(',').map(t => t.trim()).filter(t => TABLE_DEFS[t]);\n    if (requested.length === 0) {\n      return { error: 'No valid table names provided. Available: ' + Object.keys(TABLE_DEFS).join(', ') };\n    }\n    return { tables: requested };\n  }\n  return { tables: SCOPES[scope] || SCOPES.full };\n}\n\nfunction formatSize(bytes) {\n  if (bytes >= 1048576) return (bytes / 1048576).toFixed(1) + ' MB';\n  if (bytes >= 1024) return (bytes / 1024).toFixed(1) + ' KB';\n  return bytes + ' B';\n}\n\n// === create_backup ===\nif (action === 'create_backup') {\n  const scope = input.scope || 'full';\n  const tableResult = getTableList(scope, input.tables);\n  if (tableResult.error) return [{ json: { error: tableResult.error } }];\n  const tableList = tableResult.tables;\n\n  const now = new Date();\n  const ts = now.toISOString().replace(/[T:]/g, '-').substring(0, 16);\n  const fileName = (input.name || 'n8n-claw-backup-' + ts) + '.json';\n\n  const backupData = {};\n  const rowCounts = {};\n\n  for (const table of tableList) {\n    const def = TABLE_DEFS[table];\n    try {\n      let url = SUPABASE_URL + '/rest/v1/' + table + '?select=' + def.select;\n      if (def.filter) url += '&' + def.filter;\n      if (def.order) url += '&order=' + def.order;\n      const rows = await helpers.httpRequest({\n        method: 'GET',\n        url: url,\n        headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY }\n      });\n      backupData[table] = rows || [];\n      rowCounts[table] = (rows || []).length;\n    } catch (err) {\n      backupData[table] = [];\n      rowCounts[table] = 0;\n    }\n  }\n\n  const backup = {\n    version: '1.0',\n    created: now.toISOString(),\n    scope: scope,\n    tables: backupData\n  };\n\n  const jsonStr = JSON.stringify(backup, null, 2);\n  const b64 = Buffer.from(jsonStr, 'utf8').toString('base64');\n\n  try {\n    const stored = await helpers.httpRequest({\n      method: 'POST',\n      url: BRIDGE_URL + '/upload/base64',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        content_base64: b64,\n        file_name: fileName,\n        mime_type: 'application/json'\n      })\n    });\n\n    const downloadUrl = BRIDGE_URL + '/files/' + stored.id;\n    const totalRows = Object.values(rowCounts).reduce((a, b) => a + b, 0);\n\n    let result = 'Backup created: **' + fileName + '**\\n';\n    result += 'Scope: ' + scope + '\\n';\n    result += 'Size: ' + formatSize(jsonStr.length) + '\\n';\n    result += 'Total rows: ' + totalRows + '\\n\\n';\n    result += 'Tables backed up:\\n';\n    for (const [t, count] of Object.entries(rowCounts)) {\n      result += '- ' + t + ': ' + count + ' rows\\n';\n    }\n    result += '\\nDownload: ' + downloadUrl + '\\n';\n    result += '\\n[send_file: ' + downloadUrl + ']';\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to store backup file: ' + err.message } }];\n  }\n\n// === show_backup ===\n} else if (action === 'show_backup') {\n  const url = input.url;\n  if (!url) return [{ json: { error: 'Parameter \"url\" is required (URL to the backup JSON file).' } }];\n\n  try {\n    const resp = await helpers.httpRequest({ method: 'GET', url: url, json: false });\n    const backup = typeof resp === 'string' ? JSON.parse(resp) : resp;\n\n    if (!backup.tables || !backup.version) {\n      return [{ json: { error: 'Invalid backup file format. Expected version and tables fields.' } }];\n    }\n\n    if (input.table) {\n      const tableData = backup.tables[input.table];\n      if (!tableData) {\n        return [{ json: { error: 'Table \"' + input.table + '\" not found in backup. Available: ' + Object.keys(backup.tables).join(', ') } }];\n      }\n      let content = JSON.stringify(tableData, null, 2);\n      if (content.length > 5000) {\n        content = content.substring(0, 5000) + '\\n\\n... (truncated, ' + content.length + ' chars total, ' + tableData.length + ' rows)';\n      }\n      return [{ json: { result: '**' + input.table + '** (' + tableData.length + ' rows):\\n\\n```json\\n' + content + '\\n```' } }];\n    }\n\n    let result = '**Backup Overview**\\n';\n    result += 'Version: ' + backup.version + '\\n';\n    result += 'Created: ' + backup.created + '\\n';\n    result += 'Scope: ' + (backup.scope || 'unknown') + '\\n\\n';\n    result += 'Tables:\\n';\n\n    let totalRows = 0;\n    for (const [table, rows] of Object.entries(backup.tables)) {\n      const count = Array.isArray(rows) ? rows.length : 0;\n      totalRows += count;\n      result += '- **' + table + '**: ' + count + ' rows\\n';\n    }\n    result += '\\nTotal: ' + totalRows + ' rows across ' + Object.keys(backup.tables).length + ' tables\\n';\n    result += '\\nUse show_backup with a specific table name to see its contents.';\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to load backup: ' + err.message } }];\n  }\n\n// === restore_backup ===\n} else if (action === 'restore_backup') {\n  const url = input.url;\n  if (!url) return [{ json: { error: 'Parameter \"url\" is required (URL to the backup JSON file).' } }];\n\n  const mode = input.mode || 'upsert';\n  if (mode !== 'upsert' && mode !== 'replace') {\n    return [{ json: { error: 'Invalid mode \"' + mode + '\". Use \"upsert\" (default, merges data) or \"replace\" (deletes existing data first).' } }];\n  }\n\n  let backup;\n  try {\n    const resp = await helpers.httpRequest({ method: 'GET', url: url, json: false });\n    backup = typeof resp === 'string' ? JSON.parse(resp) : resp;\n    if (!backup.tables || !backup.version) {\n      return [{ json: { error: 'Invalid backup file format.' } }];\n    }\n  } catch (err) {\n    return [{ json: { error: 'Failed to load backup: ' + err.message } }];\n  }\n\n  // Determine which tables to restore\n  let targetTables = Object.keys(backup.tables);\n  if (input.tables) {\n    targetTables = input.tables.split(',').map(t => t.trim()).filter(t => backup.tables[t]);\n    if (targetTables.length === 0) {\n      return [{ json: { error: 'None of the specified tables found in backup. Available: ' + Object.keys(backup.tables).join(', ') } }];\n    }\n  }\n\n  // Skip sensitive tables unless explicitly requested\n  if (input.include_credentials !== 'true') {\n    targetTables = targetTables.filter(t => t !== 'template_credentials' && t !== 'tools_config');\n  }\n\n  const results = [];\n  const warnings = [];\n\n  for (const table of targetTables) {\n    const rows = backup.tables[table];\n    if (!rows || rows.length === 0) {\n      results.push(table + ': 0 rows (skipped, empty)');\n      continue;\n    }\n\n    const def = TABLE_DEFS[table];\n    if (!def) {\n      warnings.push(table + ': unknown table, skipped');\n      continue;\n    }\n\n    try {\n      // Replace mode: delete existing data first\n      if (mode === 'replace') {\n        await helpers.httpRequest({\n          method: 'DELETE',\n          url: SUPABASE_URL + '/rest/v1/' + table + '?' + def.deleteFilter,\n          headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY, 'Prefer': 'return=minimal' }\n        });\n      }\n\n      // Insert/upsert rows in batches of 500\n      const batchSize = 500;\n      let restored = 0;\n      for (let i = 0; i < rows.length; i += batchSize) {\n        const batch = rows.slice(i, i + batchSize);\n        const headers = {\n          'apikey': SUPABASE_KEY,\n          'Authorization': 'Bearer ' + SUPABASE_KEY,\n          'Content-Type': 'application/json',\n          'Prefer': 'return=minimal'\n        };\n\n        // Use upsert for tables with UNIQUE constraints\n        if (mode === 'upsert' && UPSERT_TABLES.includes(table)) {\n          headers['Prefer'] = 'resolution=merge-duplicates,return=minimal';\n        }\n\n        await helpers.httpRequest({\n          method: 'POST',\n          url: SUPABASE_URL + '/rest/v1/' + table,\n          headers: headers,\n          body: JSON.stringify(batch)\n        });\n        restored += batch.length;\n      }\n\n      results.push(table + ': ' + restored + ' rows restored');\n\n      // Warn about tables without UNIQUE constraints in upsert mode\n      if (mode === 'upsert' && !UPSERT_TABLES.includes(table)) {\n        warnings.push(table + ': no unique constraint — rows were inserted (duplicates possible)');\n      }\n    } catch (err) {\n      results.push(table + ': FAILED — ' + err.message);\n    }\n  }\n\n  let result = '**Restore Complete** (mode: ' + mode + ')\\n\\n';\n  result += 'From backup: ' + backup.created + '\\n\\n';\n  for (const r of results) {\n    result += '- ' + r + '\\n';\n  }\n\n  if (warnings.length > 0) {\n    result += '\\nWarnings:\\n';\n    for (const w of warnings) {\n      result += '- ' + w + '\\n';\n    }\n  }\n\n  if (input.include_credentials !== 'true' && (backup.tables.template_credentials || backup.tables.tools_config)) {\n    result += '\\nNote: template_credentials and tools_config were skipped (contain API keys). Use include_credentials=true to restore them.';\n  }\n\n  return [{ json: { result } }];\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Available: create_backup, show_backup, restore_backup.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Config Backup Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Config Backup",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "config-backup"
        }
      },
      {
        "id": "tool-create-backup",
        "name": "create_backup",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "create_backup",
          "description": "Create a JSON backup of n8n-claw configuration and return a download link. Parameters: name (backup file name or empty string for auto-generated), scope (core=config only, full=everything including memory/conversations, custom=specify tables — default is full), tables (comma-separated table names, only used when scope is custom. Available tables: soul, agents, user_profiles, tools_config, projects, mcp_registry, template_credentials, memory_long, memory_daily, conversations, reminders, scheduled_actions, heartbeat_config, tasks)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_backup",
              "name": "={{ $fromAI('name', 'Backup file name or empty string for auto-generated name', 'string') }}",
              "scope": "={{ $fromAI('scope', 'Scope: core, full, or custom — default full', 'string') }}",
              "tables": "={{ $fromAI('tables', 'Comma-separated table names for custom scope or empty string', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "name", "displayName": "name", "type": "string", "description": "Backup file name or empty string", "required": false },
              { "id": "scope", "displayName": "scope", "type": "string", "description": "Scope: core, full, or custom", "required": false },
              { "id": "tables", "displayName": "tables", "type": "string", "description": "Table names for custom scope", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-show-backup",
        "name": "show_backup",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "show_backup",
          "description": "View contents of a backup file without restoring. Parameters: url (URL to the backup JSON file, required), table (show only this specific table or empty string for overview)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "show_backup",
              "url": "={{ $fromAI('url', 'URL to the backup JSON file', 'string') }}",
              "table": "={{ $fromAI('table', 'Show only this table or empty string for overview', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "url", "displayName": "url", "type": "string", "description": "URL to backup file", "required": true },
              { "id": "table", "displayName": "table", "type": "string", "description": "Table name or empty string", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-restore-backup",
        "name": "restore_backup",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "restore_backup",
          "description": "Restore configuration from a backup file URL. Parameters: url (URL to the backup JSON file, required), tables (comma-separated list of tables to restore or empty string for all), mode (upsert=merge with existing data, replace=delete existing then insert — default upsert), include_credentials (true to include template_credentials in restore or empty string to skip them for security)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "restore_backup",
              "url": "={{ $fromAI('url', 'URL to the backup JSON file', 'string') }}",
              "tables": "={{ $fromAI('tables', 'Comma-separated table names to restore or empty string for all', 'string') }}",
              "mode": "={{ $fromAI('mode', 'Restore mode: upsert or replace — default upsert', 'string') }}",
              "include_credentials": "={{ $fromAI('include_credentials', 'true to include template_credentials and tools_config (contain API keys) or empty string to skip them', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "url", "displayName": "url", "type": "string", "description": "URL to backup file", "required": true },
              { "id": "tables", "displayName": "tables", "type": "string", "description": "Tables to restore or empty string", "required": false },
              { "id": "mode", "displayName": "mode", "type": "string", "description": "upsert or replace", "required": false },
              { "id": "include_credentials", "displayName": "include_credentials", "type": "string", "description": "true to include API keys", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "create_backup": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "show_backup": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "restore_backup": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
