templates/notion/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Notion",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Notion Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'search_pages';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.notion&cred_key=eq.notion_token&select=cred_value',\n  headers: pgHeaders\n});\n\nif (!creds || creds.length === 0 || !creds[0].cred_value) {\n  return [{ json: { error: 'Notion integration token not configured. Use add_credential to set it up.' } }];\n}\n\nconst token = creds[0].cred_value;\nconst API_BASE = 'https://api.notion.com/v1';\nconst apiHeaders = {\n  'Authorization': 'Bearer ' + token,\n  'Content-Type': 'application/json',\n  'Notion-Version': '2022-06-28'\n};\n\n// Helper: extract plain text from rich_text array\nfunction richTextToPlain(rt) {\n  if (!rt || !Array.isArray(rt)) return '';\n  return rt.map(t => t.plain_text || t.text?.content || '').join('');\n}\n\n// Helper: convert block to text\nfunction blockToText(block) {\n  const type = block.type;\n  if (!type) return '';\n  const data = block[type];\n  if (!data) return '';\n\n  const text = richTextToPlain(data.rich_text);\n\n  switch (type) {\n    case 'heading_1': return '# ' + text;\n    case 'heading_2': return '## ' + text;\n    case 'heading_3': return '### ' + text;\n    case 'paragraph': return text;\n    case 'bulleted_list_item': return '- ' + text;\n    case 'numbered_list_item': return '1. ' + text;\n    case 'to_do': return (data.checked ? '[x] ' : '[ ] ') + text;\n    case 'quote': return '> ' + text;\n    case 'code': return '```' + (data.language || '') + '\\n' + text + '\\n```';\n    case 'divider': return '---';\n    case 'callout': return '> ' + (data.icon?.emoji || '') + ' ' + text;\n    case 'toggle': return '▸ ' + text;\n    case 'image':\n      const url = data.file?.url || data.external?.url || '';\n      return url ? '[Image](' + url + ')' : '[Image]';\n    default: return text || '';\n  }\n}\n\n// === search_pages ===\nif (action === 'search_pages') {\n  const query = input.query;\n  if (!query) return [{ json: { error: 'Parameter \"query\" is required (search term).' } }];\n\n  try {\n    const body = {\n      query: query,\n      filter: { property: 'object', value: 'page' },\n      page_size: 10\n    };\n\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: API_BASE + '/search',\n      headers: apiHeaders,\n      body: JSON.stringify(body)\n    });\n\n    const pages = resp.results || [];\n    if (pages.length === 0) {\n      return [{ json: { result: 'No pages found for \"' + query + '\".' } }];\n    }\n\n    let result = 'Found ' + pages.length + ' page(s):\\n\\n';\n    for (const p of pages) {\n      const title = p.properties?.title?.title\n        ? richTextToPlain(p.properties.title.title)\n        : (p.properties?.Name?.title\n          ? richTextToPlain(p.properties.Name.title)\n          : 'Untitled');\n      result += '- **' + title + '**\\n';\n      result += '  ID: ' + p.id + '\\n';\n      if (p.url) result += '  URL: ' + p.url + '\\n';\n      result += '  Last edited: ' + (p.last_edited_time || '?') + '\\n\\n';\n    }\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Search failed: ' + err.message } }];\n  }\n\n// === read_page ===\n} else if (action === 'read_page') {\n  const pageId = input.page_id;\n  if (!pageId) return [{ json: { error: 'Parameter \"page_id\" is required.' } }];\n\n  try {\n    // Get page metadata\n    const page = await helpers.httpRequest({\n      method: 'GET',\n      url: API_BASE + '/pages/' + pageId,\n      headers: apiHeaders\n    });\n\n    let title = 'Untitled';\n    if (page.properties) {\n      for (const key of Object.keys(page.properties)) {\n        const prop = page.properties[key];\n        if (prop.type === 'title' && prop.title) {\n          title = richTextToPlain(prop.title);\n          break;\n        }\n      }\n    }\n\n    // Get page content (blocks)\n    const blocks = await helpers.httpRequest({\n      method: 'GET',\n      url: API_BASE + '/blocks/' + pageId + '/children?page_size=100',\n      headers: apiHeaders\n    });\n\n    let content = '# ' + title + '\\n\\n';\n    if (blocks.results) {\n      for (const block of blocks.results) {\n        const line = blockToText(block);\n        if (line) content += line + '\\n\\n';\n      }\n    }\n\n    let result = content.trim();\n    result += '\\n\\n---\\nPage ID: ' + pageId;\n    if (page.url) result += '\\nURL: ' + page.url;\n    result += '\\nLast edited: ' + (page.last_edited_time || '?');\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to read page: ' + err.message } }];\n  }\n\n// === create_page ===\n} else if (action === 'create_page') {\n  const title = input.title;\n  if (!title) return [{ json: { error: 'Parameter \"title\" is required.' } }];\n\n  try {\n    const body = {\n      properties: {\n        title: {\n          title: [{ type: 'text', text: { content: title } }]\n        }\n      }\n    };\n\n    // Set parent\n    if (input.parent_id) {\n      body.parent = { page_id: input.parent_id };\n    } else {\n      // Search for a default workspace page or use workspace\n      body.parent = { page_id: input.parent_id || '' };\n      // Try workspace parent if no parent_id\n      if (!input.parent_id) {\n        // Find first available page to use as parent\n        const searchResp = await helpers.httpRequest({\n          method: 'POST',\n          url: API_BASE + '/search',\n          headers: apiHeaders,\n          body: JSON.stringify({ filter: { property: 'object', value: 'page' }, page_size: 1 })\n        });\n        if (searchResp.results && searchResp.results.length > 0) {\n          body.parent = { page_id: searchResp.results[0].id };\n        } else {\n          return [{ json: { error: 'No parent page found. Please share at least one page with the integration, or provide a parent_id.' } }];\n        }\n      }\n    }\n\n    // Add content via markdown if provided\n    if (input.content) {\n      body.children = [];\n      const lines = input.content.split('\\n');\n      for (const line of lines) {\n        if (!line.trim()) continue;\n        let block;\n        if (line.startsWith('### ')) {\n          block = { object: 'block', type: 'heading_3', heading_3: { rich_text: [{ type: 'text', text: { content: line.substring(4) } }] } };\n        } else if (line.startsWith('## ')) {\n          block = { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: line.substring(3) } }] } };\n        } else if (line.startsWith('# ')) {\n          block = { object: 'block', type: 'heading_1', heading_1: { rich_text: [{ type: 'text', text: { content: line.substring(2) } }] } };\n        } else if (line.startsWith('- ') || line.startsWith('* ')) {\n          block = { object: 'block', type: 'bulleted_list_item', bulleted_list_item: { rich_text: [{ type: 'text', text: { content: line.substring(2) } }] } };\n        } else if (line.startsWith('> ')) {\n          block = { object: 'block', type: 'quote', quote: { rich_text: [{ type: 'text', text: { content: line.substring(2) } }] } };\n        } else if (line === '---') {\n          block = { object: 'block', type: 'divider', divider: {} };\n        } else {\n          block = { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: line } }] } };\n        }\n        body.children.push(block);\n      }\n    }\n\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: API_BASE + '/pages',\n      headers: apiHeaders,\n      body: JSON.stringify(body)\n    });\n\n    let result = 'Page created: ' + title;\n    result += '\\nID: ' + resp.id;\n    if (resp.url) result += '\\nURL: ' + resp.url;\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create page: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use search_pages, read_page, or create_page.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Notion Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Notion",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "notion"
        }
      },
      {
        "id": "tool-search-pages",
        "name": "search_pages",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "search_pages",
          "description": "Search for pages in Notion by title. Parameter: query (required, search term to match against page titles)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_pages",
              "query": "={{ $fromAI('query', 'Search term to find pages', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Search term", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-read-page",
        "name": "read_page",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "read_page",
          "description": "Read the content of a Notion page. Returns the page title and content as markdown. Parameter: page_id (required, the page UUID from search_pages)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "read_page",
              "page_id": "={{ $fromAI('page_id', 'Notion page UUID', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "page_id", "displayName": "page_id", "type": "string", "description": "Page UUID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-page",
        "name": "create_page",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "create_page",
          "description": "Create a new page in Notion. Parameters: title (required, page title), content (markdown content or empty string), parent_id (parent page UUID or empty string for first available page)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_page",
              "title": "={{ $fromAI('title', 'Page title', 'string') }}",
              "content": "={{ $fromAI('content', 'Markdown content for the page or empty string', 'string') }}",
              "parent_id": "={{ $fromAI('parent_id', 'Parent page UUID or empty string', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "title", "displayName": "title", "type": "string", "description": "Page title", "required": true },
              { "id": "content", "displayName": "content", "type": "string", "description": "Markdown content or empty string", "required": true },
              { "id": "parent_id", "displayName": "parent_id", "type": "string", "description": "Parent page UUID or empty string", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "search_pages": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "read_page": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_page": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
