templates/openclaw/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: OpenClaw",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "OpenClaw Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.openclaw&select=cred_key,cred_value',\n  headers: pgHeaders\n});\n\nif (!creds || creds.length === 0) {\n  return [{ json: { error: 'OpenClaw credentials not configured. Use add_credential to set them up.' } }];\n}\n\nconst gatewayUrl = (creds.find(c => c.cred_key === 'openclaw_url')?.cred_value || '').replace(/\\/$/, '');\nconst token = creds.find(c => c.cred_key === 'openclaw_token')?.cred_value;\n\nif (!gatewayUrl || !token) {\n  return [{ json: { error: 'OpenClaw Gateway URL and token are both required. Use add_credential to configure them.' } }];\n}\n\nconst message = input.message;\nif (!message) {\n  return [{ json: { error: 'Parameter \"message\" is required.' } }];\n}\n\nconst model = (input.model && input.model !== '') ? input.model : 'openclaw:main';\nconst callerId = creds.find(c => c.cred_key === 'openclaw_caller_id')?.cred_value || 'n8n-claw';\n\ntry {\n  const messages = [{ role: 'user', content: message }];\n\n  // Add system message if provided\n  if (input.system_message && input.system_message !== '') {\n    messages.unshift({ role: 'system', content: input.system_message });\n  }\n\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: gatewayUrl + '/v1/chat/completions',\n    headers: {\n      'Authorization': 'Bearer ' + token,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: model,\n      messages: messages,\n      user: callerId\n    }),\n    timeout: 120000\n  });\n\n  const parsed = typeof resp === 'string' ? JSON.parse(resp) : resp;\n\n  if (parsed.error) {\n    return [{ json: { error: 'OpenClaw error: ' + (parsed.error.message || JSON.stringify(parsed.error)) } }];\n  }\n\n  const choice = parsed.choices && parsed.choices[0];\n  if (!choice) {\n    return [{ json: { error: 'No response from OpenClaw agent.' } }];\n  }\n\n  const content = choice.message?.content || '(empty response)';\n  let result = '**Response from OpenClaw agent:**\\n\\n' + content;\n\n  if (parsed.usage) {\n    result += '\\n\\n(Tokens: ' + (parsed.usage.total_tokens || '?') + ')';\n  }\n\n  return [{ json: { result } }];\n} catch (err) {\n  return [{ json: { error: 'Failed to reach OpenClaw instance: ' + err.message } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "OpenClaw Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: OpenClaw",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "openclaw"
        }
      },
      {
        "id": "tool-send-message",
        "name": "openclaw_send_message",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "openclaw_send_message",
          "description": "Send a message to an OpenClaw autonomous AI agent and get the response. Uses the OpenAI-compatible Gateway API. Parameters: message (required, the message to send), model (agent ID, default 'openclaw:main'), system_message (optional system prompt to prepend)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "message": "={{ $fromAI('message', 'The message to send to the OpenClaw agent', 'string') }}",
              "model": "={{ $fromAI('model', 'Agent ID like openclaw:main or empty string for default', 'string') }}",
              "system_message": "={{ $fromAI('system_message', 'Optional system message or empty string', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "message", "displayName": "message", "type": "string", "description": "Message to send", "required": true },
              { "id": "model", "displayName": "model", "type": "string", "description": "Agent ID or empty string for default", "required": false },
              { "id": "system_message", "displayName": "system_message", "type": "string", "description": "System message or empty string", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "openclaw_send_message": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
