templates/google-ads/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Google Ads",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": { "inputSource": "passthrough" }
      },
      {
        "id": "sub-code",
        "name": "Google Ads Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'list_campaigns';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'Content-Type': 'application/json'\n};\n\nasync function getGoogleToken() {\n  const creds = await helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.google-oauth&select=cred_key,cred_value',\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY }\n  });\n  const m = {};\n  for (const c of creds) m[c.cred_key] = c.cred_value;\n  if (!m.access_token || !m.refresh_token) throw new Error('Google OAuth not configured.');\n  if (new Date(m.token_expiry || 0) <= new Date(Date.now() + 5 * 60 * 1000)) {\n    const resp = await helpers.httpRequest({\n      method: 'POST', url: 'https://oauth2.googleapis.com/token',\n      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(m.refresh_token) + '&client_id=' + encodeURIComponent(m.client_id) + '&client_secret=' + encodeURIComponent(m.client_secret)\n    });\n    if (resp.error) throw new Error('Token refresh failed: ' + resp.error_description);\n    const newExpiry = new Date(Date.now() + (resp.expires_in - 60) * 1000).toISOString();\n    for (const [key, val] of [['access_token', resp.access_token], ['token_expiry', newExpiry]]) {\n      await helpers.httpRequest({ method: 'DELETE', url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.google-oauth&cred_key=eq.' + key, headers: { ...pgHeaders, 'Prefer': 'return=minimal' } });\n      await helpers.httpRequest({ method: 'POST', url: SUPABASE_URL + '/rest/v1/template_credentials', headers: { ...pgHeaders, 'Prefer': 'return=minimal' }, body: JSON.stringify({ template_id: 'google-oauth', cred_key: key, cred_value: val }) });\n    }\n    if (resp.refresh_token) {\n      await helpers.httpRequest({ method: 'DELETE', url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.google-oauth&cred_key=eq.refresh_token', headers: { ...pgHeaders, 'Prefer': 'return=minimal' } });\n      await helpers.httpRequest({ method: 'POST', url: SUPABASE_URL + '/rest/v1/template_credentials', headers: { ...pgHeaders, 'Prefer': 'return=minimal' }, body: JSON.stringify({ template_id: 'google-oauth', cred_key: 'refresh_token', cred_value: resp.refresh_token }) });\n    }\n    return resp.access_token;\n  }\n  return m.access_token;\n}\n\n// Load Ads-specific credentials\nlet adsCreds;\ntry {\n  const rows = await helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.google-ads&select=cred_key,cred_value',\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY }\n  });\n  adsCreds = {};\n  for (const r of rows) adsCreds[r.cred_key] = r.cred_value;\n} catch(e) {\n  return [{ json: { error: 'Could not load Google Ads credentials: ' + e.message } }];\n}\n\nif (!adsCreds.developer_token) return [{ json: { error: 'Google Ads developer_token not configured. Use add_credential to set it up.' } }];\n\nlet accessToken;\ntry { accessToken = await getGoogleToken(); } catch(e) { return [{ json: { error: e.message } }]; }\n\nconst customerId = (adsCreds.customer_id || '').replace(/-/g, '');\nif (!customerId) return [{ json: { error: 'No customer_id configured. Use add_credential to set it up.' } }];\n\nconst adsHeaders = {\n  'Authorization': 'Bearer ' + accessToken,\n  'Content-Type': 'application/json',\n  'developer-token': adsCreds.developer_token\n};\nif (adsCreds.login_customer_id) adsHeaders['login-customer-id'] = adsCreds.login_customer_id.replace(/-/g, '');\n\nconst ADS_BASE = 'https://googleads.googleapis.com/v23/customers/' + customerId;\n\nasync function gaqlQuery(query) {\n  return await helpers.httpRequest({\n    method: 'POST',\n    url: ADS_BASE + '/googleAds:searchStream',\n    headers: adsHeaders,\n    body: JSON.stringify({ query })\n  });\n}\n\n// === list_campaigns ===\nif (action === 'list_campaigns') {\n  let query = 'SELECT campaign.id, campaign.name, campaign.status, campaign.advertising_channel_type, campaign_budget.amount_micros, metrics.impressions, metrics.clicks, metrics.cost_micros FROM campaign';\n  if (input.status_filter) {\n    query += \" WHERE campaign.status = '\" + input.status_filter.toUpperCase() + \"'\";\n  } else {\n    query += \" WHERE campaign.status != 'REMOVED'\";\n  }\n  query += ' ORDER BY campaign.name LIMIT 200';\n\n  try {\n    const resp = await gaqlQuery(query);\n    const results = resp[0] && resp[0].results ? resp[0].results : [];\n    if (results.length === 0) return [{ json: { result: 'No campaigns found.' } }];\n\n    let result = 'Google Ads Campaigns:\\n\\n';\n    for (const r of results) {\n      const c = r.campaign;\n      const m = r.metrics || {};\n      const budget = r.campaignBudget ? (parseInt(r.campaignBudget.amountMicros) / 1000000).toFixed(2) : 'N/A';\n      result += '**' + c.name + '** (ID: ' + c.id + ')\\n';\n      result += 'Status: ' + c.status + ' | Type: ' + c.advertisingChannelType + '\\n';\n      result += 'Budget: ' + budget + ' | Impressions: ' + (m.impressions || 0) + ' | Clicks: ' + (m.clicks || 0) + '\\n';\n      if (m.costMicros) result += 'Cost: ' + (parseInt(m.costMicros) / 1000000).toFixed(2) + '\\n';\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch(e) { return [{ json: { error: 'Failed to list campaigns: ' + e.message } }]; }\n\n// === get_campaign_stats ===\n} else if (action === 'get_campaign_stats') {\n  const campaignId = input.campaign_id;\n  const dateFrom = input.date_from;\n  const dateTo = input.date_to;\n  if (!campaignId || !dateFrom || !dateTo) return [{ json: { error: 'Parameters \"campaign_id\", \"date_from\", and \"date_to\" are required.' } }];\n\n  const query = \"SELECT segments.date, metrics.impressions, metrics.clicks, metrics.ctr, metrics.average_cpc, metrics.cost_micros, metrics.conversions, metrics.conversions_value FROM campaign WHERE campaign.id = \" + campaignId + \" AND segments.date BETWEEN '\" + dateFrom + \"' AND '\" + dateTo + \"' ORDER BY segments.date\";\n\n  try {\n    const resp = await gaqlQuery(query);\n    const results = resp[0] && resp[0].results ? resp[0].results : [];\n    if (results.length === 0) return [{ json: { result: 'No data found for campaign ' + campaignId + ' in the given date range.' } }];\n\n    let result = 'Campaign ' + campaignId + ' Stats (' + dateFrom + ' to ' + dateTo + '):\\n\\n';\n    result += '| Date | Impressions | Clicks | CTR | Avg CPC | Cost | Conversions |\\n';\n    result += '| --- | --- | --- | --- | --- | --- | --- |\\n';\n    for (const r of results) {\n      const m = r.metrics || {};\n      const date = r.segments ? r.segments.date : '';\n      const cost = m.costMicros ? (parseInt(m.costMicros) / 1000000).toFixed(2) : '0';\n      const cpc = m.averageCpc ? (parseInt(m.averageCpc) / 1000000).toFixed(2) : '0';\n      result += '| ' + date + ' | ' + (m.impressions || 0) + ' | ' + (m.clicks || 0) + ' | ' + (m.ctr ? (m.ctr * 100).toFixed(1) + '%' : '0%') + ' | ' + cpc + ' | ' + cost + ' | ' + (m.conversions || 0) + ' |\\n';\n    }\n    return [{ json: { result } }];\n  } catch(e) { return [{ json: { error: 'Campaign stats failed: ' + e.message } }]; }\n\n// === list_ad_groups ===\n} else if (action === 'list_ad_groups') {\n  const campaignId = input.campaign_id;\n  if (!campaignId) return [{ json: { error: 'Parameter \"campaign_id\" is required.' } }];\n\n  const query = 'SELECT ad_group.id, ad_group.name, ad_group.status, ad_group.type, metrics.impressions, metrics.clicks, metrics.cost_micros FROM ad_group WHERE campaign.id = ' + campaignId + ' ORDER BY ad_group.name LIMIT 50';\n\n  try {\n    const resp = await gaqlQuery(query);\n    const results = resp[0] && resp[0].results ? resp[0].results : [];\n    if (results.length === 0) return [{ json: { result: 'No ad groups found for campaign ' + campaignId + '.' } }];\n\n    let result = 'Ad Groups for Campaign ' + campaignId + ':\\n\\n';\n    for (const r of results) {\n      const ag = r.adGroup;\n      const m = r.metrics || {};\n      result += '**' + ag.name + '** (ID: ' + ag.id + ')\\n';\n      result += 'Status: ' + ag.status + ' | Type: ' + ag.type + '\\n';\n      result += 'Impressions: ' + (m.impressions || 0) + ' | Clicks: ' + (m.clicks || 0);\n      if (m.costMicros) result += ' | Cost: ' + (parseInt(m.costMicros) / 1000000).toFixed(2);\n      result += '\\n\\n';\n    }\n    return [{ json: { result } }];\n  } catch(e) { return [{ json: { error: 'Failed to list ad groups: ' + e.message } }]; }\n\n// === get_account_stats ===\n} else if (action === 'get_account_stats') {\n  const dateFrom = input.date_from;\n  const dateTo = input.date_to;\n  if (!dateFrom || !dateTo) return [{ json: { error: 'Parameters \"date_from\" and \"date_to\" are required.' } }];\n\n  const query = \"SELECT metrics.impressions, metrics.clicks, metrics.ctr, metrics.cost_micros, metrics.conversions, metrics.conversions_value, metrics.average_cpc FROM customer WHERE segments.date BETWEEN '\" + dateFrom + \"' AND '\" + dateTo + \"'\";\n\n  try {\n    const resp = await gaqlQuery(query);\n    const results = resp[0] && resp[0].results ? resp[0].results : [];\n    if (results.length === 0) return [{ json: { result: 'No performance data found for the given date range.' } }];\n\n    const m = results[0].metrics || {};\n    let result = 'Overall Ad Performance (' + dateFrom + ' to ' + dateTo + '):\\n\\n';\n    result += 'Impressions: ' + (m.impressions || 0) + '\\n';\n    result += 'Clicks: ' + (m.clicks || 0) + '\\n';\n    result += 'CTR: ' + (m.ctr ? (m.ctr * 100).toFixed(2) + '%' : 'N/A') + '\\n';\n    result += 'Avg. CPC: ' + (m.averageCpc ? (parseInt(m.averageCpc) / 1000000).toFixed(2) : 'N/A') + '\\n';\n    result += 'Total Cost: ' + (m.costMicros ? (parseInt(m.costMicros) / 1000000).toFixed(2) : '0') + '\\n';\n    result += 'Conversions: ' + (m.conversions || 0) + '\\n';\n    result += 'Conversion Value: ' + (m.conversionsValue || 0) + '\\n';\n    return [{ json: { result } }];\n  } catch(e) { return [{ json: { error: 'Ad performance query failed: ' + e.message } }]; }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Available: list_campaigns, get_campaign_stats, list_ad_groups, get_account_stats.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Google Ads Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Google Ads",
    "settings": { "executionOrder": "v1" },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": { "path": "google-ads" }
      },
      {
        "id": "tool-list-campaigns",
        "name": "list_campaigns",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "list_campaigns",
          "description": "List Google Ads campaigns with performance summary. Parameters: status_filter (optional: ENABLED, PAUSED, REMOVED)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_campaigns",
              "status_filter": "={{ $fromAI('status_filter', 'Filter by status: ENABLED, PAUSED, REMOVED (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "required": true },
              { "id": "status_filter", "displayName": "status_filter", "type": "string", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-campaign-stats",
        "name": "get_campaign_stats",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [300, 300],
        "parameters": {
          "name": "get_campaign_stats",
          "description": "Get detailed campaign performance statistics by date. Parameters: campaign_id (required), date_from (YYYY-MM-DD, required), date_to (YYYY-MM-DD, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_campaign_stats",
              "campaign_id": "={{ $fromAI('campaign_id', 'Campaign ID', 'string') }}",
              "date_from": "={{ $fromAI('date_from', 'Start date YYYY-MM-DD', 'string') }}",
              "date_to": "={{ $fromAI('date_to', 'End date YYYY-MM-DD', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "required": true },
              { "id": "campaign_id", "displayName": "campaign_id", "type": "string", "required": true },
              { "id": "date_from", "displayName": "date_from", "type": "string", "required": true },
              { "id": "date_to", "displayName": "date_to", "type": "string", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-ad-groups",
        "name": "list_ad_groups",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [600, 300],
        "parameters": {
          "name": "list_ad_groups",
          "description": "List ad groups for a specific campaign. Parameters: campaign_id (required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_ad_groups",
              "campaign_id": "={{ $fromAI('campaign_id', 'Campaign ID', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "required": true },
              { "id": "campaign_id", "displayName": "campaign_id", "type": "string", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-account-stats",
        "name": "get_account_stats",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [900, 300],
        "parameters": {
          "name": "get_account_stats",
          "description": "Get ACCOUNT-LEVEL totals (impressions, clicks, cost, conversions) across ALL campaigns for a date range. USE THIS for questions like 'how many clicks yesterday' or 'total spend this month'. No campaign_id needed. Parameters: date_from (YYYY-MM-DD, required), date_to (YYYY-MM-DD, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_account_stats",
              "date_from": "={{ $fromAI('date_from', 'Start date YYYY-MM-DD', 'string') }}",
              "date_to": "={{ $fromAI('date_to', 'End date YYYY-MM-DD', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "required": true },
              { "id": "date_from", "displayName": "date_from", "type": "string", "required": true },
              { "id": "date_to", "displayName": "date_to", "type": "string", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "list_campaigns": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_campaign_stats": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_ad_groups": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_account_stats": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
