templates/overpass-osm/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Overpass OSM",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Overpass Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'find_nearby';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\n// Built-in fallback chain: main + unmetered mirrors (private.coffee has no rate limit,\n// kumi.systems is operated by same team). User-set endpoint (if any) goes first.\nconst DEFAULT_ENDPOINTS = [\n  'https://overpass-api.de/api/interpreter',\n  'https://overpass.private.coffee/api/interpreter',\n  'https://overpass.kumi.systems/api/interpreter'\n];\n\nlet endpoints = [...DEFAULT_ENDPOINTS];\ntry {\n  const creds = await helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.overpass-osm&cred_key=eq.overpass_endpoint&select=cred_value',\n    headers: pgHeaders\n  });\n  if (creds && creds[0] && creds[0].cred_value) {\n    const custom = creds[0].cred_value.trim();\n    endpoints = [custom, ...DEFAULT_ENDPOINTS.filter(e => e !== custom)];\n  }\n} catch (e) { /* use default chain */ }\n\nasync function overpassQuery(ql) {\n  const attempts = [];\n  for (const url of endpoints) {\n    try {\n      const resp = await helpers.httpRequest({\n        method: 'POST',\n        url,\n        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n        body: 'data=' + encodeURIComponent(ql),\n        timeout: 30000\n      });\n      if (typeof resp === 'string' && resp.trim().startsWith('<')) {\n        attempts.push(url + ': rate-limit HTML');\n        continue;\n      }\n      return resp;\n    } catch (e) {\n      const code = e.response && e.response.status;\n      attempts.push(url + ': ' + (code ? 'HTTP ' + code : e.message));\n      // 4xx (except 429) = client/query error, don't retry on other mirrors\n      if (code && code >= 400 && code < 500 && code !== 429) {\n        throw new Error('Overpass rejected query (HTTP ' + code + '). Likely a syntax error in the Overpass QL.');\n      }\n      // 429/5xx/network/timeout -> try next mirror\n    }\n  }\n  throw new Error('All Overpass endpoints unavailable. Attempts: ' + attempts.join('; '));\n}\n\nconst PRESETS = {\n  restaurant: { type: 'amenity', value: 'restaurant', label: 'Restaurants' },\n  cafe: { type: 'amenity', value: 'cafe', label: 'Cafes' },\n  bar: { type: 'amenity', value: 'bar', label: 'Bars' },\n  pub: { type: 'amenity', value: 'pub', label: 'Pubs' },\n  fast_food: { type: 'amenity', value: 'fast_food', label: 'Fast food' },\n  biergarten: { type: 'amenity', value: 'biergarten', label: 'Beer gardens' },\n  hotel: { type: 'tourism', value: 'hotel', label: 'Hotels' },\n  guest_house: { type: 'tourism', value: 'guest_house', label: 'Guest houses' },\n  hostel: { type: 'tourism', value: 'hostel', label: 'Hostels' },\n  alpine_hut: { type: 'tourism', value: 'alpine_hut', label: 'Alpine huts' },\n  supermarket: { type: 'shop', value: 'supermarket', label: 'Supermarkets' },\n  bakery: { type: 'shop', value: 'bakery', label: 'Bakeries' },\n  pharmacy: { type: 'amenity', value: 'pharmacy', label: 'Pharmacies' },\n  attraction: { type: 'tourism', value: 'attraction', label: 'Attractions' },\n  museum: { type: 'tourism', value: 'museum', label: 'Museums' },\n  gallery: { type: 'tourism', value: 'gallery', label: 'Galleries' },\n  information: { type: 'tourism', value: 'information', label: 'Tourist info' },\n  parking: { type: 'amenity', value: 'parking', label: 'Parking' },\n  fuel: { type: 'amenity', value: 'fuel', label: 'Gas stations' },\n  charging_station: { type: 'amenity', value: 'charging_station', label: 'EV charging' },\n  atm: { type: 'amenity', value: 'atm', label: 'ATMs' },\n  toilets: { type: 'amenity', value: 'toilets', label: 'Public toilets' },\n  drinking_water: { type: 'amenity', value: 'drinking_water', label: 'Drinking water' },\n  shelter: { type: 'amenity', value: 'shelter', label: 'Shelters' },\n  peak: { type: 'natural', value: 'peak', label: 'Mountain peaks' },\n  picnic_site: { type: 'tourism', value: 'picnic_site', label: 'Picnic sites' },\n  waterfall: { type: 'waterway', value: 'waterfall', label: 'Waterfalls' },\n  spring: { type: 'natural', value: 'spring', label: 'Springs' },\n  camp_site: { type: 'tourism', value: 'camp_site', label: 'Camp sites' }\n};\n\nasync function geocode(place) {\n  const results = await helpers.httpRequest({\n    method: 'GET',\n    url: 'https://nominatim.openstreetmap.org/search?q=' + encodeURIComponent(place) + '&format=json&limit=1',\n    headers: { 'User-Agent': 'n8n-claw-overpass/1.0' }\n  });\n  if (!results || results.length === 0) return null;\n  return { lat: parseFloat(results[0].lat), lon: parseFloat(results[0].lon), name: results[0].display_name };\n}\n\n// === geocode_place ===\nif (action === 'geocode_place') {\n  const place = input.place;\n  if (!place) return [{ json: { error: 'Parameter \"place\" is required (city, address, or landmark name).' } }];\n  try {\n    const g = await geocode(place);\n    if (!g) return [{ json: { error: 'Place not found: ' + place } }];\n    return [{ json: { result: g.name + '\\nLat: ' + g.lat + ', Lon: ' + g.lon } }];\n  } catch (e) {\n    return [{ json: { error: 'Geocoding failed: ' + e.message } }];\n  }\n}\n\n// === find_nearby ===\nif (action === 'find_nearby') {\n  const category = input.category;\n  if (!category || !PRESETS[category]) {\n    return [{ json: { error: 'Parameter \"category\" required. Available: ' + Object.keys(PRESETS).join(', ') } }];\n  }\n  let lat = parseFloat(input.lat);\n  let lon = parseFloat(input.lon);\n  const radius = parseInt(input.radius) || 1000;\n  const limit = parseInt(input.limit) || 15;\n\n  if ((isNaN(lat) || isNaN(lon)) && input.place) {\n    try {\n      const g = await geocode(input.place);\n      if (!g) return [{ json: { error: 'Place not found: ' + input.place } }];\n      lat = g.lat; lon = g.lon;\n    } catch (e) {\n      return [{ json: { error: 'Geocoding failed: ' + e.message } }];\n    }\n  }\n  if (isNaN(lat) || isNaN(lon)) {\n    return [{ json: { error: 'Provide either lat+lon (decimal coordinates) or place (city/address name).' } }];\n  }\n\n  const preset = PRESETS[category];\n  const filter = '[\"' + preset.type + '\"=\"' + preset.value + '\"]';\n  const around = '(around:' + radius + ',' + lat + ',' + lon + ')';\n  const ql = '[out:json][timeout:25];(node' + filter + around + ';way' + filter + around + ';relation' + filter + around + ';);out center ' + limit + ';';\n\n  let resp;\n  try {\n    resp = await overpassQuery(ql);\n  } catch (e) {\n    return [{ json: { error: e.message } }];\n  }\n\n  const elements = (resp && resp.elements) || [];\n  if (elements.length === 0) {\n    return [{ json: { result: 'No ' + preset.label.toLowerCase() + ' found within ' + radius + 'm of (' + lat.toFixed(4) + ',' + lon.toFixed(4) + ').' } }];\n  }\n\n  let out = preset.label + ' within ' + radius + 'm of (' + lat.toFixed(4) + ',' + lon.toFixed(4) + ') - ' + elements.length + ' results:\\n\\n';\n  for (const el of elements.slice(0, limit)) {\n    const tags = el.tags || {};\n    const name = tags.name || tags['name:en'] || tags.brand || '(unnamed)';\n    const elLat = el.lat || (el.center && el.center.lat);\n    const elLon = el.lon || (el.center && el.center.lon);\n    out += '- ' + name;\n    if (tags.cuisine) out += ' [' + tags.cuisine + ']';\n    if (tags.stars) out += ' [' + tags.stars + ' stars]';\n    if (tags.ele) out += ' [' + tags.ele + 'm]';\n    if (elLat && elLon) out += ' (' + Number(elLat).toFixed(4) + ',' + Number(elLon).toFixed(4) + ')';\n    out += '\\n';\n    const details = [];\n    if (tags['addr:street']) {\n      let addr = tags['addr:street'];\n      if (tags['addr:housenumber']) addr += ' ' + tags['addr:housenumber'];\n      details.push(addr);\n    }\n    if (tags.opening_hours) details.push('Hours: ' + tags.opening_hours);\n    if (tags.phone) details.push('Tel: ' + tags.phone);\n    if (tags.website) details.push(tags.website);\n    if (tags.wheelchair && tags.wheelchair !== 'no') details.push('Wheelchair: ' + tags.wheelchair);\n    if (tags.internet_access) details.push('WiFi: ' + tags.internet_access);\n    if (tags.fee) details.push('Fee: ' + tags.fee);\n    if (details.length) out += '  ' + details.join(' | ') + '\\n';\n  }\n\n  if (out.length > 5000) out = out.substring(0, 5000) + '\\n... (truncated)';\n  return [{ json: { result: out } }];\n}\n\n// === search_custom ===\nif (action === 'search_custom') {\n  const query = input.query;\n  if (!query) {\n    return [{ json: { error: 'Parameter \"query\" (Overpass QL) is required. Example: [out:json][timeout:25];node[amenity=cafe](around:500,51.4124,7.0018);out;' } }];\n  }\n  let resp;\n  try {\n    resp = await overpassQuery(query);\n  } catch (e) {\n    return [{ json: { error: e.message } }];\n  }\n  const elements = (resp && resp.elements) || [];\n  let out = 'Overpass result: ' + elements.length + ' elements\\n\\n';\n  for (const el of elements.slice(0, 20)) {\n    const tags = el.tags || {};\n    const name = tags.name || '(unnamed)';\n    const elLat = el.lat || (el.center && el.center.lat);\n    const elLon = el.lon || (el.center && el.center.lon);\n    out += '- [' + el.type + '/' + el.id + '] ' + name;\n    if (elLat && elLon) out += ' (' + Number(elLat).toFixed(4) + ',' + Number(elLon).toFixed(4) + ')';\n    out += '\\n';\n    const topTags = ['amenity', 'tourism', 'shop', 'natural', 'cuisine', 'opening_hours'];\n    const tagBits = [];\n    for (const k of topTags) if (tags[k]) tagBits.push(k + '=' + tags[k]);\n    if (tagBits.length) out += '  ' + tagBits.join(', ') + '\\n';\n  }\n  if (elements.length > 20) out += '\\n... and ' + (elements.length - 20) + ' more\\n';\n  if (out.length > 5000) out = out.substring(0, 5000) + '\\n... (truncated)';\n  return [{ json: { result: out } }];\n}\n\nreturn [{ json: { error: 'Unknown action: ' + action + '. Available: geocode_place, find_nearby, search_custom.' } }];\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Overpass Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Overpass OSM",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "overpass-osm"
        }
      },
      {
        "id": "tool-geocode",
        "name": "geocode_place",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "geocode_place",
          "description": "Convert a place name, address, or city into latitude/longitude coordinates. Parameters: place (name/address, required). Returns human-readable location + coordinates.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "geocode_place",
              "place": "={{ $fromAI('place', 'Place name, address, or city (e.g. Baldeneysee Essen, Brandenburger Tor Berlin, Marienplatz Munich)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "place", "displayName": "place", "type": "string", "description": "Place name, address, or city", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-find-nearby",
        "name": "find_nearby",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "find_nearby",
          "description": "Find points of interest near a location by category. Parameters: category (required, one of: restaurant, cafe, bar, pub, fast_food, biergarten, hotel, guest_house, hostel, alpine_hut, supermarket, bakery, pharmacy, attraction, museum, gallery, information, parking, fuel, charging_station, atm, toilets, drinking_water, shelter, peak, picnic_site, waterfall, spring, camp_site), lat+lon (decimal coordinates) OR place (name/address to auto-geocode), radius (meters, optional, default 1000), limit (max results, optional, default 15).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "find_nearby",
              "category": "={{ $fromAI('category', 'POI category (restaurant, cafe, hotel, drinking_water, alpine_hut, peak, camp_site, etc.)', 'string') }}",
              "lat": "={{ $fromAI('lat', 'Latitude as decimal (e.g. 48.1371). Either lat+lon OR place required.', 'string') }}",
              "lon": "={{ $fromAI('lon', 'Longitude as decimal (e.g. 11.5754). Either lat+lon OR place required.', 'string') }}",
              "place": "={{ $fromAI('place', 'Place name to auto-geocode (alternative to lat+lon)', 'string') }}",
              "radius": "={{ $fromAI('radius', 'Search radius in meters (default 1000)', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Max results (default 15)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "category", "displayName": "category", "type": "string", "description": "POI preset category", "required": true },
              { "id": "lat", "displayName": "lat", "type": "string", "description": "Latitude", "required": false },
              { "id": "lon", "displayName": "lon", "type": "string", "description": "Longitude", "required": false },
              { "id": "place", "displayName": "place", "type": "string", "description": "Place name for auto-geocoding", "required": false },
              { "id": "radius", "displayName": "radius", "type": "string", "description": "Search radius in meters", "required": false },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Max results", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-search-custom",
        "name": "search_custom",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "search_custom",
          "description": "Run a custom Overpass QL query (for advanced queries beyond the presets). Parameters: query (Overpass QL string, required). Example: '[out:json][timeout:25];node[historic=castle](around:5000,48.1,11.5);out;'",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_custom",
              "query": "={{ $fromAI('query', 'Complete Overpass QL query string', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Overpass QL query", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "geocode_place": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "find_nearby": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "search_custom": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
