templates/unsplash/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Unsplash",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Unsplash Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || '';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.unsplash&cred_key=eq.unsplash_access_key&select=cred_value',\n  headers: pgHeaders\n});\nif (!creds || !creds[0] || !creds[0].cred_value) {\n  return [{ json: { error: 'Unsplash Access Key not configured. Use add_credential to set it up.' } }];\n}\nconst accessKey = creds[0].cred_value;\nconst API = 'https://api.unsplash.com';\nconst authHeaders = { 'Authorization': 'Client-ID ' + accessKey, 'Accept-Version': 'v1' };\nconst UTM = '?utm_source=n8n-claw&utm_medium=referral';\n\nconst validOrientations = ['landscape', 'portrait', 'squarish'];\n\nfunction formatPhoto(p) {\n  const desc = p.description || p.alt_description || '(no description)';\n  const photographer = p.user ? p.user.name : 'Unknown';\n  const photographerLink = (p.user && p.user.links && p.user.links.html) ? (p.user.links.html + UTM) : '';\n  const photoLink = (p.links && p.links.html) ? (p.links.html + UTM) : '';\n  let out = '**' + desc + '**\\n';\n  out += 'ID: ' + p.id + '\\n';\n  if (p.width && p.height) out += 'Size: ' + p.width + 'x' + p.height + '\\n';\n  if (p.color) out += 'Color: ' + p.color + '\\n';\n  if (typeof p.likes === 'number') out += 'Likes: ' + p.likes + '\\n';\n  if (p.urls) {\n    out += 'Image (regular): ' + p.urls.regular + '\\n';\n    out += 'Image (small): ' + p.urls.small + '\\n';\n  }\n  out += 'Photo page: ' + photoLink + '\\n';\n  out += 'Photo by ' + photographer + ' on Unsplash' + (photographerLink ? ' (' + photographerLink + ')' : '') + '\\n';\n  return out;\n}\n\n// === search_photos ===\nif (action === 'search_photos') {\n  const query = input.query;\n  if (!query) {\n    return [{ json: { error: 'Parameter \"query\" is required. Examples: \"mountains\", \"coffee\", \"berlin skyline\".' } }];\n  }\n  const limit = Math.min(parseInt(input.limit) || 5, 20);\n  const orientation = input.orientation;\n  let url = API + '/search/photos?query=' + encodeURIComponent(query) + '&per_page=' + limit;\n  if (orientation && validOrientations.includes(orientation)) {\n    url += '&orientation=' + orientation;\n  }\n\n  try {\n    const data = await helpers.httpRequest({ method: 'GET', url, headers: authHeaders });\n    const results = data.results || [];\n    if (results.length === 0) {\n      return [{ json: { result: 'No photos found for: ' + query } }];\n    }\n    let out = 'Found ' + data.total + ' photos for \"' + query + '\", showing top ' + results.length + ':\\n\\n';\n    for (const p of results) {\n      out += formatPhoto(p) + '\\n';\n    }\n    out += '---\\nImages hosted on Unsplash (https://unsplash.com' + UTM + '). Attribution required when displayed.';\n    if (out.length > 5000) out = out.substring(0, 5000) + '\\n... (truncated)';\n    return [{ json: { result: out } }];\n  } catch (err) {\n    return [{ json: { error: 'Unsplash search failed: ' + err.message } }];\n  }\n\n// === get_random_photo ===\n} else if (action === 'get_random_photo') {\n  const query = input.query;\n  const orientation = input.orientation;\n  let url = API + '/photos/random';\n  const params = [];\n  if (query) params.push('query=' + encodeURIComponent(query));\n  if (orientation && validOrientations.includes(orientation)) params.push('orientation=' + orientation);\n  if (params.length > 0) url += '?' + params.join('&');\n\n  try {\n    const data = await helpers.httpRequest({ method: 'GET', url, headers: authHeaders });\n    if (!data || !data.id) {\n      return [{ json: { error: 'No random photo returned' + (query ? ' for query: ' + query : '') + '.' } }];\n    }\n    let out = 'Random photo' + (query ? ' for \"' + query + '\"' : '') + ':\\n\\n';\n    out += formatPhoto(data) + '\\n';\n    out += '---\\nImage hosted on Unsplash (https://unsplash.com' + UTM + '). Attribution required when displayed.';\n    return [{ json: { result: out } }];\n  } catch (err) {\n    return [{ json: { error: 'Unsplash random photo failed: ' + err.message } }];\n  }\n\n// === get_photo ===\n} else if (action === 'get_photo') {\n  const photoId = input.photo_id;\n  if (!photoId) {\n    return [{ json: { error: 'Parameter \"photo_id\" is required (e.g. eAAjKAGEKmI from search_photos).' } }];\n  }\n\n  try {\n    const p = await helpers.httpRequest({\n      method: 'GET',\n      url: API + '/photos/' + encodeURIComponent(photoId),\n      headers: authHeaders\n    });\n    let out = formatPhoto(p) + '\\n';\n    if (p.tags && p.tags.length > 0) {\n      const tagTitles = p.tags.map(t => t.title).slice(0, 10);\n      out += 'Tags: ' + tagTitles.join(', ') + '\\n';\n    }\n    if (p.location && (p.location.city || p.location.country || p.location.name)) {\n      const loc = [p.location.city, p.location.country].filter(Boolean).join(', ') || p.location.name;\n      out += 'Location: ' + loc + '\\n';\n    }\n    if (p.urls && p.urls.raw) out += 'Image (raw): ' + p.urls.raw + '\\n';\n    out += '\\nImage hosted on Unsplash (https://unsplash.com' + UTM + '). Attribution required when displayed.';\n    return [{ json: { result: out } }];\n  } catch (err) {\n    return [{ json: { error: 'Unsplash get_photo failed: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: \"' + action + '\". Available: search_photos, get_random_photo, get_photo.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Unsplash Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Unsplash",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "unsplash"
        }
      },
      {
        "id": "tool-search-photos",
        "name": "search_photos",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "search_photos",
          "description": "Search Unsplash for free photos matching a keyword. Returns image URLs plus photographer attribution. Parameters: query (required), limit (optional, default 5, max 20), orientation (optional: landscape|portrait|squarish).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_photos",
              "query": "={{ $fromAI('query', 'Search keyword (e.g. mountains, coffee, berlin skyline)', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Number of results (default 5, max 20)', 'string') }}",
              "orientation": "={{ $fromAI('orientation', 'Orientation filter: landscape, portrait, or squarish (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Search keyword", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Number of results", "required": false },
              { "id": "orientation", "displayName": "orientation", "type": "string", "description": "Orientation filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-random-photo",
        "name": "get_random_photo",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "get_random_photo",
          "description": "Get a single random Unsplash photo. Parameters: query (optional topic filter), orientation (optional: landscape|portrait|squarish).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_random_photo",
              "query": "={{ $fromAI('query', 'Optional topic filter (e.g. ocean, city)', 'string') }}",
              "orientation": "={{ $fromAI('orientation', 'Orientation: landscape, portrait, or squarish (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Optional topic filter", "required": false },
              { "id": "orientation", "displayName": "orientation", "type": "string", "description": "Orientation filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-photo",
        "name": "get_photo",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "get_photo",
          "description": "Get detailed info about a specific Unsplash photo including tags, dimensions, likes, and location. Parameters: photo_id (required, e.g. eAAjKAGEKmI).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_photo",
              "photo_id": "={{ $fromAI('photo_id', 'Unsplash photo ID (e.g. eAAjKAGEKmI)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "photo_id", "displayName": "photo_id", "type": "string", "description": "Unsplash photo ID", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "search_photos": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_random_photo": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_photo": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      }
    }
  }
}
