templates/nocodb-crm/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: NocoDB CRM",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "NocoDB Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'list_bases';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.nocodb-crm&select=cred_key,cred_value',\n  headers: pgHeaders\n});\n\nif (!creds || creds.length === 0) {\n  return [{ json: { error: 'NocoDB credentials not configured. Use add_credential to set them up.' } }];\n}\n\nconst baseUrl = (creds.find(c => c.cred_key === 'nocodb_url')?.cred_value || '').replace(/\\/$/, '');\nconst token = creds.find(c => c.cred_key === 'nocodb_token')?.cred_value;\n\nif (!baseUrl || !token) {\n  return [{ json: { error: 'NocoDB URL and API token are both required. Use add_credential to configure them.' } }];\n}\n\nconst apiHeaders = {\n  'xc-token': token,\n  'Content-Type': 'application/json'\n};\n\n// === list_bases ===\nif (action === 'list_bases') {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: baseUrl + '/api/v2/meta/bases',\n      headers: apiHeaders\n    });\n\n    const bases = resp.list || resp || [];\n    if (!Array.isArray(bases) || bases.length === 0) {\n      return [{ json: { result: 'No bases found.' } }];\n    }\n\n    let result = 'Bases (' + bases.length + '):\\n\\n';\n    for (const b of bases) {\n      result += '- **' + (b.title || b.name || '?') + '** (ID: ' + b.id + ')';\n      if (b.description) result += '\\n  ' + b.description.substring(0, 100);\n      result += '\\n';\n    }\n    result += '\\nUse a Base ID with nocodb_list_tables to see its tables.';\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list bases: ' + err.message } }];\n  }\n\n// === list_tables ===\n} else if (action === 'list_tables') {\n  const baseId = input.base_id;\n  if (!baseId) return [{ json: { error: 'Parameter \"base_id\" is required. Use nocodb_list_bases to find base IDs.' } }];\n\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: baseUrl + '/api/v2/meta/bases/' + baseId + '/tables',\n      headers: apiHeaders\n    });\n\n    const tables = resp.list || resp || [];\n    if (!Array.isArray(tables) || tables.length === 0) {\n      return [{ json: { result: 'No tables found in this base.' } }];\n    }\n\n    let result = 'Tables (' + tables.length + '):\\n\\n';\n    for (const t of tables) {\n      result += '- **' + t.title + '** (ID: ' + t.id + ')';\n      result += '\\n';\n    }\n    result += '\\nUse a Table ID with nocodb_list_records to see its data.';\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list tables: ' + err.message } }];\n  }\n\n// === list_records ===\n} else if (action === 'list_records') {\n  const tableId = input.table_id;\n  if (!tableId) return [{ json: { error: 'Parameter \"table_id\" is required. Use nocodb_list_tables to find table IDs.' } }];\n\n  try {\n    let url = baseUrl + '/api/v2/tables/' + tableId + '/records';\n    const params = [];\n    const limit = input.limit && input.limit !== '' ? input.limit : '25';\n    params.push('limit=' + limit);\n    if (input.offset && input.offset !== '') params.push('offset=' + input.offset);\n    if (input.where && input.where !== '') params.push('where=' + encodeURIComponent(input.where));\n    if (input.sort && input.sort !== '') params.push('sort=' + encodeURIComponent(input.sort));\n    if (input.fields && input.fields !== '') params.push('fields=' + encodeURIComponent(input.fields));\n    url += '?' + params.join('&');\n\n    const resp = await helpers.httpRequest({ method: 'GET', url, headers: apiHeaders });\n    const records = resp.list || [];\n    const pageInfo = resp.pageInfo || {};\n\n    if (records.length === 0) {\n      return [{ json: { result: 'No records found.' } }];\n    }\n\n    let result = 'Records (' + records.length;\n    if (pageInfo.totalRows) result += ' of ' + pageInfo.totalRows;\n    result += '):\\n\\n';\n\n    for (const r of records.slice(0, 20)) {\n      const id = r.Id || r.id || r.ncRecordId || '?';\n      result += '**Record ' + id + '**\\n';\n      for (const [key, val] of Object.entries(r)) {\n        if (key === 'ncRecordId' || key === 'ncRecordHash') continue;\n        const display = val === null ? '(empty)' : String(val).substring(0, 200);\n        result += '  ' + key + ': ' + display + '\\n';\n      }\n      result += '\\n';\n    }\n\n    if (records.length > 20) result += '(' + (records.length - 20) + ' more records not shown)';\n    if (pageInfo.isLastPage === false) result += '\\nMore records available — use offset to paginate.';\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list records: ' + err.message } }];\n  }\n\n// === get_record ===\n} else if (action === 'get_record') {\n  const tableId = input.table_id;\n  const recordId = input.record_id;\n  if (!tableId) return [{ json: { error: 'Parameter \"table_id\" is required.' } }];\n  if (!recordId) return [{ json: { error: 'Parameter \"record_id\" is required.' } }];\n\n  try {\n    const record = await helpers.httpRequest({\n      method: 'GET',\n      url: baseUrl + '/api/v2/tables/' + tableId + '/records/' + recordId,\n      headers: apiHeaders\n    });\n\n    let result = '**Record ' + recordId + '**\\n\\n';\n    for (const [key, val] of Object.entries(record)) {\n      if (key === 'ncRecordId' || key === 'ncRecordHash') continue;\n      const display = val === null ? '(empty)' : String(val).substring(0, 500);\n      result += '**' + key + '**: ' + display + '\\n';\n    }\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get record: ' + err.message } }];\n  }\n\n// === create_record ===\n} else if (action === 'create_record') {\n  const tableId = input.table_id;\n  const dataStr = input.data;\n  if (!tableId) return [{ json: { error: 'Parameter \"table_id\" is required.' } }];\n  if (!dataStr) return [{ json: { error: 'Parameter \"data\" is required (JSON string of field:value pairs).' } }];\n\n  try {\n    const data = typeof dataStr === 'string' ? JSON.parse(dataStr) : dataStr;\n\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl + '/api/v2/tables/' + tableId + '/records',\n      headers: apiHeaders,\n      body: JSON.stringify(data)\n    });\n\n    const record = typeof resp === 'string' ? JSON.parse(resp) : resp;\n    const id = record.Id || record.id || record.ncRecordId || '?';\n    let result = 'Record created (ID: ' + id + ')\\n\\n';\n    for (const [key, val] of Object.entries(record)) {\n      if (key === 'ncRecordId' || key === 'ncRecordHash') continue;\n      result += '**' + key + '**: ' + (val === null ? '(empty)' : String(val)) + '\\n';\n    }\n\n    return [{ json: { result } }];\n  } catch (err) {\n    if (err.message && err.message.includes('JSON')) {\n      return [{ json: { error: 'Invalid JSON in data parameter: ' + err.message } }];\n    }\n    return [{ json: { error: 'Failed to create record: ' + err.message } }];\n  }\n\n// === update_record ===\n} else if (action === 'update_record') {\n  const tableId = input.table_id;\n  const recordId = input.record_id;\n  const dataStr = input.data;\n  if (!tableId) return [{ json: { error: 'Parameter \"table_id\" is required.' } }];\n  if (!recordId) return [{ json: { error: 'Parameter \"record_id\" is required.' } }];\n  if (!dataStr) return [{ json: { error: 'Parameter \"data\" is required (JSON string of fields to update).' } }];\n\n  try {\n    const data = typeof dataStr === 'string' ? JSON.parse(dataStr) : dataStr;\n    data.Id = parseInt(recordId) || recordId;\n\n    const resp = await helpers.httpRequest({\n      method: 'PATCH',\n      url: baseUrl + '/api/v2/tables/' + tableId + '/records',\n      headers: apiHeaders,\n      body: JSON.stringify(data)\n    });\n\n    const record = typeof resp === 'string' ? JSON.parse(resp) : resp;\n    let result = 'Record ' + recordId + ' updated.\\n\\n';\n    if (typeof record === 'object' && record !== null) {\n      for (const [key, val] of Object.entries(record)) {\n        if (key === 'ncRecordId' || key === 'ncRecordHash') continue;\n        result += '**' + key + '**: ' + (val === null ? '(empty)' : String(val)) + '\\n';\n      }\n    }\n\n    return [{ json: { result } }];\n  } catch (err) {\n    if (err.message && err.message.includes('JSON')) {\n      return [{ json: { error: 'Invalid JSON in data parameter: ' + err.message } }];\n    }\n    return [{ json: { error: 'Failed to update record: ' + err.message } }];\n  }\n\n// === delete_record ===\n} else if (action === 'delete_record') {\n  const tableId = input.table_id;\n  const recordId = input.record_id;\n  if (!tableId) return [{ json: { error: 'Parameter \"table_id\" is required.' } }];\n  if (!recordId) return [{ json: { error: 'Parameter \"record_id\" is required.' } }];\n\n  try {\n    await helpers.httpRequest({\n      method: 'DELETE',\n      url: baseUrl + '/api/v2/tables/' + tableId + '/records',\n      headers: apiHeaders,\n      body: JSON.stringify({ Id: parseInt(recordId) || recordId })\n    });\n    return [{ json: { result: 'Record ' + recordId + ' deleted from table ' + tableId + '.' } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to delete record: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use list_bases, list_tables, list_records, get_record, create_record, update_record, or delete_record.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "NocoDB Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: NocoDB CRM",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "nocodb-crm"
        }
      },
      {
        "id": "tool-list-bases",
        "name": "nocodb_list_bases",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "nocodb_list_bases",
          "description": "List all NocoDB bases (databases) with their IDs. Use this first to discover available bases, then use nocodb_list_tables with a base ID.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_bases"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-tables",
        "name": "nocodb_list_tables",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "nocodb_list_tables",
          "description": "List all tables in a NocoDB base. Parameters: base_id (required, base ID from nocodb_list_bases)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_tables",
              "base_id": "={{ $fromAI('base_id', 'Base ID from nocodb_list_bases', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "base_id", "displayName": "base_id", "type": "string", "description": "Base ID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-records",
        "name": "nocodb_list_records",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "nocodb_list_records",
          "description": "List records from a NocoDB table. Parameters: table_id (required, table ID from nocodb_list_tables), limit (max records, default 25), offset (skip N records), where (filter like '(Status,eq,Active)'), sort (field name, prefix with '-' for descending), fields (comma-separated field names)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_records",
              "table_id": "={{ $fromAI('table_id', 'Table ID from nocodb_list_tables', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Max records to return or empty string for default 25', 'string') }}",
              "offset": "={{ $fromAI('offset', 'Number of records to skip or empty string', 'string') }}",
              "where": "={{ $fromAI('where', 'NocoDB filter expression like (Status,eq,Active) or empty string', 'string') }}",
              "sort": "={{ $fromAI('sort', 'Sort field with optional - prefix for descending or empty string', 'string') }}",
              "fields": "={{ $fromAI('fields', 'Comma-separated field names or empty string for all', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "table_id", "displayName": "table_id", "type": "string", "description": "Table ID", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Max records or empty string", "required": false },
              { "id": "offset", "displayName": "offset", "type": "string", "description": "Offset or empty string", "required": false },
              { "id": "where", "displayName": "where", "type": "string", "description": "Filter or empty string", "required": false },
              { "id": "sort", "displayName": "sort", "type": "string", "description": "Sort field or empty string", "required": false },
              { "id": "fields", "displayName": "fields", "type": "string", "description": "Fields or empty string", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-record",
        "name": "nocodb_get_record",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 300],
        "parameters": {
          "name": "nocodb_get_record",
          "description": "Get a single record from a NocoDB table by ID. Parameters: table_id (required), record_id (required, the row ID)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_record",
              "table_id": "={{ $fromAI('table_id', 'Table ID', 'string') }}",
              "record_id": "={{ $fromAI('record_id', 'Record/row ID', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "table_id", "displayName": "table_id", "type": "string", "description": "Table ID", "required": true },
              { "id": "record_id", "displayName": "record_id", "type": "string", "description": "Record ID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-record",
        "name": "nocodb_create_record",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1000, 300],
        "parameters": {
          "name": "nocodb_create_record",
          "description": "Create a new record in a NocoDB table. Parameters: table_id (required), data (required, JSON string of field:value pairs like '{\"Name\":\"John\",\"Email\":\"john@example.com\"}')",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_record",
              "table_id": "={{ $fromAI('table_id', 'Table ID', 'string') }}",
              "data": "={{ $fromAI('data', 'JSON string of field:value pairs', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "table_id", "displayName": "table_id", "type": "string", "description": "Table ID", "required": true },
              { "id": "data", "displayName": "data", "type": "string", "description": "JSON string of field:value pairs", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-update-record",
        "name": "nocodb_update_record",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1250, 300],
        "parameters": {
          "name": "nocodb_update_record",
          "description": "Update an existing record in a NocoDB table. Parameters: table_id (required), record_id (required), data (required, JSON string of fields to update like '{\"Status\":\"Done\"}')",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "update_record",
              "table_id": "={{ $fromAI('table_id', 'Table ID', 'string') }}",
              "record_id": "={{ $fromAI('record_id', 'Record ID', 'string') }}",
              "data": "={{ $fromAI('data', 'JSON string of fields to update', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "table_id", "displayName": "table_id", "type": "string", "description": "Table ID", "required": true },
              { "id": "record_id", "displayName": "record_id", "type": "string", "description": "Record ID", "required": true },
              { "id": "data", "displayName": "data", "type": "string", "description": "JSON string of fields to update", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-delete-record",
        "name": "nocodb_delete_record",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1500, 300],
        "parameters": {
          "name": "nocodb_delete_record",
          "description": "Delete a record from a NocoDB table. Parameters: table_id (required), record_id (required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "delete_record",
              "table_id": "={{ $fromAI('table_id', 'Table ID', 'string') }}",
              "record_id": "={{ $fromAI('record_id', 'Record ID', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "table_id", "displayName": "table_id", "type": "string", "description": "Table ID", "required": true },
              { "id": "record_id", "displayName": "record_id", "type": "string", "description": "Record ID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "nocodb_list_bases": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "nocodb_list_tables": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "nocodb_list_records": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "nocodb_get_record": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "nocodb_create_record": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "nocodb_update_record": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "nocodb_delete_record": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
