templates/github-api/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: GitHub",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "GitHub Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'search_repos';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.github-api&cred_key=eq.github_pat&select=cred_value',\n  headers: pgHeaders\n});\n\nif (!creds || creds.length === 0 || !creds[0].cred_value) {\n  return [{ json: { error: 'GitHub PAT not configured. Use add_credential to set it up.' } }];\n}\n\nconst token = creds[0].cred_value;\nconst ghHeaders = {\n  'Authorization': 'Bearer ' + token,\n  'Accept': 'application/vnd.github+json',\n  'X-GitHub-Api-Version': '2022-11-28'\n};\n\nfunction formatNumber(n) {\n  if (n >= 1000) return (n / 1000).toFixed(1) + 'k';\n  return String(n);\n}\n\nif (action === 'search_repos') {\n  const query = input.query;\n  if (!query) return [{ json: { error: 'Parameter \"query\" is required.' } }];\n  const sort = input.sort || 'stars';\n\n  try {\n    const data = await helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.github.com/search/repositories?q=' + encodeURIComponent(query) + '&sort=' + sort + '&per_page=5',\n      headers: ghHeaders\n    });\n\n    if (!data.items || data.items.length === 0) {\n      return [{ json: { error: 'No repositories found for \"' + query + '\".' } }];\n    }\n\n    let result = 'GitHub repos for \"' + query + '\" (' + data.total_count + ' total):\\n\\n';\n    for (const r of data.items) {\n      result += '**' + r.full_name + '**';\n      result += ' — ' + formatNumber(r.stargazers_count) + ' stars, ' + formatNumber(r.forks_count) + ' forks\\n';\n      if (r.description) result += r.description.substring(0, 150) + '\\n';\n      if (r.language) result += 'Language: ' + r.language + '\\n';\n      result += r.html_url + '\\n\\n';\n    }\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'GitHub search failed: ' + err.message } }];\n  }\n\n} else if (action === 'get_repo_info') {\n  const owner = input.owner;\n  const repo = input.repo;\n  if (!owner || !repo) return [{ json: { error: 'Parameters \"owner\" and \"repo\" are required.' } }];\n\n  try {\n    const data = await helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.github.com/repos/' + encodeURIComponent(owner) + '/' + encodeURIComponent(repo),\n      headers: ghHeaders\n    });\n\n    let result = '**' + data.full_name + '**\\n';\n    if (data.description) result += data.description + '\\n';\n    result += '\\n';\n    result += 'Stars: ' + formatNumber(data.stargazers_count) + '\\n';\n    result += 'Forks: ' + formatNumber(data.forks_count) + '\\n';\n    result += 'Open Issues: ' + data.open_issues_count + '\\n';\n    if (data.language) result += 'Language: ' + data.language + '\\n';\n    if (data.license && data.license.spdx_id) result += 'License: ' + data.license.spdx_id + '\\n';\n    result += 'Created: ' + data.created_at.split('T')[0] + '\\n';\n    result += 'Last Push: ' + data.pushed_at.split('T')[0] + '\\n';\n    if (data.topics && data.topics.length > 0) result += 'Topics: ' + data.topics.join(', ') + '\\n';\n    result += 'URL: ' + data.html_url + '\\n';\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get repo info: ' + err.message } }];\n  }\n\n} else if (action === 'list_issues') {\n  const owner = input.owner;\n  const repo = input.repo;\n  if (!owner || !repo) return [{ json: { error: 'Parameters \"owner\" and \"repo\" are required.' } }];\n  const state = input.state || 'open';\n\n  try {\n    const data = await helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.github.com/repos/' + encodeURIComponent(owner) + '/' + encodeURIComponent(repo) + '/issues?state=' + state + '&per_page=10',\n      headers: ghHeaders\n    });\n\n    if (!data || data.length === 0) {\n      return [{ json: { result: 'No ' + state + ' issues found in ' + owner + '/' + repo + '.' } }];\n    }\n\n    // Filter out PRs (GitHub API returns PRs as issues too)\n    const issues = data.filter(i => !i.pull_request);\n\n    if (issues.length === 0) {\n      return [{ json: { result: 'No ' + state + ' issues found in ' + owner + '/' + repo + ' (only pull requests).' } }];\n    }\n\n    let result = state.charAt(0).toUpperCase() + state.slice(1) + ' issues in ' + owner + '/' + repo + ':\\n\\n';\n    for (const i of issues) {\n      result += '#' + i.number + ' — **' + i.title + '**\\n';\n      if (i.labels && i.labels.length > 0) result += '  Labels: ' + i.labels.map(l => l.name).join(', ') + '\\n';\n      result += '  Created: ' + i.created_at.split('T')[0];\n      if (i.assignee) result += ' | Assignee: ' + i.assignee.login;\n      result += '\\n\\n';\n    }\n\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list issues: ' + err.message } }];\n  }\n\n} else if (action === 'create_issue') {\n  const owner = input.owner;\n  const repo = input.repo;\n  const title = input.title;\n  if (!owner || !repo || !title) return [{ json: { error: 'Parameters \"owner\", \"repo\", and \"title\" are required.' } }];\n\n  try {\n    const body = { title };\n    if (input.body) body.body = input.body;\n    if (input.labels) body.labels = input.labels.split(',').map(l => l.trim());\n\n    const data = await helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.github.com/repos/' + encodeURIComponent(owner) + '/' + encodeURIComponent(repo) + '/issues',\n      headers: { ...ghHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify(body)\n    });\n\n    return [{ json: { result: 'Issue created: #' + data.number + ' — ' + data.title + '\\n' + data.html_url } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create issue: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use search_repos, get_repo_info, list_issues, or create_issue.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "GitHub Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: GitHub",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "github-api"
        }
      },
      {
        "id": "tool-search-repos",
        "name": "search_repos",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "search_repos",
          "description": "Search GitHub repositories by keyword. Parameters: query (search keywords, required), sort ('stars', 'forks', 'updated', optional, default 'stars')",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_repos",
              "query": "={{ $fromAI('query', 'Search keywords for GitHub repositories', 'string') }}",
              "sort": "={{ $fromAI('sort', 'Sort by: stars, forks, or updated (default: stars)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Search keywords", "required": true },
              { "id": "sort", "displayName": "sort", "type": "string", "description": "Sort by: stars, forks, or updated", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-repo-info",
        "name": "get_repo_info",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "get_repo_info",
          "description": "Get detailed info about a GitHub repository. Parameters: owner (repo owner/org, required), repo (repository name, required)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_repo_info",
              "owner": "={{ $fromAI('owner', 'Repository owner or organization', 'string') }}",
              "repo": "={{ $fromAI('repo', 'Repository name', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "owner", "displayName": "owner", "type": "string", "description": "Repository owner", "required": true },
              { "id": "repo", "displayName": "repo", "type": "string", "description": "Repository name", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-issues",
        "name": "list_issues",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "list_issues",
          "description": "List issues for a GitHub repository. Parameters: owner (repo owner, required), repo (repository name, required), state ('open', 'closed', or 'all', optional, default 'open')",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_issues",
              "owner": "={{ $fromAI('owner', 'Repository owner or organization', 'string') }}",
              "repo": "={{ $fromAI('repo', 'Repository name', 'string') }}",
              "state": "={{ $fromAI('state', 'Issue state: open, closed, or all (default: open)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "owner", "displayName": "owner", "type": "string", "description": "Repository owner", "required": true },
              { "id": "repo", "displayName": "repo", "type": "string", "description": "Repository name", "required": true },
              { "id": "state", "displayName": "state", "type": "string", "description": "Issue state: open, closed, or all", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-issue",
        "name": "create_issue",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 300],
        "parameters": {
          "name": "create_issue",
          "description": "Create a new issue in a GitHub repository. Parameters: owner (repo owner, required), repo (repository name, required), title (issue title, required), body (issue description, optional), labels (comma-separated label names, optional)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_issue",
              "owner": "={{ $fromAI('owner', 'Repository owner or organization', 'string') }}",
              "repo": "={{ $fromAI('repo', 'Repository name', 'string') }}",
              "title": "={{ $fromAI('title', 'Issue title', 'string') }}",
              "body": "={{ $fromAI('body', 'Issue description (optional)', 'string') }}",
              "labels": "={{ $fromAI('labels', 'Comma-separated label names (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "owner", "displayName": "owner", "type": "string", "description": "Repository owner", "required": true },
              { "id": "repo", "displayName": "repo", "type": "string", "description": "Repository name", "required": true },
              { "id": "title", "displayName": "title", "type": "string", "description": "Issue title", "required": true },
              { "id": "body", "displayName": "body", "type": "string", "description": "Issue description", "required": false },
              { "id": "labels", "displayName": "labels", "type": "string", "description": "Comma-separated label names", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "search_repos": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_repo_info": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "list_issues": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "create_issue": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      }
    }
  }
}
