templates/deutsche-bahn/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Deutsche Bahn",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Deutsche Bahn Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'search_station';\nconst BASE = 'https://v6.db.transport.rest';\n\nasync function resolveStation(nameOrId) {\n  if (/^\\d+$/.test(nameOrId)) return nameOrId;\n  const res = await helpers.httpRequest({\n    method: 'GET',\n    url: BASE + '/locations?query=' + encodeURIComponent(nameOrId) + '&results=1'\n  });\n  if (!res || res.length === 0) return null;\n  return res[0].id;\n}\n\nfunction fmtTime(iso) {\n  if (!iso) return '?';\n  return iso.substring(11, 16);\n}\n\nfunction fmtDelay(delay) {\n  if (!delay && delay !== 0) return '';\n  const min = Math.round(delay / 60);\n  if (min <= 0) return '';\n  return ' +' + min + 'min';\n}\n\nfunction fmtDuration(dep, arr) {\n  if (!dep || !arr) return '?';\n  const ms = new Date(arr) - new Date(dep);\n  const h = Math.floor(ms / 3600000);\n  const m = Math.round((ms % 3600000) / 60000);\n  return h > 0 ? h + 'h' + (m > 0 ? m + 'min' : '') : m + 'min';\n}\n\n// === search_station ===\nif (action === 'search_station') {\n  const query = input.query;\n  if (!query) return [{ json: { error: 'Parameter \"query\" is required.' } }];\n\n  try {\n    const res = await helpers.httpRequest({\n      method: 'GET',\n      url: BASE + '/locations?query=' + encodeURIComponent(query) + '&results=5'\n    });\n    if (!res || res.length === 0) {\n      return [{ json: { result: 'No stations found for: ' + query } }];\n    }\n    let result = 'Stations for \"' + query + '\":\\n\\n';\n    for (const s of res) {\n      result += '- ' + s.name + ' (ID: ' + s.id + ')';\n      if (s.products) {\n        const types = [];\n        if (s.products.nationalExpress || s.products.national) types.push('ICE/IC');\n        if (s.products.regionalExpress || s.products.regional) types.push('RE/RB');\n        if (s.products.suburban) types.push('S');\n        if (s.products.subway) types.push('U');\n        if (s.products.tram) types.push('Tram');\n        if (s.products.bus) types.push('Bus');\n        if (types.length > 0) result += ' [' + types.join(', ') + ']';\n      }\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Station search failed: ' + err.message } }];\n  }\n\n// === get_departures ===\n} else if (action === 'get_departures') {\n  const station = input.station;\n  if (!station) return [{ json: { error: 'Parameter \"station\" is required (name or ID).' } }];\n\n  try {\n    const stationId = await resolveStation(station);\n    if (!stationId) return [{ json: { error: 'Station not found: ' + station } }];\n\n    const duration = parseInt(input.duration) || 60;\n    const res = await helpers.httpRequest({\n      method: 'GET',\n      url: BASE + '/stops/' + stationId + '/departures?duration=' + duration + '&results=10'\n    });\n    const deps = res.departures || [];\n    if (deps.length === 0) {\n      return [{ json: { result: 'No departures found.' } }];\n    }\n\n    let result = 'Departures from ' + (deps[0].stop?.name || station) + ':\\n\\n';\n    for (const d of deps) {\n      const time = fmtTime(d.when || d.plannedWhen);\n      const delay = fmtDelay(d.delay);\n      const line = d.line?.name || '?';\n      const dir = d.direction || '?';\n      const pl = d.platform || d.plannedPlatform || '?';\n      const cancelled = d.cancelled ? ' [CANCELLED]' : '';\n      result += time + delay + ' | ' + line + ' → ' + dir + ' | Gl.' + pl + cancelled + '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Departures failed: ' + err.message } }];\n  }\n\n// === get_arrivals ===\n} else if (action === 'get_arrivals') {\n  const station = input.station;\n  if (!station) return [{ json: { error: 'Parameter \"station\" is required (name or ID).' } }];\n\n  try {\n    const stationId = await resolveStation(station);\n    if (!stationId) return [{ json: { error: 'Station not found: ' + station } }];\n\n    const duration = parseInt(input.duration) || 60;\n    const res = await helpers.httpRequest({\n      method: 'GET',\n      url: BASE + '/stops/' + stationId + '/arrivals?duration=' + duration + '&results=10'\n    });\n    const arrs = res.arrivals || [];\n    if (arrs.length === 0) {\n      return [{ json: { result: 'No arrivals found.' } }];\n    }\n\n    let result = 'Arrivals at ' + (arrs[0].stop?.name || station) + ':\\n\\n';\n    for (const a of arrs) {\n      const time = fmtTime(a.when || a.plannedWhen);\n      const delay = fmtDelay(a.delay);\n      const line = a.line?.name || '?';\n      const from = a.provenance || '?';\n      const pl = a.platform || a.plannedPlatform || '?';\n      const cancelled = a.cancelled ? ' [CANCELLED]' : '';\n      result += time + delay + ' | ' + line + ' from ' + from + ' | Gl.' + pl + cancelled + '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Arrivals failed: ' + err.message } }];\n  }\n\n// === search_journey ===\n} else if (action === 'search_journey') {\n  const from = input.from;\n  const to = input.to;\n  if (!from || !to) return [{ json: { error: 'Parameters \"from\" and \"to\" are required (station name or ID).' } }];\n\n  try {\n    const fromId = await resolveStation(from);\n    const toId = await resolveStation(to);\n    if (!fromId) return [{ json: { error: 'Origin station not found: ' + from } }];\n    if (!toId) return [{ json: { error: 'Destination station not found: ' + to } }];\n\n    let url = BASE + '/journeys?from=' + fromId + '&to=' + toId;\n    const results = parseInt(input.results) || 3;\n    url += '&results=' + results;\n    if (input.departure) url += '&departure=' + encodeURIComponent(input.departure);\n\n    const res = await helpers.httpRequest({ method: 'GET', url });\n    const journeys = res.journeys || [];\n    if (journeys.length === 0) {\n      return [{ json: { result: 'No connections found.' } }];\n    }\n\n    let result = 'Connections ' + from + ' → ' + to + ':\\n\\n';\n    for (let i = 0; i < journeys.length; i++) {\n      const j = journeys[i];\n      const legs = j.legs || [];\n      const firstLeg = legs[0];\n      const lastLeg = legs[legs.length - 1];\n      const dep = fmtTime(firstLeg?.departure || firstLeg?.plannedDeparture);\n      const arr = fmtTime(lastLeg?.arrival || lastLeg?.plannedArrival);\n      const dur = fmtDuration(\n        firstLeg?.departure || firstLeg?.plannedDeparture,\n        lastLeg?.arrival || lastLeg?.plannedArrival\n      );\n      const transfers = legs.filter(l => l.line).length - 1;\n\n      result += (i + 1) + ') ' + dep + ' → ' + arr + ' | ' + dur;\n      if (transfers > 0) result += ' | ' + transfers + 'x umsteigen';\n      result += '\\n';\n\n      for (const leg of legs) {\n        if (leg.walking) {\n          result += '   🚶 Walk';\n          if (leg.distance) result += ' (' + leg.distance + 'm)';\n          result += '\\n';\n          continue;\n        }\n        const lDep = fmtTime(leg.departure || leg.plannedDeparture);\n        const lArr = fmtTime(leg.arrival || leg.plannedArrival);\n        const lDelay = fmtDelay(leg.departureDelay);\n        const line = leg.line?.name || '?';\n        const orig = leg.origin?.name || '?';\n        const dest = leg.destination?.name || '?';\n        const plDep = leg.departurePlatform || leg.plannedDeparturePlatform || '?';\n        const plArr = leg.arrivalPlatform || leg.plannedArrivalPlatform || '?';\n        result += '   ' + lDep + lDelay + ' ' + orig + ' Gl.' + plDep + ' → ' + lArr + ' ' + dest + ' Gl.' + plArr + ' | ' + line + '\\n';\n      }\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Journey search failed: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use search_station, get_departures, get_arrivals, or search_journey.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Deutsche Bahn Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Deutsche Bahn",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "deutsche-bahn"
        }
      },
      {
        "id": "tool-search-station",
        "name": "search_station",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "search_station",
          "description": "Search for a train station by name. Returns station names and IDs. Parameter: query (station name to search for, e.g. 'Berlin Hbf')",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_station",
              "query": "={{ $fromAI('query', 'Station name to search for', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Station name to search for", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-departures",
        "name": "get_departures",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [300, 300],
        "parameters": {
          "name": "get_departures",
          "description": "Get upcoming departures from a train station. Accepts station name (auto-resolved) or ID. Parameters: station (station name or ID, e.g. 'Essen Hbf'), duration (optional, minutes to look ahead, default 60)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_departures",
              "station": "={{ $fromAI('station', 'Station name or ID', 'string') }}",
              "duration": "={{ $fromAI('duration', 'Minutes to look ahead (default 60)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "station", "displayName": "station", "type": "string", "description": "Station name or ID", "required": true },
              { "id": "duration", "displayName": "duration", "type": "string", "description": "Minutes to look ahead", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-arrivals",
        "name": "get_arrivals",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [600, 300],
        "parameters": {
          "name": "get_arrivals",
          "description": "Get upcoming arrivals at a train station. Accepts station name (auto-resolved) or ID. Parameters: station (station name or ID, e.g. 'München Hbf'), duration (optional, minutes to look ahead, default 60)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_arrivals",
              "station": "={{ $fromAI('station', 'Station name or ID', 'string') }}",
              "duration": "={{ $fromAI('duration', 'Minutes to look ahead (default 60)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "station", "displayName": "station", "type": "string", "description": "Station name or ID", "required": true },
              { "id": "duration", "displayName": "duration", "type": "string", "description": "Minutes to look ahead", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-journey",
        "name": "search_journey",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [900, 300],
        "parameters": {
          "name": "search_journey",
          "description": "Search for train connections between two stations. Accepts station names (auto-resolved) or IDs. Parameters: from (origin station name or ID), to (destination station name or ID), departure (optional, ISO 8601 datetime), results (optional, number of connections, default 3)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_journey",
              "from": "={{ $fromAI('from', 'Origin station name or ID', 'string') }}",
              "to": "={{ $fromAI('to', 'Destination station name or ID', 'string') }}",
              "departure": "={{ $fromAI('departure', 'Departure datetime in ISO 8601 format', 'string') }}",
              "results": "={{ $fromAI('results', 'Number of connections to return (default 3)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "from", "displayName": "from", "type": "string", "description": "Origin station name or ID", "required": true },
              { "id": "to", "displayName": "to", "type": "string", "description": "Destination station name or ID", "required": true },
              { "id": "departure", "displayName": "departure", "type": "string", "description": "Departure datetime ISO 8601", "required": false },
              { "id": "results", "displayName": "results", "type": "string", "description": "Number of connections", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "search_station": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_departures": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_arrivals": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "search_journey": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      }
    }
  }
}
