templates/openlibrary/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Open Library",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Open Library Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || '';\n\nconst API = 'https://openlibrary.org';\nconst COVERS = 'https://covers.openlibrary.org';\n\nfunction descToString(d) {\n  if (!d) return '';\n  if (typeof d === 'string') return d;\n  if (typeof d === 'object' && d.value) return d.value;\n  return '';\n}\n\nfunction truncate(s, n) {\n  if (!s) return '';\n  s = String(s);\n  if (s.length <= n) return s;\n  return s.substring(0, n) + '...';\n}\n\nfunction normalizeWorkKey(k) {\n  if (!k) return '';\n  k = String(k).trim();\n  if (k.startsWith('/works/')) return k;\n  if (k.startsWith('OL') && k.endsWith('W')) return '/works/' + k;\n  return k.startsWith('/') ? k : '/works/' + k;\n}\n\nfunction normalizeAuthorKey(k) {\n  if (!k) return '';\n  k = String(k).trim();\n  if (k.startsWith('/authors/')) return k;\n  if (k.startsWith('OL') && k.endsWith('A')) return '/authors/' + k;\n  return k.startsWith('/') ? k : '/authors/' + k;\n}\n\n// === search_books ===\nif (action === 'search_books') {\n  const query = input.query;\n  if (!query) {\n    return [{ json: { error: 'Parameter \"query\" is required. Examples: \"Harry Potter\", \"author:murakami\", \"isbn:9780747532743\".' } }];\n  }\n  const limit = Math.min(parseInt(input.limit) || 5, 20);\n  const sort = input.sort || 'relevance';\n  const validSorts = ['relevance', 'new', 'old', 'rating', 'readinglog', 'editions'];\n  const sortParam = validSorts.includes(sort) ? sort : 'relevance';\n\n  try {\n    const fields = 'key,title,author_name,first_publish_year,edition_count,cover_i,ratings_average,isbn,language';\n    let url = API + '/search.json?q=' + encodeURIComponent(query) + '&limit=' + limit + '&fields=' + fields;\n    if (sortParam !== 'relevance') url += '&sort=' + sortParam;\n\n    const data = await helpers.httpRequest({ method: 'GET', url });\n    const docs = data.docs || [];\n\n    if (docs.length === 0) {\n      return [{ json: { result: 'No books found for: ' + query } }];\n    }\n\n    let result = 'Found ' + data.numFound + ' books, showing top ' + docs.length + ':\\n\\n';\n    for (const b of docs) {\n      const authors = (b.author_name || []).slice(0, 3).join(', ');\n      result += '**' + b.title + '**';\n      if (authors) result += ' — ' + authors;\n      result += '\\n';\n      if (b.first_publish_year) result += '  First published: ' + b.first_publish_year + '\\n';\n      if (b.edition_count) result += '  Editions: ' + b.edition_count + '\\n';\n      if (b.ratings_average) result += '  Rating: ' + b.ratings_average.toFixed(2) + '/5\\n';\n      if (b.cover_i) result += '  Cover: ' + COVERS + '/b/id/' + b.cover_i + '-M.jpg\\n';\n      if (b.key) result += '  Work key: ' + b.key + '\\n';\n      result += '\\n';\n    }\n    if (result.length > 5000) result = result.substring(0, 5000) + '\\n... (truncated)';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Search failed: ' + err.message } }];\n  }\n\n// === get_book ===\n} else if (action === 'get_book') {\n  const workKey = input.work_key;\n  const isbn = input.isbn;\n  if (!workKey && !isbn) {\n    return [{ json: { error: 'Either \"work_key\" (e.g. OL27448W or /works/OL27448W) or \"isbn\" is required.' } }];\n  }\n\n  try {\n    let workData;\n    let resolvedKey;\n\n    if (isbn) {\n      const cleanIsbn = String(isbn).replace(/[-\\s]/g, '');\n      const isbnData = await helpers.httpRequest({ method: 'GET', url: API + '/isbn/' + encodeURIComponent(cleanIsbn) + '.json' });\n      if (isbnData.works && isbnData.works[0] && isbnData.works[0].key) {\n        resolvedKey = isbnData.works[0].key;\n        workData = await helpers.httpRequest({ method: 'GET', url: API + resolvedKey + '.json' });\n      } else {\n        let result = '**' + isbnData.title + '** (edition info, ISBN ' + cleanIsbn + ')\\n';\n        if (isbnData.publish_date) result += 'Published: ' + isbnData.publish_date + '\\n';\n        if (isbnData.publishers) result += 'Publisher: ' + isbnData.publishers.join(', ') + '\\n';\n        if (isbnData.number_of_pages) result += 'Pages: ' + isbnData.number_of_pages + '\\n';\n        return [{ json: { result } }];\n      }\n    } else {\n      resolvedKey = normalizeWorkKey(workKey);\n      workData = await helpers.httpRequest({ method: 'GET', url: API + resolvedKey + '.json' });\n    }\n\n    let result = '**' + workData.title + '**\\n';\n    result += 'Work key: ' + resolvedKey + '\\n';\n\n    if (workData.authors && workData.authors.length > 0) {\n      const authorNames = [];\n      for (const a of workData.authors.slice(0, 3)) {\n        const aKey = a.author && a.author.key;\n        if (aKey) {\n          try {\n            const aData = await helpers.httpRequest({ method: 'GET', url: API + aKey + '.json' });\n            authorNames.push(aData.name + ' (' + aKey + ')');\n          } catch (e) {\n            authorNames.push(aKey);\n          }\n        }\n      }\n      if (authorNames.length > 0) result += 'Author(s): ' + authorNames.join(', ') + '\\n';\n    }\n\n    if (workData.first_publish_date) result += 'First published: ' + workData.first_publish_date + '\\n';\n\n    if (workData.covers && workData.covers[0]) {\n      result += 'Cover: ' + COVERS + '/b/id/' + workData.covers[0] + '-L.jpg\\n';\n    }\n\n    const desc = descToString(workData.description);\n    if (desc) result += '\\nDescription:\\n' + truncate(desc, 2000) + '\\n';\n\n    if (workData.subjects && workData.subjects.length > 0) {\n      result += '\\nSubjects: ' + workData.subjects.slice(0, 10).join(', ') + '\\n';\n    }\n\n    if (result.length > 5000) result = result.substring(0, 5000) + '\\n... (truncated)';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get book: ' + err.message } }];\n  }\n\n// === get_author ===\n} else if (action === 'get_author') {\n  const authorKey = input.author_key;\n  const name = input.name;\n  if (!authorKey && !name) {\n    return [{ json: { error: 'Either \"author_key\" (e.g. OL30351A) or \"name\" is required.' } }];\n  }\n\n  try {\n    let resolvedKey;\n\n    if (authorKey) {\n      resolvedKey = normalizeAuthorKey(authorKey);\n    } else {\n      const sData = await helpers.httpRequest({\n        method: 'GET',\n        url: API + '/search/authors.json?q=' + encodeURIComponent(name) + '&limit=1'\n      });\n      if (!sData.docs || sData.docs.length === 0) {\n        return [{ json: { result: 'No author found for: ' + name } }];\n      }\n      resolvedKey = '/authors/' + sData.docs[0].key;\n    }\n\n    const aData = await helpers.httpRequest({ method: 'GET', url: API + resolvedKey + '.json' });\n\n    let result = '**' + (aData.name || 'Unknown') + '**\\n';\n    result += 'Author key: ' + resolvedKey + '\\n';\n    if (aData.birth_date) result += 'Born: ' + aData.birth_date + '\\n';\n    if (aData.death_date) result += 'Died: ' + aData.death_date + '\\n';\n    if (aData.alternate_names && aData.alternate_names.length > 0) {\n      result += 'Also known as: ' + aData.alternate_names.slice(0, 5).join(', ') + '\\n';\n    }\n    const bio = descToString(aData.bio);\n    if (bio) result += '\\nBio:\\n' + truncate(bio, 1500) + '\\n';\n\n    try {\n      const works = await helpers.httpRequest({\n        method: 'GET',\n        url: API + resolvedKey + '/works.json?limit=10'\n      });\n      if (works.entries && works.entries.length > 0) {\n        result += '\\nWorks (' + (works.size || works.entries.length) + ' total, showing ' + works.entries.length + '):\\n';\n        for (const w of works.entries) {\n          result += '- ' + w.title + ' (' + w.key + ')\\n';\n        }\n      }\n    } catch (e) {\n      // ignore works fetch errors\n    }\n\n    if (result.length > 5000) result = result.substring(0, 5000) + '\\n... (truncated)';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get author: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: \"' + action + '\". Available: search_books, get_book, get_author.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Open Library Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Open Library",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "openlibrary"
        }
      },
      {
        "id": "tool-search-books",
        "name": "search_books",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "search_books",
          "description": "Search Open Library's catalog of 40M+ books. Parameters: query (required; title, author, subject, or ISBN), limit (optional, default 5, max 20), sort (optional: relevance|new|old|rating|readinglog|editions).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_books",
              "query": "={{ $fromAI('query', 'Search query (title, author, subject or ISBN)', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Number of results (default 5, max 20)', 'string') }}",
              "sort": "={{ $fromAI('sort', 'Sort order: relevance, new, old, rating, readinglog, editions (default: relevance)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Search query", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Number of results", "required": false },
              { "id": "sort", "displayName": "sort", "type": "string", "description": "Sort order", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-book",
        "name": "get_book",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "get_book",
          "description": "Get detailed info about a specific book (description, subjects, cover, authors). Parameters: work_key (e.g. OL27448W from search_books) OR isbn (10/13 digit ISBN). One of them is required.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_book",
              "work_key": "={{ $fromAI('work_key', 'Open Library Work key (e.g. OL27448W)', 'string') }}",
              "isbn": "={{ $fromAI('isbn', 'ISBN-10 or ISBN-13 (alternative to work_key)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "work_key", "displayName": "work_key", "type": "string", "description": "Work key", "required": false },
              { "id": "isbn", "displayName": "isbn", "type": "string", "description": "ISBN", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-author",
        "name": "get_author",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "get_author",
          "description": "Get author profile with bio, birth/death dates and a list of their works. Parameters: author_key (e.g. OL30351A from search_books) OR name (full name). One of them is required.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_author",
              "author_key": "={{ $fromAI('author_key', 'Open Library Author key (e.g. OL30351A)', 'string') }}",
              "name": "={{ $fromAI('name', 'Author full name (alternative to author_key)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "author_key", "displayName": "author_key", "type": "string", "description": "Author key", "required": false },
              { "id": "name", "displayName": "name", "type": "string", "description": "Author name", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "search_books": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_book": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_author": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      }
    }
  }
}
