templates/seafile/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Seafile",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Seafile Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'repo_info';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\n// Fetch all credentials in one query\nconst allCreds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.seafile&select=cred_key,cred_value',\n  headers: pgHeaders\n});\nconst creds = {};\nfor (const c of (allCreds || [])) creds[c.cred_key] = c.cred_value;\n\nif (!creds.seafile_url) {\n  return [{ json: { error: 'Seafile URL not configured. Use add_credential to set it up.' } }];\n}\nif (!creds.seafile_token) {\n  return [{ json: { error: 'Seafile API token not configured. Use add_credential to set it up.' } }];\n}\n\nconst baseUrl = creds.seafile_url.replace(/\\/+$/, '');\nconst apiBase = baseUrl + '/api/v2.1/via-repo-token';\nconst sfHeaders = {\n  'Authorization': 'Token ' + creds.seafile_token,\n  'Accept': 'application/json'\n};\n\nfunction formatSize(bytes) {\n  if (bytes >= 1073741824) return (bytes / 1073741824).toFixed(1) + ' GB';\n  if (bytes >= 1048576) return (bytes / 1048576).toFixed(1) + ' MB';\n  if (bytes >= 1024) return (bytes / 1024).toFixed(1) + ' KB';\n  return bytes + ' B';\n}\n\n// === repo_info ===\nif (action === 'repo_info') {\n  try {\n    const data = await helpers.httpRequest({ method: 'GET', url: apiBase + '/repo-info/', headers: sfHeaders });\n    let result = '**' + data.repo_name + '**\\n';\n    result += 'ID: ' + data.repo_id + '\\n';\n    if (data.size !== undefined) result += 'Size: ' + formatSize(data.size) + '\\n';\n    if (data.file_count !== undefined) result += 'Files: ' + data.file_count + '\\n';\n    if (data.last_modified) result += 'Last modified: ' + data.last_modified + '\\n';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get repo info: ' + err.message } }];\n  }\n\n// === list_directory ===\n} else if (action === 'list_directory') {\n  const path = input.path || '/';\n  try {\n    const data = await helpers.httpRequest({\n      method: 'GET',\n      url: apiBase + '/dir/?path=' + encodeURIComponent(path),\n      headers: sfHeaders\n    });\n    const items = data.dirent_list || data;\n    if (!items || items.length === 0) {\n      return [{ json: { result: 'Directory \"' + path + '\" is empty.' } }];\n    }\n    const repoName = data.repo_name || '';\n    let result = 'Contents of ' + path + (repoName ? ' (' + repoName + ')' : '') + ' — ' + items.length + ' items:\\n\\n';\n    for (const item of items) {\n      const icon = item.type === 'dir' ? '[dir]  ' : '[file] ';\n      result += icon + item.name;\n      if (item.size) result += ' (' + formatSize(item.size) + ')';\n      if (item.modifier_name) result += ' — ' + item.modifier_name;\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list directory: ' + err.message } }];\n  }\n\n// === get_file_detail ===\n} else if (action === 'get_file_detail') {\n  const path = input.path;\n  if (!path) return [{ json: { error: 'Parameter \"path\" is required.' } }];\n  try {\n    const data = await helpers.httpRequest({\n      method: 'GET',\n      url: apiBase + '/file/?path=' + encodeURIComponent(path),\n      headers: sfHeaders\n    });\n    let result = '**' + (data.name || path.split('/').pop()) + '**\\n';\n    result += 'Path: ' + path + '\\n';\n    if (data.size !== undefined) result += 'Size: ' + formatSize(data.size) + '\\n';\n    if (data.last_modifier_name) result += 'Last modified by: ' + data.last_modifier_name + '\\n';\n    if (data.last_modified) result += 'Last modified: ' + data.last_modified + '\\n';\n    if (data.type) result += 'Type: ' + data.type + '\\n';\n    if (data.id) result += 'File ID: ' + data.id + '\\n';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get file detail: ' + err.message } }];\n  }\n\n// === download_file ===\n} else if (action === 'download_file') {\n  const path = input.path;\n  if (!path) return [{ json: { error: 'Parameter \"path\" is required.' } }];\n  try {\n    const downloadUrl = await helpers.httpRequest({\n      method: 'GET',\n      url: apiBase + '/download-link/?path=' + encodeURIComponent(path),\n      headers: sfHeaders\n    });\n    const cleanUrl = String(downloadUrl).replace(/^\"|\"$/g, '');\n    const textExts = ['.txt', '.md', '.json', '.csv', '.xml', '.yaml', '.yml', '.html', '.css', '.js', '.py', '.sh', '.log', '.ini', '.conf', '.cfg', '.toml', '.env', '.sql'];\n    const ext = path.toLowerCase().substring(path.lastIndexOf('.'));\n    if (textExts.includes(ext)) {\n      try {\n        const content = await helpers.httpRequest({ method: 'GET', url: cleanUrl, encoding: 'utf-8', returnFullResponse: false });\n        const text = typeof content === 'string' ? content : JSON.stringify(content);\n        if (text.length > 5000) {\n          return [{ json: { result: 'File: ' + path + '\\nDownload URL: ' + cleanUrl + '\\n\\nContent (truncated):\\n' + text.substring(0, 5000) + '\\n\\n... (' + text.length + ' chars total)' } }];\n        }\n        return [{ json: { result: 'File: ' + path + '\\nDownload URL: ' + cleanUrl + '\\n\\nContent:\\n' + text } }];\n      } catch (e) {\n        // Fall through to returning just the URL\n      }\n    }\n    return [{ json: { result: 'File: ' + path + '\\nDownload URL: ' + cleanUrl + '\\n\\n(Binary file — use the download URL to access)' } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get download link: ' + err.message } }];\n  }\n\n// === delete_file ===\n} else if (action === 'delete_file') {\n  const path = input.path;\n  if (!path) return [{ json: { error: 'Parameter \"path\" is required.' } }];\n  const isDir = input.is_dir === 'true' || input.is_dir === true;\n  try {\n    const endpoint = isDir ? '/dir/' : '/file/';\n    await helpers.httpRequest({\n      method: 'DELETE',\n      url: apiBase + endpoint + '?path=' + encodeURIComponent(path),\n      headers: sfHeaders\n    });\n    return [{ json: { result: 'Successfully deleted: ' + path } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to delete: ' + err.message } }];\n  }\n\n// === file_operation ===\n} else if (action === 'file_operation') {\n  const path = input.path;\n  const operation = input.operation;\n  if (!path || !operation) return [{ json: { error: 'Parameters \"path\" and \"operation\" (rename|move|copy) are required.' } }];\n  if (!['rename', 'move', 'copy'].includes(operation)) {\n    return [{ json: { error: 'Invalid operation \"' + operation + '\". Must be rename, move, or copy.' } }];\n  }\n  try {\n    let formBody = 'operation=' + encodeURIComponent(operation);\n    if (operation === 'rename') {\n      if (!input.newname) return [{ json: { error: 'Parameter \"newname\" is required for rename.' } }];\n      formBody += '&newname=' + encodeURIComponent(input.newname);\n    } else {\n      if (!input.dst_dir) return [{ json: { error: 'Parameter \"dst_dir\" is required for ' + operation + '.' } }];\n      formBody += '&dst_dir=' + encodeURIComponent(input.dst_dir);\n    }\n    await helpers.httpRequest({\n      method: 'POST',\n      url: apiBase + '/file/?path=' + encodeURIComponent(path),\n      headers: { ...sfHeaders, 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: formBody\n    });\n    if (operation === 'rename') {\n      return [{ json: { result: 'Renamed \"' + path + '\" to \"' + input.newname + '\".' } }];\n    } else {\n      return [{ json: { result: operation.charAt(0).toUpperCase() + operation.slice(1) + 'd \"' + path + '\" to ' + input.dst_dir + '.' } }];\n    }\n  } catch (err) {\n    return [{ json: { error: 'File operation failed: ' + err.message } }];\n  }\n\n// === create_file ===\n} else if (action === 'create_file') {\n  const path = input.path;\n  const content = input.content;\n  if (!path || content === undefined) return [{ json: { error: 'Parameters \"path\" (full file path) and \"content\" (file content) are required.' } }];\n  const parts = path.replace(/^\\//, '').split('/');\n  const filename = parts.pop();\n  const parentDir = '/' + parts.join('/');\n  const replace = (input.replace === 'false' || input.replace === false) ? 0 : 1;\n  try {\n    const uploadUrl = await helpers.httpRequest({\n      method: 'GET',\n      url: apiBase + '/upload-link/?path=' + encodeURIComponent(parentDir || '/'),\n      headers: sfHeaders\n    });\n    const cleanUploadUrl = String(uploadUrl).replace(/^\"|\"$/g, '');\n    const boundary = '----n8nBoundary' + Date.now();\n    let body = '--' + boundary + '\\r\\n';\n    body += 'Content-Disposition: form-data; name=\"parent_dir\"\\r\\n\\r\\n' + parentDir + '\\r\\n';\n    body += '--' + boundary + '\\r\\n';\n    body += 'Content-Disposition: form-data; name=\"replace\"\\r\\n\\r\\n' + replace + '\\r\\n';\n    body += '--' + boundary + '\\r\\n';\n    body += 'Content-Disposition: form-data; name=\"file\"; filename=\"' + filename + '\"\\r\\n';\n    body += 'Content-Type: text/plain\\r\\n\\r\\n' + content + '\\r\\n';\n    body += '--' + boundary + '--\\r\\n';\n    await helpers.httpRequest({\n      method: 'POST',\n      url: cleanUploadUrl + '?ret-json=1',\n      headers: {\n        'Authorization': 'Token ' + creds.seafile_token,\n        'Content-Type': 'multipart/form-data; boundary=' + boundary\n      },\n      body: body\n    });\n    return [{ json: { result: 'File created: ' + path } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create file: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Available: repo_info, list_directory, get_file_detail, download_file, create_file, delete_file, file_operation.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Seafile Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Seafile",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "seafile"
        }
      },
      {
        "id": "tool-repo-info",
        "name": "repo_info",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "repo_info",
          "description": "Get info about the connected Seafile library (name, size, file count, last modified)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "repo_info"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-directory",
        "name": "list_directory",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "list_directory",
          "description": "List files and folders in a Seafile directory. Parameters: path (directory path, optional, default '/')",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_directory",
              "path": "={{ $fromAI('path', 'Directory path (default: /)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "Directory path", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-file-detail",
        "name": "get_file_detail",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "get_file_detail",
          "description": "Get metadata for a file (size, last modified, type). Parameters: path (file path, required, e.g. /docs/readme.md)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_file_detail",
              "path": "={{ $fromAI('path', 'Full file path (e.g. /docs/readme.md)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "File path", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-download-file",
        "name": "download_file",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 300],
        "parameters": {
          "name": "download_file",
          "description": "Get a file download link or read text file content inline. For text files (.txt, .md, .json, .csv, etc.) returns content directly. For binary files returns a download URL. Parameters: path (file path, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "download_file",
              "path": "={{ $fromAI('path', 'Full file path (e.g. /docs/readme.md)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "File path", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-file",
        "name": "create_file",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 600],
        "parameters": {
          "name": "create_file",
          "description": "Create a text file in Seafile (overwrites if it already exists). Parameters: path (full file path including filename, required, e.g. /notes/todo.md), content (file content, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_file",
              "path": "={{ $fromAI('path', 'Full file path including filename (e.g. /notes/todo.md)', 'string') }}",
              "content": "={{ $fromAI('content', 'File content (text)', 'string') }}",
              "replace": "={{ $fromAI('replace', 'Set to true to overwrite existing file (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "Full file path", "required": true },
              { "id": "content", "displayName": "content", "type": "string", "description": "File content", "required": true },
              { "id": "replace", "displayName": "replace", "type": "string", "description": "Overwrite if exists", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-delete-file",
        "name": "delete_file",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 600],
        "parameters": {
          "name": "delete_file",
          "description": "Delete a file or directory. Parameters: path (file/folder path, required), is_dir ('true' if deleting a directory, optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "delete_file",
              "path": "={{ $fromAI('path', 'File or folder path to delete', 'string') }}",
              "is_dir": "={{ $fromAI('is_dir', 'Set to true if deleting a directory (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "Path to delete", "required": true },
              { "id": "is_dir", "displayName": "is_dir", "type": "string", "description": "true if directory", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-file-operation",
        "name": "file_operation",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 600],
        "parameters": {
          "name": "file_operation",
          "description": "Rename, move, or copy a file. Parameters: path (source file path, required), operation ('rename', 'move', or 'copy', required). For rename: newname (new filename, required). For move/copy: dst_dir (destination directory path, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "file_operation",
              "path": "={{ $fromAI('path', 'Source file path', 'string') }}",
              "operation": "={{ $fromAI('operation', 'Operation: rename, move, or copy', 'string') }}",
              "newname": "={{ $fromAI('newname', 'New filename (for rename only)', 'string') }}",
              "dst_dir": "={{ $fromAI('dst_dir', 'Destination directory path (for move/copy)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "Source file path", "required": true },
              { "id": "operation", "displayName": "operation", "type": "string", "description": "rename, move, or copy", "required": true },
              { "id": "newname", "displayName": "newname", "type": "string", "description": "New filename (rename)", "required": false },
              { "id": "dst_dir", "displayName": "dst_dir", "type": "string", "description": "Destination directory", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "repo_info": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_directory": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_file_detail": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "download_file": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_file": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "delete_file": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "file_operation": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
