templates/seafile/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Seafile",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Seafile Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'list_libraries';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\n// Fetch seafile_url\nconst urlCreds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.seafile&cred_key=eq.seafile_url&select=cred_value',\n  headers: pgHeaders\n});\nif (!urlCreds || urlCreds.length === 0 || !urlCreds[0].cred_value) {\n  return [{ json: { error: 'Seafile URL not configured. Use add_credential to set it up.' } }];\n}\n\n// Fetch seafile_token\nconst tokenCreds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.seafile&cred_key=eq.seafile_token&select=cred_value',\n  headers: pgHeaders\n});\nif (!tokenCreds || tokenCreds.length === 0 || !tokenCreds[0].cred_value) {\n  return [{ json: { error: 'Seafile API token not configured. Use add_credential to set it up.' } }];\n}\n\nconst baseUrl = urlCreds[0].cred_value.replace(/\\/+$/, '');\nconst token = tokenCreds[0].cred_value;\nconst sfHeaders = {\n  'Authorization': 'Bearer ' + token,\n  'Accept': 'application/json'\n};\n\nfunction formatSize(bytes) {\n  if (bytes >= 1073741824) return (bytes / 1073741824).toFixed(1) + ' GB';\n  if (bytes >= 1048576) return (bytes / 1048576).toFixed(1) + ' MB';\n  if (bytes >= 1024) return (bytes / 1024).toFixed(1) + ' KB';\n  return bytes + ' B';\n}\n\n// === list_libraries ===\nif (action === 'list_libraries') {\n  const type = input.type || '';\n  try {\n    let url = baseUrl + '/api2/repos/';\n    if (type) url += '?type=' + encodeURIComponent(type);\n    const data = await helpers.httpRequest({ method: 'GET', url, headers: sfHeaders });\n    if (!data || data.length === 0) {\n      return [{ json: { result: 'No libraries found.' } }];\n    }\n    let result = 'Seafile Libraries (' + data.length + '):\\n\\n';\n    for (const lib of data) {\n      result += '**' + lib.name + '** (ID: ' + lib.id + ')\\n';\n      result += '  Size: ' + formatSize(lib.size) + ' | Type: ' + (lib.type || 'repo') + '\\n';\n      if (lib.owner) result += '  Owner: ' + lib.owner + '\\n';\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list libraries: ' + err.message } }];\n  }\n\n// === list_directory ===\n} else if (action === 'list_directory') {\n  const repoId = input.repo_id;\n  if (!repoId) return [{ json: { error: 'Parameter \"repo_id\" is required.' } }];\n  const path = input.path || '/';\n  try {\n    const data = await helpers.httpRequest({\n      method: 'GET',\n      url: baseUrl + '/api2/repos/' + encodeURIComponent(repoId) + '/dir/?p=' + encodeURIComponent(path),\n      headers: sfHeaders\n    });\n    if (!data || data.length === 0) {\n      return [{ json: { result: 'Directory \"' + path + '\" is empty.' } }];\n    }\n    let result = 'Contents of ' + path + ' (' + data.length + ' items):\\n\\n';\n    for (const item of data) {\n      const icon = item.type === 'dir' ? '[dir]  ' : '[file] ';\n      result += icon + item.name;\n      if (item.size) result += ' (' + formatSize(item.size) + ')';\n      if (item.modifier_name) result += ' — modified by ' + item.modifier_name;\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list directory: ' + err.message } }];\n  }\n\n// === get_file_detail ===\n} else if (action === 'get_file_detail') {\n  const repoId = input.repo_id;\n  const path = input.path;\n  if (!repoId || !path) return [{ json: { error: 'Parameters \"repo_id\" and \"path\" are required.' } }];\n  try {\n    const data = await helpers.httpRequest({\n      method: 'GET',\n      url: baseUrl + '/api2/repos/' + encodeURIComponent(repoId) + '/file/detail/?p=' + encodeURIComponent(path),\n      headers: sfHeaders\n    });\n    let result = '**' + data.name + '**\\n';\n    result += 'Path: ' + path + '\\n';\n    if (data.size !== undefined) result += 'Size: ' + formatSize(data.size) + '\\n';\n    if (data.last_modifier_name) result += 'Last modified by: ' + data.last_modifier_name + '\\n';\n    if (data.last_modified) result += 'Last modified: ' + new Date(data.last_modified * 1000).toISOString().split('T')[0] + '\\n';\n    if (data.id) result += 'File ID: ' + data.id + '\\n';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get file detail: ' + err.message } }];\n  }\n\n// === download_file ===\n} else if (action === 'download_file') {\n  const repoId = input.repo_id;\n  const path = input.path;\n  if (!repoId || !path) return [{ json: { error: 'Parameters \"repo_id\" and \"path\" are required.' } }];\n  try {\n    const downloadUrl = await helpers.httpRequest({\n      method: 'GET',\n      url: baseUrl + '/api2/repos/' + encodeURIComponent(repoId) + '/file/?p=' + encodeURIComponent(path),\n      headers: sfHeaders\n    });\n    const cleanUrl = String(downloadUrl).replace(/^\"|\"$/g, '');\n    const textExts = ['.txt', '.md', '.json', '.csv', '.xml', '.yaml', '.yml', '.html', '.css', '.js', '.py', '.sh', '.log', '.ini', '.conf', '.cfg', '.toml', '.env', '.sql'];\n    const ext = path.toLowerCase().substring(path.lastIndexOf('.'));\n    if (textExts.includes(ext)) {\n      try {\n        const content = await helpers.httpRequest({ method: 'GET', url: cleanUrl, encoding: 'utf-8', returnFullResponse: false });\n        const text = typeof content === 'string' ? content : JSON.stringify(content);\n        if (text.length > 5000) {\n          return [{ json: { result: 'File: ' + path + '\\nDownload URL: ' + cleanUrl + '\\n\\nContent (truncated):\\n' + text.substring(0, 5000) + '\\n\\n... (' + text.length + ' chars total)' } }];\n        }\n        return [{ json: { result: 'File: ' + path + '\\nDownload URL: ' + cleanUrl + '\\n\\nContent:\\n' + text } }];\n      } catch (e) {\n        // Fall through to returning just the URL\n      }\n    }\n    return [{ json: { result: 'File: ' + path + '\\nDownload URL: ' + cleanUrl + '\\n\\n(Binary file — use the download URL to access)' } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get download link: ' + err.message } }];\n  }\n\n// === search_files ===\n} else if (action === 'search_files') {\n  const query = input.query;\n  if (!query) return [{ json: { error: 'Parameter \"query\" is required.' } }];\n  try {\n    let url = baseUrl + '/api2/search/?q=' + encodeURIComponent(query);\n    if (input.search_repo) url += '&search_repo=' + encodeURIComponent(input.search_repo);\n    if (input.per_page) url += '&per_page=' + encodeURIComponent(input.per_page);\n    const data = await helpers.httpRequest({ method: 'GET', url, headers: sfHeaders });\n    if (!data.results || data.results.length === 0) {\n      return [{ json: { result: 'No files found for \"' + query + '\".' } }];\n    }\n    let result = 'Search results for \"' + query + '\" (' + data.total + ' total):\\n\\n';\n    for (const item of data.results) {\n      result += '**' + item.name + '**\\n';\n      result += '  Library: ' + item.repo_name + ' | Path: ' + item.fullpath + '\\n';\n      if (item.size) result += '  Size: ' + formatSize(item.size) + '\\n';\n      if (item.content_highlight) result += '  ...' + item.content_highlight.replace(/<[^>]+>/g, '') + '...\\n';\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Search failed: ' + err.message } }];\n  }\n\n// === create_share_link ===\n} else if (action === 'create_share_link') {\n  const repoId = input.repo_id;\n  const path = input.path;\n  if (!repoId || !path) return [{ json: { error: 'Parameters \"repo_id\" and \"path\" are required.' } }];\n  try {\n    const body = { repo_id: repoId, path: path };\n    if (input.password) body.password = input.password;\n    if (input.expire_days) body.expire_days = parseInt(input.expire_days, 10);\n    const data = await helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl + '/api/v2.1/share-links/',\n      headers: { ...sfHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify(body)\n    });\n    let result = 'Share link created:\\n';\n    result += 'URL: ' + data.link + '\\n';\n    result += 'Path: ' + path + '\\n';\n    if (data.expire_date) result += 'Expires: ' + data.expire_date + '\\n';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create share link: ' + err.message } }];\n  }\n\n// === delete_file ===\n} else if (action === 'delete_file') {\n  const repoId = input.repo_id;\n  const path = input.path;\n  if (!repoId || !path) return [{ json: { error: 'Parameters \"repo_id\" and \"path\" are required.' } }];\n  try {\n    await helpers.httpRequest({\n      method: 'DELETE',\n      url: baseUrl + '/api2/repos/' + encodeURIComponent(repoId) + '/file/?p=' + encodeURIComponent(path),\n      headers: sfHeaders\n    });\n    return [{ json: { result: 'Successfully deleted: ' + path } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to delete: ' + err.message } }];\n  }\n\n// === file_operation ===\n} else if (action === 'file_operation') {\n  const repoId = input.repo_id;\n  const path = input.path;\n  const operation = input.operation;\n  if (!repoId || !path || !operation) return [{ json: { error: 'Parameters \"repo_id\", \"path\", and \"operation\" (rename|move|copy) are required.' } }];\n  if (!['rename', 'move', 'copy'].includes(operation)) {\n    return [{ json: { error: 'Invalid operation \"' + operation + '\". Must be rename, move, or copy.' } }];\n  }\n  try {\n    let formBody = 'operation=' + encodeURIComponent(operation);\n    if (operation === 'rename') {\n      if (!input.newname) return [{ json: { error: 'Parameter \"newname\" is required for rename.' } }];\n      formBody += '&newname=' + encodeURIComponent(input.newname);\n    } else {\n      if (!input.dst_repo || !input.dst_dir) return [{ json: { error: 'Parameters \"dst_repo\" and \"dst_dir\" are required for ' + operation + '.' } }];\n      formBody += '&dst_repo=' + encodeURIComponent(input.dst_repo) + '&dst_dir=' + encodeURIComponent(input.dst_dir);\n    }\n    await helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl + '/api2/repos/' + encodeURIComponent(repoId) + '/file/?p=' + encodeURIComponent(path),\n      headers: { ...sfHeaders, 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: formBody\n    });\n    if (operation === 'rename') {\n      return [{ json: { result: 'Renamed \"' + path + '\" to \"' + input.newname + '\".' } }];\n    } else {\n      return [{ json: { result: operation.charAt(0).toUpperCase() + operation.slice(1) + 'd \"' + path + '\" to ' + input.dst_dir + ' in repo ' + input.dst_repo + '.' } }];\n    }\n  } catch (err) {\n    return [{ json: { error: 'File operation failed: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Available: list_libraries, list_directory, get_file_detail, download_file, search_files, create_share_link, delete_file, file_operation.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Seafile Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Seafile",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "seafile"
        }
      },
      {
        "id": "tool-list-libraries",
        "name": "list_libraries",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "list_libraries",
          "description": "List all accessible Seafile libraries/repos. Parameters: type (filter: mine, shared, group, or org — optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_libraries",
              "type": "={{ $fromAI('type', 'Filter libraries: mine, shared, group, or org (optional, leave empty for all)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "type", "displayName": "type", "type": "string", "description": "Library filter type", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-directory",
        "name": "list_directory",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "list_directory",
          "description": "List files and folders in a Seafile library directory. Parameters: repo_id (library ID, required), path (directory path, optional, default '/')",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_directory",
              "repo_id": "={{ $fromAI('repo_id', 'Seafile library/repo ID (UUID)', 'string') }}",
              "path": "={{ $fromAI('path', 'Directory path (default: /)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "repo_id", "displayName": "repo_id", "type": "string", "description": "Library ID", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "Directory path", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-file-detail",
        "name": "get_file_detail",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "get_file_detail",
          "description": "Get metadata for a file in a Seafile library (size, last modified, etc.). Parameters: repo_id (library ID, required), path (file path, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_file_detail",
              "repo_id": "={{ $fromAI('repo_id', 'Seafile library/repo ID (UUID)', 'string') }}",
              "path": "={{ $fromAI('path', 'Full file path (e.g. /docs/readme.md)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "repo_id", "displayName": "repo_id", "type": "string", "description": "Library ID", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "File path", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-download-file",
        "name": "download_file",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 300],
        "parameters": {
          "name": "download_file",
          "description": "Get a file download link or read text file content inline. For text files (.txt, .md, .json, .csv, etc.) returns content directly. For binary files returns a download URL. Parameters: repo_id (library ID, required), path (file path, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "download_file",
              "repo_id": "={{ $fromAI('repo_id', 'Seafile library/repo ID (UUID)', 'string') }}",
              "path": "={{ $fromAI('path', 'Full file path (e.g. /docs/readme.md)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "repo_id", "displayName": "repo_id", "type": "string", "description": "Library ID", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "File path", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-search-files",
        "name": "search_files",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 600],
        "parameters": {
          "name": "search_files",
          "description": "Search for files across Seafile libraries by keyword. Parameters: query (search keywords, required), search_repo (library ID to search in, optional — omit to search all), per_page (results per page, optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_files",
              "query": "={{ $fromAI('query', 'Search keywords', 'string') }}",
              "search_repo": "={{ $fromAI('search_repo', 'Library ID to search in (optional, omit for all)', 'string') }}",
              "per_page": "={{ $fromAI('per_page', 'Results per page (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Search keywords", "required": true },
              { "id": "search_repo", "displayName": "search_repo", "type": "string", "description": "Library ID to limit search", "required": false },
              { "id": "per_page", "displayName": "per_page", "type": "string", "description": "Results per page", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-share-link",
        "name": "create_share_link",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 600],
        "parameters": {
          "name": "create_share_link",
          "description": "Create a public share link for a file or folder in Seafile. Parameters: repo_id (library ID, required), path (file/folder path, required), password (link password, optional), expire_days (expiration in days, optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_share_link",
              "repo_id": "={{ $fromAI('repo_id', 'Seafile library/repo ID (UUID)', 'string') }}",
              "path": "={{ $fromAI('path', 'File or folder path to share', 'string') }}",
              "password": "={{ $fromAI('password', 'Optional password for the share link', 'string') }}",
              "expire_days": "={{ $fromAI('expire_days', 'Optional expiration in days', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "repo_id", "displayName": "repo_id", "type": "string", "description": "Library ID", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "Path to share", "required": true },
              { "id": "password", "displayName": "password", "type": "string", "description": "Link password", "required": false },
              { "id": "expire_days", "displayName": "expire_days", "type": "string", "description": "Expiration in days", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-delete-file",
        "name": "delete_file",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 600],
        "parameters": {
          "name": "delete_file",
          "description": "Delete a file or directory in a Seafile library. Parameters: repo_id (library ID, required), path (file/folder path, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "delete_file",
              "repo_id": "={{ $fromAI('repo_id', 'Seafile library/repo ID (UUID)', 'string') }}",
              "path": "={{ $fromAI('path', 'File or folder path to delete', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "repo_id", "displayName": "repo_id", "type": "string", "description": "Library ID", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "Path to delete", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-file-operation",
        "name": "file_operation",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 600],
        "parameters": {
          "name": "file_operation",
          "description": "Rename, move, or copy a file in Seafile. Parameters: repo_id (library ID, required), path (source file path, required), operation ('rename', 'move', or 'copy', required). For rename: newname (new filename, required). For move/copy: dst_repo (destination library ID, required), dst_dir (destination directory path, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "file_operation",
              "repo_id": "={{ $fromAI('repo_id', 'Seafile library/repo ID (UUID)', 'string') }}",
              "path": "={{ $fromAI('path', 'Source file path', 'string') }}",
              "operation": "={{ $fromAI('operation', 'Operation: rename, move, or copy', 'string') }}",
              "newname": "={{ $fromAI('newname', 'New filename (for rename only)', 'string') }}",
              "dst_repo": "={{ $fromAI('dst_repo', 'Destination library ID (for move/copy)', 'string') }}",
              "dst_dir": "={{ $fromAI('dst_dir', 'Destination directory path (for move/copy)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "repo_id", "displayName": "repo_id", "type": "string", "description": "Source library ID", "required": true },
              { "id": "path", "displayName": "path", "type": "string", "description": "Source file path", "required": true },
              { "id": "operation", "displayName": "operation", "type": "string", "description": "rename, move, or copy", "required": true },
              { "id": "newname", "displayName": "newname", "type": "string", "description": "New filename (rename)", "required": false },
              { "id": "dst_repo", "displayName": "dst_repo", "type": "string", "description": "Destination library ID", "required": false },
              { "id": "dst_dir", "displayName": "dst_dir", "type": "string", "description": "Destination directory", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "list_libraries": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_directory": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_file_detail": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "download_file": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "search_files": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_share_link": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "delete_file": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "file_operation": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
