templates/kontoflux/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: KontoFlux",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "KontoFlux Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'list_accounts';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\n// Load credentials\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.kontoflux&select=cred_key,cred_value',\n  headers: pgHeaders\n});\n\nconst credMap = {};\nfor (const c of (creds || [])) credMap[c.cred_key] = c.cred_value;\n\nif (!credMap.kontoflux_api_key) {\n  return [{ json: { error: 'KontoFlux API key not configured. Use add_credential to set it up.' } }];\n}\nif (!credMap.kontoflux_workspace_id) {\n  return [{ json: { error: 'KontoFlux Workspace ID not configured. Use add_credential to set it up.' } }];\n}\n\nconst API_BASE = 'https://api.kontoflux.io/v1/' + credMap.kontoflux_workspace_id;\nconst apiHeaders = {\n  'Authorization': credMap.kontoflux_api_key\n};\n\n// Helper: treat empty strings and dummy values as empty\nfunction isEmpty(v) {\n  if (!v) return true;\n  const s = String(v).trim().toLowerCase();\n  return s === '' || s === 'all' || s === 'none' || s === 'any' || s === 'n/a' || s === 'null' || s === 'undefined';\n}\n\nfunction formatAmount(amount, currency) {\n  const sign = amount >= 0 ? '+' : '';\n  return sign + amount.toFixed(2) + ' ' + (currency || 'EUR');\n}\n\nfunction formatTransaction(t) {\n  let line = formatAmount(t.amount, t.currency);\n  if (t.counterpart && t.counterpart.name) line += ' | ' + t.counterpart.name;\n  if (t.purpose) line += ' | ' + t.purpose.substring(0, 80);\n  if (t.category && t.category.name) line += ' [' + t.category.name + ']';\n  if (t.bookingDate) line += ' (' + t.bookingDate + ')';\n  return line;\n}\n\n// === list_accounts ===\nif (action === 'list_accounts') {\n  try {\n    const resp = await helpers.httpRequest({ method: 'GET', url: API_BASE + '/accounts', headers: apiHeaders });\n    const accounts = Array.isArray(resp) ? resp : (resp.data || resp.accounts || [resp]);\n\n    if (accounts.length === 0) return [{ json: { result: 'No bank accounts found.' } }];\n\n    let result = 'Bank Accounts (' + accounts.length + '):\\n\\n';\n    for (const a of accounts) {\n      result += '- **' + (a.holderName || 'Unknown') + '**';\n      if (a.iban) result += ' | IBAN: ' + a.iban;\n      if (a.balance !== undefined) result += ' | Balance: ' + formatAmount(a.balance, a.currency);\n      if (a.availableFunds !== undefined) result += ' | Available: ' + formatAmount(a.availableFunds, a.currency);\n      if (a.blz) result += ' | BLZ: ' + a.blz;\n      result += '\\n  ID: ' + (a.id || a._id || 'n/a') + '\\n\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list accounts: ' + err.message } }];\n  }\n\n// === get_transactions ===\n} else if (action === 'get_transactions') {\n  try {\n    let url = API_BASE;\n    if (!isEmpty(input.account_id)) {\n      url += '/accounts/' + input.account_id + '/transactions';\n    } else {\n      url += '/transactions';\n    }\n\n    const params = [];\n    if (!isEmpty(input.category)) params.push('category=' + encodeURIComponent(input.category));\n    if (!isEmpty(input.after)) params.push('bookedAfter=' + encodeURIComponent(input.after));\n    if (!isEmpty(input.before)) params.push('bookedBefore=' + encodeURIComponent(input.before));\n    const lim = parseInt(input.limit);\n    params.push('limit=' + (lim > 0 ? lim : 20));\n    params.push('order=desc');\n    if (params.length > 0) url += '?' + params.join('&');\n\n    const resp = await helpers.httpRequest({ method: 'GET', url, headers: apiHeaders });\n    const transactions = Array.isArray(resp) ? resp : (resp.data || resp.transactions || []);\n\n    if (transactions.length === 0) return [{ json: { result: 'No transactions found.' } }];\n\n    let result = 'Transactions (' + transactions.length + '):\\n\\n';\n    for (const t of transactions) {\n      result += '- ' + formatTransaction(t) + '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get transactions: ' + err.message } }];\n  }\n\n// === search_transactions ===\n} else if (action === 'search_transactions') {\n  const query = input.query;\n  if (!query) return [{ json: { error: 'Parameter \"query\" is required (search text).' } }];\n\n  try {\n    let url = API_BASE + '/transactions/search?query=' + encodeURIComponent(query);\n    if (!isEmpty(input.after)) url += '&bookedAfter=' + encodeURIComponent(input.after);\n    if (!isEmpty(input.before)) url += '&bookedBefore=' + encodeURIComponent(input.before);\n    const searchLim = parseInt(input.limit);\n    url += '&limit=' + (searchLim > 0 ? searchLim : 20);\n\n    const resp = await helpers.httpRequest({ method: 'GET', url, headers: apiHeaders });\n    const transactions = Array.isArray(resp) ? resp : (resp.data || resp.transactions || []);\n\n    if (transactions.length === 0) return [{ json: { result: 'No transactions found for: ' + query } }];\n\n    let result = 'Search results for \"' + query + '\" (' + transactions.length + '):\\n\\n';\n    for (const t of transactions) {\n      result += '- ' + formatTransaction(t) + '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to search transactions: ' + err.message } }];\n  }\n\n// === list_categories ===\n} else if (action === 'list_categories') {\n  try {\n    const resp = await helpers.httpRequest({ method: 'GET', url: API_BASE + '/categories', headers: apiHeaders });\n    const categories = Array.isArray(resp) ? resp : (resp.data || resp.categories || []);\n\n    if (categories.length === 0) return [{ json: { result: 'No categories found.' } }];\n\n    let result = 'Transaction Categories:\\n\\n';\n    for (const cat of categories) {\n      result += '- **' + cat.name + '** (ID: ' + (cat.id || cat._id) + ')';\n      if (cat.children && cat.children.length > 0) {\n        result += '\\n  Sub: ' + cat.children.map(c => c.name).join(', ');\n      }\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list categories: ' + err.message } }];\n  }\n\n// === check_scope ===\n} else if (action === 'check_scope') {\n  try {\n    const resp = await helpers.httpRequest({ method: 'GET', url: API_BASE + '/key/scope', headers: apiHeaders });\n    return [{ json: { result: 'API Key Scope:\\n' + JSON.stringify(resp, null, 2) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to check scope: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use list_accounts, get_transactions, search_transactions, list_categories, or check_scope.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "KontoFlux Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: KontoFlux",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "kontoflux"
        }
      },
      {
        "id": "tool-list-accounts",
        "name": "list_accounts",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "list_accounts",
          "description": "List all bank accounts in your KontoFlux workspace with balances and IBANs. No parameters needed.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_accounts"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-transactions",
        "name": "get_transactions",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "get_transactions",
          "description": "Get bank transactions with optional filters. Parameters: account_id (numeric ID from list_accounts e.g. 24071508, or empty string for all accounts), category (category name from list_categories or empty string for all), after (start date YYYY-MM-DD or empty string for no filter), before (end date YYYY-MM-DD or empty string for no filter), limit (max results 1-250 or empty string for default 20)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_transactions",
              "account_id": "={{ $fromAI('account_id', 'Account ID or empty string for all accounts', 'string') }}",
              "category": "={{ $fromAI('category', 'Category name filter or empty string for all', 'string') }}",
              "after": "={{ $fromAI('after', 'Start date YYYY-MM-DD or empty string', 'string') }}",
              "before": "={{ $fromAI('before', 'End date YYYY-MM-DD or empty string', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Max results 1-250 or empty string for 20', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "account_id", "displayName": "account_id", "type": "string", "description": "Numeric account ID from list_accounts or empty string", "required": true },
              { "id": "category", "displayName": "category", "type": "string", "description": "Category name filter or empty string", "required": true },
              { "id": "after", "displayName": "after", "type": "string", "description": "Start date YYYY-MM-DD or empty string", "required": true },
              { "id": "before", "displayName": "before", "type": "string", "description": "End date YYYY-MM-DD or empty string", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Max results 1-250 or empty string", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-search-transactions",
        "name": "search_transactions",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "search_transactions",
          "description": "Full-text search across all transactions. Parameters: query (search text, required), after (date YYYY-MM-DD or empty string), before (date YYYY-MM-DD or empty string), limit (max results 1-250 or empty string for 20)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_transactions",
              "query": "={{ $fromAI('query', 'Search text for transactions', 'string') }}",
              "after": "={{ $fromAI('after', 'Start date YYYY-MM-DD or empty string', 'string') }}",
              "before": "={{ $fromAI('before', 'End date YYYY-MM-DD or empty string', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Max results 1-250 or empty string for 20', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Search text", "required": true },
              { "id": "after", "displayName": "after", "type": "string", "description": "Start date YYYY-MM-DD or empty string", "required": true },
              { "id": "before", "displayName": "before", "type": "string", "description": "End date YYYY-MM-DD or empty string", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Max results 1-250 or empty string", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-categories",
        "name": "list_categories",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 300],
        "parameters": {
          "name": "list_categories",
          "description": "List all AI-generated transaction categories with subcategories. No parameters needed.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_categories"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-check-scope",
        "name": "check_scope",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1000, 300],
        "parameters": {
          "name": "check_scope",
          "description": "Check API key permissions and access scope. No parameters needed.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "check_scope"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "list_accounts": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_transactions": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "search_transactions": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_categories": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "check_scope": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
