templates/nextcloud-files/workflow.json
{"format": "n8n-claw-template", "format_version": 1, "sub": {"name": "MCP Sub: Nextcloud Files", "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner"}, "nodes": [{"id": "sub-trigger", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [0, 0], "parameters": {"inputSource": "passthrough"}}, {"id": "sub-code", "name": "Nextcloud Files Logic", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [256, 0], "parameters": {"jsCode": "const input = $input.first().json;\nconst action = input.action || 'list';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\nasync function getCred(key) {\n  const res = await helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.nextcloud-files&cred_key=eq.' + key + '&select=cred_value',\n    headers: pgHeaders\n  });\n  return (res && res.length > 0) ? res[0].cred_value : null;\n}\n\nconst ncUrl = await getCred('nextcloud_url');\nconst username = await getCred('nextcloud_username');\nconst password = await getCred('nextcloud_password');\n\nif (!ncUrl || !username || !password) {\n  return [{ json: { error: 'Nextcloud credentials not configured. Use add_credential to set nextcloud_url, nextcloud_username, and nextcloud_password.' } }];\n}\n\nconst auth = 'Basic ' + Buffer.from(username + ':' + password).toString('base64');\nconst davBase = ncUrl.replace(/\\/$/, '') + '/remote.php/dav/files/' + username + '/';\n\nasync function davRequest(method, url, body, extraHeaders) {\n  const opts = {\n    method,\n    url,\n    headers: { 'Authorization': auth, ...extraHeaders },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    encoding: 'utf-8',\n    json: false\n  };\n  if (body) opts.body = body;\n  return await helpers.httpRequest(opts);\n}\n\nfunction normalizePath(p) {\n  if (!p) return '';\n  return p.replace(/^\\/+/, '').replace(/\\/+$/, '');\n}\n\nfunction buildUrl(path) {\n  const p = normalizePath(path);\n  if (!p) return davBase;\n  return davBase + p.split('/').map(s => encodeURIComponent(s)).join('/');\n}\n\nfunction extractTagContent(xml, tag) {\n  const patterns = [tag, tag.replace(':', '\\\\:')];\n  for (const p of patterns) {\n    const re = new RegExp('<' + p + '[^>]*>([\\\\s\\\\S]*?)</' + p + '>', 'g');\n    const matches = [];\n    let m;\n    while ((m = re.exec(xml)) !== null) matches.push(m[1].trim());\n    if (matches.length > 0) return matches;\n  }\n  return [];\n}\n\nfunction formatSize(bytes) {\n  if (!bytes || bytes === '0') return '0 B';\n  const n = Number(bytes);\n  if (n < 1024) return n + ' B';\n  if (n < 1024 * 1024) return (n / 1024).toFixed(1) + ' KB';\n  if (n < 1024 * 1024 * 1024) return (n / (1024 * 1024)).toFixed(1) + ' MB';\n  return (n / (1024 * 1024 * 1024)).toFixed(1) + ' GB';\n}\n\n// === list ===\nif (action === 'list') {\n  const path = input.path || '/';\n  try {\n    const propfindXml = '<?xml version=\"1.0\" encoding=\"utf-8\"?><d:propfind xmlns:d=\"DAV:\" xmlns:oc=\"http://owncloud.org/ns\"><d:prop><d:getlastmodified/><d:getcontenttype/><d:getcontentlength/><d:resourcetype/><oc:size/></d:prop></d:propfind>';\n    const resp = await davRequest('PROPFIND', buildUrl(path), propfindXml,\n      { 'Depth': '1', 'Content-Type': 'application/xml; charset=utf-8' }\n    );\n    if (resp.statusCode === 404) {\n      return [{ json: { error: 'Path not found: /' + normalizePath(path) } }];\n    }\n    const body = resp.body || '';\n    const responses = body.split('<d:response>').slice(1);\n    const items = [];\n    let isFirst = true;\n    for (const block of responses) {\n      if (isFirst) { isFirst = false; continue; }\n      const hrefs = extractTagContent('<d:response>' + block, 'd:href');\n      const href = hrefs.length > 0 ? decodeURIComponent(hrefs[0]) : '';\n      const parts = href.replace(/\\/$/, '').split('/');\n      const name = parts[parts.length - 1];\n      const isFolder = block.includes('<d:collection');\n      const sizes = extractTagContent('<d:response>' + block, 'd:getcontentlength').concat(extractTagContent('<d:response>' + block, 'oc:size'));\n      const size = sizes.length > 0 ? sizes[0] : '0';\n      const types = extractTagContent('<d:response>' + block, 'd:getcontenttype');\n      const modified = extractTagContent('<d:response>' + block, 'd:getlastmodified');\n      items.push({\n        name,\n        type: isFolder ? 'folder' : 'file',\n        size: formatSize(size),\n        contentType: types.length > 0 ? types[0] : (isFolder ? 'folder' : 'unknown'),\n        modified: modified.length > 0 ? modified[0] : ''\n      });\n    }\n    if (items.length === 0) {\n      return [{ json: { result: 'Folder /' + normalizePath(path) + ' is empty.' } }];\n    }\n    const folders = items.filter(i => i.type === 'folder');\n    const files = items.filter(i => i.type === 'file');\n    let result = 'Contents of /' + normalizePath(path) + ' (' + items.length + ' items):\\n\\n';\n    if (folders.length > 0) {\n      result += 'Folders:\\n';\n      for (const f of folders) result += '  \\uD83D\\uDCC1 ' + f.name + '/\\n';\n      result += '\\n';\n    }\n    if (files.length > 0) {\n      result += 'Files:\\n';\n      for (const f of files) result += '  \\uD83D\\uDCC4 ' + f.name + ' (' + f.size + ', ' + f.contentType + ')\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list files: ' + err.message } }];\n  }\n\n// === read ===\n} else if (action === 'read') {\n  const path = input.path;\n  if (!path) return [{ json: { error: 'Parameter \"path\" is required.' } }];\n  try {\n    const resp = await davRequest('GET', buildUrl(path), null, {});\n    if (resp.statusCode === 404) {\n      return [{ json: { error: 'File not found: /' + normalizePath(path) } }];\n    }\n    if (resp.statusCode >= 400) {\n      return [{ json: { error: 'Failed to read file. Status: ' + resp.statusCode } }];\n    }\n    const content = resp.body || '';\n    const ct = resp.headers && (resp.headers['content-type'] || '');\n    const cl = resp.headers && (resp.headers['content-length'] || '0');\n    if (content.length > 100000) {\n      return [{ json: { result: 'File /' + normalizePath(path) + ' is too large to display (' + formatSize(cl) + '). Only text files under 100KB are supported.', contentType: ct, size: formatSize(cl) } }];\n    }\n    return [{ json: { result: content, path: '/' + normalizePath(path), contentType: ct, size: formatSize(cl) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to read file: ' + err.message } }];\n  }\n\n// === write ===\n} else if (action === 'write') {\n  const path = input.path;\n  const content = input.content;\n  if (!path || content === undefined || content === null) {\n    return [{ json: { error: 'Parameters required: path, content.' } }];\n  }\n  try {\n    const resp = await davRequest('PUT', buildUrl(path), content, {\n      'Content-Type': 'text/plain; charset=utf-8',\n      'X-NC-WebDAV-AutoMkcol': '1'\n    });\n    if (resp.statusCode >= 200 && resp.statusCode < 300) {\n      return [{ json: { result: 'File written: /' + normalizePath(path) + ' (' + formatSize(String(content.length)) + ')' } }];\n    }\n    return [{ json: { error: 'Failed to write file. Status: ' + resp.statusCode + ' Body: ' + (resp.body || '').substring(0, 300) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to write file: ' + err.message } }];\n  }\n\n// === upload_url ===\n} else if (action === 'upload_url') {\n  const url = input.url;\n  const path = input.path;\n  if (!url || !path) {\n    return [{ json: { error: 'Parameters required: url (source URL), path (destination on Nextcloud).' } }];\n  }\n  try {\n    const dlResp = await helpers.httpRequest({\n      method: 'GET',\n      url: url,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n      encoding: 'arraybuffer'\n    });\n    if (dlResp.statusCode >= 400) {\n      return [{ json: { error: 'Failed to download from URL. Status: ' + dlResp.statusCode } }];\n    }\n    const fileBuffer = dlResp.body;\n    const ct = dlResp.headers && (dlResp.headers['content-type'] || 'application/octet-stream');\n    const uploadResp = await helpers.httpRequest({\n      method: 'PUT',\n      url: buildUrl(path),\n      headers: {\n        'Authorization': auth,\n        'Content-Type': ct,\n        'X-NC-WebDAV-AutoMkcol': '1'\n      },\n      body: fileBuffer,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n      encoding: 'arraybuffer'\n    });\n    if (uploadResp.statusCode >= 200 && uploadResp.statusCode < 300) {\n      const size = fileBuffer.byteLength || fileBuffer.length || 0;\n      return [{ json: { result: 'File uploaded: /' + normalizePath(path) + ' (' + formatSize(String(size)) + ')', path: '/' + normalizePath(path), size: formatSize(String(size)) } }];\n    }\n    return [{ json: { error: 'Failed to upload file. Status: ' + uploadResp.statusCode } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to upload from URL: ' + err.message } }];\n  }\n\n// === mkdir ===\n} else if (action === 'mkdir') {\n  const path = input.path;\n  if (!path) return [{ json: { error: 'Parameter \"path\" is required.' } }];\n  try {\n    const resp = await davRequest('MKCOL', buildUrl(path) + '/', null, {});\n    if (resp.statusCode === 201) {\n      return [{ json: { result: 'Folder created: /' + normalizePath(path) } }];\n    }\n    if (resp.statusCode === 405) {\n      return [{ json: { result: 'Folder already exists: /' + normalizePath(path) } }];\n    }\n    return [{ json: { error: 'Failed to create folder. Status: ' + resp.statusCode + ' Body: ' + (resp.body || '').substring(0, 300) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create folder: ' + err.message } }];\n  }\n\n// === delete ===\n} else if (action === 'delete') {\n  const path = input.path;\n  if (!path) return [{ json: { error: 'Parameter \"path\" is required.' } }];\n  try {\n    const resp = await davRequest('DELETE', buildUrl(path), null, {});\n    if (resp.statusCode >= 200 && resp.statusCode < 300) {\n      return [{ json: { result: 'Deleted: /' + normalizePath(path) } }];\n    }\n    if (resp.statusCode === 404) {\n      return [{ json: { error: 'Not found: /' + normalizePath(path) } }];\n    }\n    return [{ json: { error: 'Failed to delete. Status: ' + resp.statusCode + ' Body: ' + (resp.body || '').substring(0, 300) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to delete: ' + err.message } }];\n  }\n\n// === move ===\n} else if (action === 'move') {\n  const source = input.source;\n  const destination = input.destination;\n  if (!source || !destination) {\n    return [{ json: { error: 'Parameters required: source, destination.' } }];\n  }\n  try {\n    const resp = await davRequest('MOVE', buildUrl(source), null, {\n      'Destination': buildUrl(destination),\n      'Overwrite': 'F'\n    });\n    if (resp.statusCode >= 200 && resp.statusCode < 300) {\n      return [{ json: { result: 'Moved: /' + normalizePath(source) + ' \\u2192 /' + normalizePath(destination) } }];\n    }\n    if (resp.statusCode === 404) {\n      return [{ json: { error: 'Source not found: /' + normalizePath(source) } }];\n    }\n    if (resp.statusCode === 412) {\n      return [{ json: { error: 'Destination already exists: /' + normalizePath(destination) } }];\n    }\n    return [{ json: { error: 'Failed to move. Status: ' + resp.statusCode + ' Body: ' + (resp.body || '').substring(0, 300) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to move: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use list, read, write, upload_url, mkdir, delete, or move.' } }];\n}\n"}}], "connections": {"Execute Workflow Trigger": {"main": [[{"node": "Nextcloud Files Logic", "type": "main", "index": 0}]]}}}, "server": {"name": "MCP: Nextcloud Files", "settings": {"executionOrder": "v1"}, "nodes": [{"id": "mcp-trigger", "name": "MCP Server Trigger", "type": "@n8n/n8n-nodes-langchain.mcpTrigger", "typeVersion": 2, "position": [0, 0], "parameters": {"path": "nextcloud-files"}}, {"id": "tool-list-files", "name": "list_files", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [0, 300], "parameters": {"name": "list_files", "description": "List files and folders in a Nextcloud directory. Parameters: path (optional, default / for root directory, e.g. /Documents or /Photos/2026)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "list", "path": "={{ $fromAI('path', 'Directory path, default /', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "path", "displayName": "path", "type": "string", "description": "Directory path", "required": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-read-file", "name": "read_file", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [300, 300], "parameters": {"name": "read_file", "description": "Read the text content of a file on Nextcloud. Works best with text files (.txt, .md, .csv, .json, .xml). Parameters: path (file path, e.g. /Documents/notes.txt)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "read", "path": "={{ $fromAI('path', 'File path to read', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "path", "displayName": "path", "type": "string", "description": "File path", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-write-file", "name": "write_file", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [600, 300], "parameters": {"name": "write_file", "description": "Create or overwrite a file on Nextcloud with text content. Parent folders are created automatically. Parameters: path (file path, e.g. /Documents/notes.txt), content (text content to write)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "write", "path": "={{ $fromAI('path', 'File path to write', 'string') }}", "content": "={{ $fromAI('content', 'Text content to write', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "path", "displayName": "path", "type": "string", "description": "File path", "required": true}, {"id": "content", "displayName": "content", "type": "string", "description": "Text content", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-upload-url", "name": "upload_from_url", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [900, 300], "parameters": {"name": "upload_from_url", "description": "Download a file from a URL and save it to Nextcloud. Use this to upload images, PDFs, or any file from the internet or Telegram file URLs. Parameters: url (source URL to download from), path (destination path on Nextcloud, e.g. /Photos/image.jpg)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "upload_url", "url": "={{ $fromAI('url', 'Source URL to download from', 'string') }}", "path": "={{ $fromAI('path', 'Destination path on Nextcloud', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "url", "displayName": "url", "type": "string", "description": "Source URL", "required": true}, {"id": "path", "displayName": "path", "type": "string", "description": "Destination path", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-create-folder", "name": "create_folder", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [1200, 300], "parameters": {"name": "create_folder", "description": "Create a new folder on Nextcloud. Parameters: path (folder path to create, e.g. /Projects/NewProject)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "mkdir", "path": "={{ $fromAI('path', 'Folder path to create', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "path", "displayName": "path", "type": "string", "description": "Folder path", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-delete-file", "name": "delete_file", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [1500, 300], "parameters": {"name": "delete_file", "description": "Delete a file or folder on Nextcloud. Deleting a folder removes all its contents. Parameters: path (path to delete, e.g. /Documents/old-file.txt)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "delete", "path": "={{ $fromAI('path', 'Path to delete', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "path", "displayName": "path", "type": "string", "description": "Path to delete", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-move-file", "name": "move_file", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [1800, 300], "parameters": {"name": "move_file", "description": "Move or rename a file or folder on Nextcloud. Parameters: source (current path, e.g. /Documents/old-name.txt), destination (new path, e.g. /Archive/new-name.txt)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "move", "source": "={{ $fromAI('source', 'Current file/folder path', 'string') }}", "destination": "={{ $fromAI('destination', 'New file/folder path', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "source", "displayName": "source", "type": "string", "description": "Current path", "required": true}, {"id": "destination", "displayName": "destination", "type": "string", "description": "New path", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}], "connections": {"list_files": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "read_file": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "write_file": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "upload_from_url": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "create_folder": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "delete_file": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "move_file": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}}}}