templates/route-planner/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Route Planner",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Route Planner Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          0
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'plan_route';\n\n// --- Credential Loading ---\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgH = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.route-planner&cred_key=eq.ors_api_key&select=cred_value',\n  headers: pgH\n});\nif (!creds || creds.length === 0 || !creds[0].cred_value) {\n  return [{ json: { error: 'OpenRouteService API key not configured. Use add_credential to set it up.' } }];\n}\nconst API_KEY = creds[0].cred_value;\nconst ORS = 'https://api.openrouteservice.org';\nconst ORS_H = { 'Authorization': API_KEY, 'Content-Type': 'application/json' };\n\n// --- Shared Helpers ---\nasync function geocode(text) {\n  if (!text || !text.trim()) return null;\n  text = text.trim();\n  const m = text.match(/^(-?\\d+\\.?\\d*)\\s*,\\s*(-?\\d+\\.?\\d*)$/);\n  if (m) return { lat: parseFloat(m[1]), lon: parseFloat(m[2]), name: text };\n  try {\n    const r = await helpers.httpRequest({\n      method: 'GET',\n      url: ORS + '/geocode/search?api_key=' + API_KEY + '&text=' + encodeURIComponent(text) + '&size=1',\n      headers: { 'Accept': 'application/json' }\n    });\n    if (!r.features || r.features.length === 0) return null;\n    const f = r.features[0];\n    return { lat: f.geometry.coordinates[1], lon: f.geometry.coordinates[0], name: f.properties.label || text };\n  } catch (e) {\n    return null;\n  }\n}\n\nasync function geocodeMulti(startText, endText, waypointsText) {\n  const startGeo = await geocode(startText);\n  if (!startGeo) return { error: 'Could not geocode start location: ' + startText };\n  const endGeo = await geocode(endText);\n  if (!endGeo) return { error: 'Could not geocode destination: ' + endText };\n  const coords = [[startGeo.lon, startGeo.lat]];\n  const names = [startGeo.name];\n  if (waypointsText) {\n    const wps = waypointsText.split(';').map(s => s.trim()).filter(s => s);\n    for (const wp of wps) {\n      const g = await geocode(wp);\n      if (!g) return { error: 'Could not geocode waypoint: ' + wp };\n      coords.push([g.lon, g.lat]);\n      names.push(g.name);\n    }\n  }\n  coords.push([endGeo.lon, endGeo.lat]);\n  names.push(endGeo.name);\n  return { coords, names, startGeo, endGeo };\n}\n\nfunction fmtDuration(seconds) {\n  const h = Math.floor(seconds / 3600);\n  const m = Math.round((seconds % 3600) / 60);\n  return h > 0 ? h + 'h ' + m + 'min' : m + 'min';\n}\n\n// ============================================================\n// ACTION: plan_route (ORS)\n// ============================================================\nif (action === 'plan_route') {\n  const startText = input.start;\n  const endText = input.end;\n  if (!startText || !endText) return [{ json: { error: 'Parameters \"start\" and \"end\" are required.' } }];\n\n  const profile = input.profile || 'foot-hiking';\n  const validProfiles = ['foot-hiking', 'foot-walking', 'cycling-regular', 'cycling-road', 'cycling-mountain', 'cycling-electric'];\n  if (!validProfiles.includes(profile)) {\n    return [{ json: { error: 'Invalid profile: ' + profile + '. Use: ' + validProfiles.join(', ') } }];\n  }\n\n  const geo = await geocodeMulti(startText, endText, input.waypoints);\n  if (geo.error) return [{ json: { error: geo.error } }];\n\n  const body = { coordinates: geo.coords };\n\n  // Call 1: JSON for summary + directions\n  let jsonData;\n  try {\n    jsonData = await helpers.httpRequest({\n      method: 'POST',\n      url: ORS + '/v2/directions/' + profile,\n      headers: ORS_H,\n      body: JSON.stringify(body)\n    });\n  } catch (err) {\n    return [{ json: { error: 'Route planning failed: ' + (err.message || err) } }];\n  }\n\n  if (!jsonData.routes || jsonData.routes.length === 0) {\n    return [{ json: { error: 'No route found between the given locations.' } }];\n  }\n\n  // Call 2: GPX\n  let gpxData;\n  try {\n    gpxData = await helpers.httpRequest({\n      method: 'POST',\n      url: ORS + '/v2/directions/' + profile + '/gpx',\n      headers: { 'Authorization': API_KEY, 'Content-Type': 'application/json; charset=utf-8' },\n      body: JSON.stringify(body),\n      json: false\n    });\n  } catch (err) {\n    return [{ json: { error: 'GPX generation failed: ' + (err.message || err) } }];\n  }\n\n  const route = jsonData.routes[0];\n  const summary = route.summary;\n  const distKm = (summary.distance / 1000).toFixed(1);\n  const durStr = fmtDuration(summary.duration);\n\n  let result = 'Route: ' + geo.startGeo.name + ' → ' + geo.endGeo.name + '\\n';\n  result += 'Profile: ' + profile + '\\n';\n  result += 'Distance: ' + distKm + ' km\\n';\n  result += 'Duration: ' + durStr + '\\n';\n  if (summary.ascent !== undefined) result += 'Elevation gain: ' + Math.round(summary.ascent) + ' m\\n';\n  if (summary.descent !== undefined) result += 'Elevation loss: ' + Math.round(summary.descent) + ' m\\n';\n\n  if (route.segments) {\n    result += '\\nDirections:\\n';\n    let stepNum = 1;\n    for (const seg of route.segments) {\n      for (const step of (seg.steps || [])) {\n        const sDist = step.distance >= 1000\n          ? (step.distance / 1000).toFixed(1) + ' km'\n          : Math.round(step.distance) + ' m';\n        result += stepNum + '. ' + step.instruction + ' (' + sDist + ')\\n';\n        stepNum++;\n      }\n    }\n  }\n\n  result += '\\n--- GPX DATA ---\\n' + gpxData;\n  return [{ json: { result } }];\n\n// ============================================================\n// ACTION: plan_route_outdoor (BRouter + ORS Geocoding)\n// ============================================================\n} else if (action === 'plan_route_outdoor') {\n  const startText = input.start;\n  const endText = input.end;\n  if (!startText || !endText) return [{ json: { error: 'Parameters \"start\" and \"end\" are required.' } }];\n\n  const profile = input.profile || 'trekking';\n  const validProfiles = ['trekking', 'fastbike', 'trekking-bike', 'mtb', 'safety'];\n  if (!validProfiles.includes(profile)) {\n    return [{ json: { error: 'Invalid profile: ' + profile + '. Use: ' + validProfiles.join(', ') } }];\n  }\n\n  const geo = await geocodeMulti(startText, endText, input.waypoints);\n  if (geo.error) return [{ json: { error: geo.error } }];\n\n  // Build BRouter lonlats parameter: lon1,lat1|lon2,lat2|...\n  const lonlats = geo.coords.map(c => c[0].toFixed(6) + ',' + c[1].toFixed(6)).join('|');\n  const brouterUrl = 'https://brouter.damsy.net/latest/brouter?lonlats=' + lonlats\n    + '&profile=' + profile + '&format=gpx';\n\n  let gpxData;\n  let usedFallback = false;\n  let orsSummary = null;\n  try {\n    gpxData = await helpers.httpRequest({\n      method: 'GET',\n      url: brouterUrl,\n      headers: { 'Accept': 'application/gpx+xml' },\n      json: false\n    });\n  } catch (brouterErr) {\n    // Fallback to ORS\n    usedFallback = true;\n    const orsProfile = profile === 'trekking' ? 'foot-hiking'\n      : profile === 'fastbike' ? 'cycling-road'\n      : profile === 'trekking-bike' ? 'cycling-regular'\n      : profile === 'mtb' ? 'cycling-mountain'\n      : 'foot-hiking';\n    try {\n      const orsBody = JSON.stringify({ coordinates: geo.coords, elevation: true });\n      const jsonData = await helpers.httpRequest({\n        method: 'POST',\n        url: ORS + '/v2/directions/' + orsProfile,\n        headers: ORS_H,\n        body: orsBody\n      });\n      if (jsonData.routes && jsonData.routes[0]) orsSummary = jsonData.routes[0].summary;\n      gpxData = await helpers.httpRequest({\n        method: 'POST',\n        url: ORS + '/v2/directions/' + orsProfile + '/gpx',\n        headers: { 'Authorization': API_KEY, 'Content-Type': 'application/json; charset=utf-8' },\n        body: orsBody,\n        json: false\n      });\n    } catch (orsErr) {\n      return [{ json: { error: 'Both BRouter and ORS routing failed. BRouter: ' + (brouterErr.message || brouterErr) + ' | ORS: ' + (orsErr.message || orsErr) } }];\n    }\n  }\n\n  // Parse GPX for basic summary\n  let totalDist = 0;\n  let elevGain = 0;\n  let elevLoss = 0;\n  let minEle = Infinity;\n  let maxEle = -Infinity;\n\n  if (orsSummary) {\n    totalDist = orsSummary.distance || 0;\n    elevGain = orsSummary.ascent || 0;\n    elevLoss = orsSummary.descent || 0;\n  } else {\n  try {\n    const eleMatches = gpxData.match(/<ele>([\\d.]+)<\\/ele>/g) || [];\n    const elevations = eleMatches.map(m => parseFloat(m.replace(/<\\/?ele>/g, '')));\n    for (let i = 0; i < elevations.length; i++) {\n      const e = elevations[i];\n      if (e < minEle) minEle = e;\n      if (e > maxEle) maxEle = e;\n      if (i > 0) {\n        const diff = e - elevations[i - 1];\n        if (diff > 0) elevGain += diff;\n        else elevLoss += Math.abs(diff);\n      }\n    }\n\n    // Parse trkpt coordinates for distance calculation\n    const ptMatches = gpxData.match(/lat=\"([\\d.-]+)\"\\s+lon=\"([\\d.-]+)\"/g) || [];\n    const points = ptMatches.map(m => {\n      const parts = m.match(/lat=\"([\\d.-]+)\"\\s+lon=\"([\\d.-]+)\"/);\n      return { lat: parseFloat(parts[1]), lon: parseFloat(parts[2]) };\n    });\n    for (let i = 1; i < points.length; i++) {\n      const R = 6371000;\n      const dLat = (points[i].lat - points[i-1].lat) * Math.PI / 180;\n      const dLon = (points[i].lon - points[i-1].lon) * Math.PI / 180;\n      const a = Math.sin(dLat/2) * Math.sin(dLat/2)\n        + Math.cos(points[i-1].lat * Math.PI / 180) * Math.cos(points[i].lat * Math.PI / 180)\n        * Math.sin(dLon/2) * Math.sin(dLon/2);\n      totalDist += R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n    }\n  } catch (parseErr) {\n    // Continue with partial data\n  }\n  } // end else (BRouter GPX parsing)\n\n  const distKm = (totalDist / 1000).toFixed(1);\n\n  let result = 'Route: ' + geo.startGeo.name + ' → ' + geo.endGeo.name + '\\n';\n  result += 'Router: ' + (usedFallback ? 'ORS (BRouter unavailable)' : 'BRouter') + '\\n';\n  result += 'Profile: ' + profile + '\\n';\n  if (totalDist > 0) result += 'Distance: ' + distKm + ' km\\n';\n  if (elevGain > 0) result += 'Elevation gain: ' + Math.round(elevGain) + ' m\\n';\n  if (elevLoss > 0) result += 'Elevation loss: ' + Math.round(elevLoss) + ' m\\n';\n  if (minEle !== Infinity) result += 'Elevation range: ' + Math.round(minEle) + ' m – ' + Math.round(maxEle) + ' m\\n';\n  result += '\\nNote: BRouter provides GPS track data only (no turn-by-turn directions). Follow the track on a map/GPS device.\\n';\n  result += '\\n--- GPX DATA ---\\n' + gpxData;\n  return [{ json: { result } }];\n\n// ============================================================\n// ACTION: search_place\n// ============================================================\n} else if (action === 'search_place') {\n  const query = input.query;\n  if (!query) return [{ json: { error: 'Parameter \"query\" is required.' } }];\n  const limit = parseInt(input.limit) || 3;\n\n  try {\n    const res = await helpers.httpRequest({\n      method: 'GET',\n      url: ORS + '/geocode/search?api_key=' + API_KEY + '&text=' + encodeURIComponent(query) + '&size=' + limit,\n      headers: { 'Accept': 'application/json' }\n    });\n    if (!res.features || res.features.length === 0) {\n      return [{ json: { result: 'No places found for: ' + query } }];\n    }\n    let result = 'Places for \"' + query + '\":\\n\\n';\n    for (const f of res.features) {\n      const p = f.properties;\n      const c = f.geometry.coordinates;\n      result += '- ' + p.label + '\\n';\n      result += '  Coordinates: ' + c[1].toFixed(5) + ', ' + c[0].toFixed(5) + '\\n';\n      if (p.region) result += '  Region: ' + p.region + '\\n';\n      if (p.country) result += '  Country: ' + p.country + '\\n';\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Place search failed: ' + (err.message || err) } }];\n  }\n\n// ============================================================\n// ACTION: find_pois\n// ============================================================\n} else if (action === 'find_pois') {\n  const locationText = input.location;\n  if (!locationText) return [{ json: { error: 'Parameter \"location\" is required.' } }];\n\n  const geo = await geocode(locationText);\n  if (!geo) return [{ json: { error: 'Could not geocode location: ' + locationText } }];\n\n  const radius = Math.min(parseInt(input.radius) || 1500, 2000);\n\n  // Verified category IDs from official categories.yml\n  const catMap = {\n    'alpine_hut': 101, 'camp_site': 103, 'bench': 162,\n    'drinking_water': 166, 'shelter': 175, 'toilet': 179,\n    'peak': 335, 'restaurant': 570, 'parking': 601,\n    'picnic_site': 625, 'viewpoint': 627\n  };\n  const catNames = {};\n  for (const [k, v] of Object.entries(catMap)) catNames[v] = k;\n\n  // Default: outdoor-relevant (max 5 per request)\n  let categoryIds = [101, 627, 166, 625, 335];\n  if (input.categories) {\n    const requested = input.categories.split(',').map(s => s.trim().toLowerCase());\n    categoryIds = requested.map(c => catMap[c] || parseInt(c)).filter(id => !isNaN(id));\n    if (categoryIds.length === 0) {\n      return [{ json: { error: 'No valid categories. Available: ' + Object.keys(catMap).join(', ') } }];\n    }\n  }\n\n  // ORS POIs API: max 5 category IDs per request\n  let allFeatures = [];\n  const batches = [];\n  for (let i = 0; i < categoryIds.length; i += 5) {\n    batches.push(categoryIds.slice(i, i + 5));\n  }\n\n  for (const batch of batches) {\n    try {\n      const poiData = await helpers.httpRequest({\n        method: 'POST',\n        url: ORS + '/pois',\n        headers: ORS_H,\n        body: JSON.stringify({\n          request: 'pois',\n          geometry: {\n            geojson: { type: 'Point', coordinates: [geo.lon, geo.lat] },\n            buffer: radius\n          },\n          filters: { category_ids: batch },\n          limit: 20,\n          sortby: 'distance'\n        })\n      });\n      if (poiData.features) allFeatures = allFeatures.concat(poiData.features);\n    } catch (err) {\n      // Continue with other batches\n    }\n  }\n\n  // Sort all results by distance\n  allFeatures.sort((a, b) => (a.properties?.distance || 9999) - (b.properties?.distance || 9999));\n  allFeatures = allFeatures.slice(0, 20);\n\n  if (allFeatures.length === 0) {\n    return [{ json: { result: 'No points of interest found near ' + geo.name + ' (radius: ' + radius + 'm)' } }];\n  }\n\n  let result = 'POIs near ' + geo.name + ' (radius ' + radius + 'm, ' + allFeatures.length + ' found):\\n\\n';\n  for (const f of allFeatures) {\n    const p = f.properties || {};\n    const c = f.geometry.coordinates;\n    const name = (p.osm_tags && p.osm_tags.name) || 'Unnamed';\n    const dist = p.distance != null ? Math.round(p.distance) + 'm' : '?';\n    // Try to identify category from the response\n    let catStr = '';\n    if (p.category_ids && typeof p.category_ids === 'object') {\n      catStr = Object.keys(p.category_ids).map(id => catNames[id] || id).join(', ');\n    } else if (p.category_ids) {\n      catStr = String(p.category_ids);\n    }\n    result += '- ' + name + ' (' + catStr + ') — ' + dist + '\\n';\n    result += '  Coordinates: ' + c[1].toFixed(5) + ', ' + c[0].toFixed(5) + '\\n';\n    if (p.osm_tags && p.osm_tags.ele) result += '  Elevation: ' + p.osm_tags.ele + 'm\\n';\n    if (p.osm_tags && p.osm_tags.opening_hours) result += '  Hours: ' + p.osm_tags.opening_hours + '\\n';\n    result += '\\n';\n  }\n  return [{ json: { result } }];\n\n// ============================================================\n// ACTION: get_elevation_profile\n// ============================================================\n} else if (action === 'get_elevation_profile') {\n  const startText = input.start;\n  const endText = input.end;\n  if (!startText || !endText) return [{ json: { error: 'Parameters \"start\" and \"end\" are required.' } }];\n\n  const geo = await geocodeMulti(startText, endText, input.waypoints);\n  if (geo.error) return [{ json: { error: geo.error } }];\n\n  // Use ORS Directions with elevation: true for full route profile\n  let routeData;\n  try {\n    routeData = await helpers.httpRequest({\n      method: 'POST',\n      url: ORS + '/v2/directions/foot-hiking/geojson',\n      headers: ORS_H,\n      body: JSON.stringify({\n        coordinates: geo.coords,\n        elevation: true\n      })\n    });\n  } catch (err) {\n    return [{ json: { error: 'Elevation request failed: ' + (err.message || err) } }];\n  }\n\n  let elevations = [];\n  let totalDist = 0;\n  let totalGainAPI = 0;\n  let totalLossAPI = 0;\n  try {\n    const feat = routeData.features[0];\n    const coords = feat.geometry.coordinates;\n    elevations = coords.map(c => c[2]);\n    const summary = feat.properties.summary;\n    if (summary) {\n      totalDist = summary.distance || 0;\n      totalGainAPI = summary.ascent || 0;\n      totalLossAPI = summary.descent || 0;\n    }\n  } catch (e) {\n    return [{ json: { error: 'Could not parse elevation data.' } }];\n  }\n\n  if (elevations.length === 0) {\n    return [{ json: { error: 'No elevation data returned.' } }];\n  }\n\n  const minEle = Math.round(Math.min(...elevations));\n  const maxEle = Math.round(Math.max(...elevations));\n  const avgEle = Math.round(elevations.reduce((a, b) => a + b, 0) / elevations.length);\n  const distKm = (totalDist / 1000).toFixed(1);\n\n  // Calculate ascent/descent from data points (API summary may not include them)\n  let totalGain = 0;\n  let totalLoss = 0;\n  for (let i = 1; i < elevations.length; i++) {\n    const diff = elevations[i] - elevations[i - 1];\n    if (diff > 0) totalGain += diff;\n    else totalLoss += Math.abs(diff);\n  }\n  const ascent = totalGainAPI > 0 ? Math.round(totalGainAPI) : Math.round(totalGain);\n  const descent = totalLossAPI > 0 ? Math.round(totalLossAPI) : Math.round(totalLoss);\n\n  let result = 'Elevation Profile: ' + geo.startGeo.name + ' \\u2192 ' + geo.endGeo.name + '\\n\\n';\n  result += 'Distance: ' + distKm + ' km\\n';\n  result += 'Minimum elevation: ' + minEle + ' m\\n';\n  result += 'Maximum elevation: ' + maxEle + ' m\\n';\n  result += 'Average elevation: ' + avgEle + ' m\\n';\n  result += 'Total ascent: ' + ascent + ' m\\n';\n  result += 'Total descent: ' + descent + ' m\\n';\n  result += 'Data points: ' + elevations.length + '\\n';\n\n  // ASCII elevation chart\n  const steps = 20;\n  const range = maxEle - minEle || 1;\n  const bucketSize = Math.ceil(elevations.length / steps);\n  result += '\\nProfile (vertical: elevation, horizontal: distance):\\n';\n  const chartRows = 8;\n  const buckets = [];\n  for (let i = 0; i < steps && i * bucketSize < elevations.length; i++) {\n    const slice = elevations.slice(i * bucketSize, (i + 1) * bucketSize);\n    buckets.push(Math.round(slice.reduce((a, b) => a + b, 0) / slice.length));\n  }\n  for (let row = chartRows; row >= 1; row--) {\n    const threshold = minEle + (range * row / chartRows);\n    let line = '';\n    for (const b of buckets) {\n      line += b >= threshold ? '\\u2588' : ' ';\n    }\n    result += '  ' + line + '\\n';\n  }\n  result += '  ' + minEle + 'm' + ' '.repeat(Math.max(0, buckets.length - String(minEle).length - String(maxEle).length - 2)) + maxEle + 'm\\n';\n\n  return [{ json: { result } }];\n\n// ============================================================\n// ACTION: get_isochrone\n// ============================================================\n} else if (action === 'get_isochrone') {\n  const locationText = input.location;\n  if (!locationText) return [{ json: { error: 'Parameter \"location\" is required.' } }];\n  const timeMin = parseInt(input.time);\n  if (!timeMin || timeMin <= 0) return [{ json: { error: 'Parameter \"time\" (minutes) is required and must be positive.' } }];\n\n  const profile = input.profile || 'foot-hiking';\n  const validProfiles = ['foot-hiking', 'foot-walking', 'cycling-regular', 'cycling-road', 'cycling-mountain', 'cycling-electric'];\n  if (!validProfiles.includes(profile)) {\n    return [{ json: { error: 'Invalid profile: ' + profile + '. Use: ' + validProfiles.join(', ') } }];\n  }\n\n  const geo = await geocode(locationText);\n  if (!geo) return [{ json: { error: 'Could not geocode location: ' + locationText } }];\n\n  let isoData;\n  try {\n    isoData = await helpers.httpRequest({\n      method: 'POST',\n      url: ORS + '/v2/isochrones/' + profile,\n      headers: ORS_H,\n      body: JSON.stringify({\n        locations: [[geo.lon, geo.lat]],\n        range: [timeMin * 60]\n      })\n    });\n  } catch (err) {\n    return [{ json: { error: 'Isochrone request failed: ' + (err.message || err) } }];\n  }\n\n  if (!isoData.features || isoData.features.length === 0) {\n    return [{ json: { error: 'No isochrone data returned.' } }];\n  }\n\n  const feature = isoData.features[0];\n  const props = feature.properties || {};\n  const coords = feature.geometry.coordinates[0] || [];\n\n  // Calculate bounding box and approximate area\n  let minLat = 90, maxLat = -90, minLon = 180, maxLon = -180;\n  for (const c of coords) {\n    if (c[0] < minLon) minLon = c[0];\n    if (c[0] > maxLon) maxLon = c[0];\n    if (c[1] < minLat) minLat = c[1];\n    if (c[1] > maxLat) maxLat = c[1];\n  }\n\n  // Approximate area using Shoelace formula on the polygon\n  let area = 0;\n  for (let i = 0; i < coords.length - 1; i++) {\n    const [x1, y1] = coords[i];\n    const [x2, y2] = coords[i + 1];\n    area += x1 * y2 - x2 * y1;\n  }\n  area = Math.abs(area) / 2;\n  // Convert from degree^2 to km^2 (approximate at mid-latitude)\n  const midLat = (minLat + maxLat) / 2;\n  const degToKmLat = 111.32;\n  const degToKmLon = 111.32 * Math.cos(midLat * Math.PI / 180);\n  const areaKm2 = (area * degToKmLat * degToKmLon).toFixed(1);\n\n  // Max reach in each direction\n  const reachNS = ((maxLat - minLat) * degToKmLat).toFixed(1);\n  const reachEW = ((maxLon - minLon) * degToKmLon).toFixed(1);\n\n  let result = 'Isochrone from ' + geo.name + '\\n';\n  result += 'Profile: ' + profile + '\\n';\n  result += 'Time: ' + timeMin + ' minutes\\n\\n';\n  result += 'Reachable area: ~' + areaKm2 + ' km²\\n';\n  result += 'Max reach N-S: ~' + reachNS + ' km\\n';\n  result += 'Max reach E-W: ~' + reachEW + ' km\\n';\n  result += 'Bounding box: ' + minLat.toFixed(4) + ',' + minLon.toFixed(4) + ' → ' + maxLat.toFixed(4) + ',' + maxLon.toFixed(4) + '\\n';\n  if (props.area) result += 'Area (API): ' + (props.area / 1000000).toFixed(1) + ' km²\\n';\n\n  return [{ json: { result } }];\n\n// ============================================================\n// ACTION: optimize_route\n// ============================================================\n} else if (action === 'optimize_route') {\n  const locationsText = input.locations;\n  if (!locationsText) return [{ json: { error: 'Parameter \"locations\" is required (semicolon-separated, min 3).' } }];\n\n  const locTexts = locationsText.split(';').map(s => s.trim()).filter(s => s);\n  if (locTexts.length < 3) {\n    return [{ json: { error: 'At least 3 locations are required for route optimization.' } }];\n  }\n\n  const profile = input.profile || 'foot-hiking';\n  const validProfiles = ['foot-hiking', 'foot-walking', 'cycling-regular', 'cycling-road', 'cycling-mountain', 'cycling-electric', 'driving-car'];\n  if (!validProfiles.includes(profile)) {\n    return [{ json: { error: 'Invalid profile: ' + profile + '. Use: ' + validProfiles.join(', ') } }];\n  }\n\n  const startFixed = input.start_fixed !== 'false' && input.start_fixed !== false;\n  const endFixed = input.end_fixed === 'true' || input.end_fixed === true;\n\n  // Geocode all locations\n  const geos = [];\n  for (const loc of locTexts) {\n    const g = await geocode(loc);\n    if (!g) return [{ json: { error: 'Could not geocode location: ' + loc } }];\n    geos.push(g);\n  }\n\n  // Build VROOM optimization request\n  const jobs = geos.map((g, i) => {\n    // Skip first if start_fixed, skip last if end_fixed\n    if (startFixed && i === 0) return null;\n    if (endFixed && i === geos.length - 1) return null;\n    return {\n      id: i,\n      location: [g.lon, g.lat],\n      description: g.name\n    };\n  }).filter(j => j !== null);\n\n  const vehicle = {\n    id: 0,\n    profile: profile,\n    start: [geos[0].lon, geos[0].lat]\n  };\n  if (endFixed) {\n    vehicle.end = [geos[geos.length - 1].lon, geos[geos.length - 1].lat];\n  }\n\n  let optData;\n  try {\n    optData = await helpers.httpRequest({\n      method: 'POST',\n      url: ORS + '/optimization',\n      headers: ORS_H,\n      body: JSON.stringify({\n        jobs: jobs,\n        vehicles: [vehicle]\n      })\n    });\n  } catch (err) {\n    return [{ json: { error: 'Route optimization failed: ' + (err.message || err) } }];\n  }\n\n  if (!optData.routes || optData.routes.length === 0) {\n    return [{ json: { error: 'Optimization returned no result.' } }];\n  }\n\n  const optRoute = optData.routes[0];\n  const steps = optRoute.steps || [];\n\n  let result = 'Optimized Route Order:\\n\\n';\n  let stepNum = 1;\n  for (const step of steps) {\n    if (step.type === 'start') {\n      result += stepNum + '. START: ' + geos[0].name + '\\n';\n      stepNum++;\n    } else if (step.type === 'job') {\n      const jobGeo = geos[step.job];\n      result += stepNum + '. ' + (jobGeo ? jobGeo.name : 'Location ' + step.job) + '\\n';\n      stepNum++;\n    } else if (step.type === 'end') {\n      result += stepNum + '. END: ' + (endFixed ? geos[geos.length - 1].name : geos[0].name) + '\\n';\n      stepNum++;\n    }\n  }\n\n  const totalDist = (optRoute.distance / 1000).toFixed(1);\n  const totalDur = fmtDuration(optRoute.duration);\n  result += '\\nTotal distance: ' + totalDist + ' km\\n';\n  result += 'Total duration: ' + totalDur + '\\n';\n\n  if (optData.summary) {\n    const s = optData.summary;\n    if (s.unassigned > 0) result += '\\nWarning: ' + s.unassigned + ' location(s) could not be reached.\\n';\n  }\n\n  return [{ json: { result } }];\n\n// ============================================================\n// UNKNOWN ACTION\n// ============================================================\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use plan_route, plan_route_outdoor, search_place, find_pois, get_elevation_profile, get_isochrone, or optimize_route.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Route Planner Logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "server": {
    "name": "MCP: Route Planner",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "path": "route-planner"
        }
      },
      {
        "id": "tool-plan-route",
        "name": "plan_route",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "name": "plan_route",
          "description": "Plan a route with turn-by-turn directions, duration and GPX data. Best for road/urban routes or when you need navigation instructions. The GPX data after '--- GPX DATA ---' can be saved as a .gpx file. Parameters: start (place name or lat,lon), end (place name or lat,lon), waypoints (optional, semicolon-separated intermediate stops), profile (optional: foot-hiking, foot-walking, cycling-regular, cycling-road, cycling-mountain, cycling-electric; default foot-hiking)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "plan_route",
              "start": "={{ $fromAI('start', 'Starting location — place name or lat,lon coordinates', 'string') }}",
              "end": "={{ $fromAI('end', 'Destination — place name or lat,lon coordinates', 'string') }}",
              "waypoints": "={{ $fromAI('waypoints', 'Intermediate stops, semicolon-separated (optional)', 'string') }}",
              "profile": "={{ $fromAI('profile', 'Route type: foot-hiking, foot-walking, cycling-regular, cycling-road, cycling-mountain, cycling-electric (default foot-hiking)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "type": "string",
                "description": "Action type",
                "required": true
              },
              {
                "id": "start",
                "displayName": "start",
                "type": "string",
                "description": "Starting location",
                "required": true
              },
              {
                "id": "end",
                "displayName": "end",
                "type": "string",
                "description": "Destination",
                "required": true
              },
              {
                "id": "waypoints",
                "displayName": "waypoints",
                "type": "string",
                "description": "Intermediate stops, semicolon-separated",
                "required": false
              },
              {
                "id": "profile",
                "displayName": "profile",
                "type": "string",
                "description": "Route type",
                "required": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-plan-route-outdoor",
        "name": "plan_route_outdoor",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          300,
          300
        ],
        "parameters": {
          "name": "plan_route_outdoor",
          "description": "Plan a hiking or cycling route with superior track quality using BRouter. Returns GPX track optimized for trail surfaces and elevation. No turn-by-turn directions — best for nature trails, mountain routes, cycling tours where you follow the GPS track. Parameters: start (place name or lat,lon), end (place name or lat,lon), waypoints (optional, semicolon-separated), profile (optional: trekking, fastbike, trekking-bike, mtb, safety; default trekking)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "plan_route_outdoor",
              "start": "={{ $fromAI('start', 'Starting location — place name or lat,lon coordinates', 'string') }}",
              "end": "={{ $fromAI('end', 'Destination — place name or lat,lon coordinates', 'string') }}",
              "waypoints": "={{ $fromAI('waypoints', 'Intermediate stops, semicolon-separated (optional)', 'string') }}",
              "profile": "={{ $fromAI('profile', 'Route type: trekking, fastbike, trekking-bike, mtb, safety (default trekking)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "type": "string",
                "description": "Action type",
                "required": true
              },
              {
                "id": "start",
                "displayName": "start",
                "type": "string",
                "description": "Starting location",
                "required": true
              },
              {
                "id": "end",
                "displayName": "end",
                "type": "string",
                "description": "Destination",
                "required": true
              },
              {
                "id": "waypoints",
                "displayName": "waypoints",
                "type": "string",
                "description": "Intermediate stops, semicolon-separated",
                "required": false
              },
              {
                "id": "profile",
                "displayName": "profile",
                "type": "string",
                "description": "Route type",
                "required": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-search-place",
        "name": "search_place",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          600,
          300
        ],
        "parameters": {
          "name": "search_place",
          "description": "Geocode a place name or address to get its coordinates. Returns latitude, longitude, region, and country. Useful to verify a location before planning a route. Parameters: query (place name or address), limit (optional, number of results, default 3)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_place",
              "query": "={{ $fromAI('query', 'Place name or address to search for', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Number of results (default 3)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "type": "string",
                "description": "Action type",
                "required": true
              },
              {
                "id": "query",
                "displayName": "query",
                "type": "string",
                "description": "Place name or address",
                "required": true
              },
              {
                "id": "limit",
                "displayName": "limit",
                "type": "string",
                "description": "Number of results",
                "required": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-find-pois",
        "name": "find_pois",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "name": "find_pois",
          "description": "Find nearby points of interest. Default categories: alpine huts, viewpoints, drinking water, picnic sites, peaks. Parameters: location (place name or lat,lon), radius (optional, meters, max 2000, default 1500), categories (optional, comma-separated: alpine_hut, camp_site, viewpoint, drinking_water, parking, restaurant, shelter, picnic_site, peak, toilet, bench)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "find_pois",
              "location": "={{ $fromAI('location', 'Center location for POI search', 'string') }}",
              "radius": "={{ $fromAI('radius', 'Search radius in meters, max 2000 (default 1500)', 'string') }}",
              "categories": "={{ $fromAI('categories', 'Comma-separated categories: alpine_hut, camp_site, viewpoint, drinking_water, parking, restaurant, shelter, picnic_site, peak, toilet, bench', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "type": "string",
                "description": "Action type",
                "required": true
              },
              {
                "id": "location",
                "displayName": "location",
                "type": "string",
                "description": "Center location",
                "required": true
              },
              {
                "id": "radius",
                "displayName": "radius",
                "type": "string",
                "description": "Search radius in meters, max 2000",
                "required": false
              },
              {
                "id": "categories",
                "displayName": "categories",
                "type": "string",
                "description": "POI categories",
                "required": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-elevation",
        "name": "get_elevation_profile",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          0,
          600
        ],
        "parameters": {
          "name": "get_elevation_profile",
          "description": "Get elevation profile between locations. Shows min/max/avg elevation, total ascent/descent, and an ASCII elevation chart. Parameters: start (place name or lat,lon), end (place name or lat,lon), waypoints (optional, semicolon-separated)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_elevation_profile",
              "start": "={{ $fromAI('start', 'Starting location', 'string') }}",
              "end": "={{ $fromAI('end', 'End location', 'string') }}",
              "waypoints": "={{ $fromAI('waypoints', 'Intermediate points, semicolon-separated (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "type": "string",
                "description": "Action type",
                "required": true
              },
              {
                "id": "start",
                "displayName": "start",
                "type": "string",
                "description": "Starting location",
                "required": true
              },
              {
                "id": "end",
                "displayName": "end",
                "type": "string",
                "description": "End location",
                "required": true
              },
              {
                "id": "waypoints",
                "displayName": "waypoints",
                "type": "string",
                "description": "Intermediate points",
                "required": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-isochrone",
        "name": "get_isochrone",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          300,
          600
        ],
        "parameters": {
          "name": "get_isochrone",
          "description": "How far can you get in N minutes from a location? Returns the reachable area size and extent. Parameters: location (place name or lat,lon), time (minutes), profile (optional: foot-hiking, foot-walking, cycling-regular, cycling-road, cycling-mountain, cycling-electric; default foot-hiking)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_isochrone",
              "location": "={{ $fromAI('location', 'Starting location', 'string') }}",
              "time": "={{ $fromAI('time', 'Time in minutes', 'string') }}",
              "profile": "={{ $fromAI('profile', 'Movement type (default foot-hiking)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "type": "string",
                "description": "Action type",
                "required": true
              },
              {
                "id": "location",
                "displayName": "location",
                "type": "string",
                "description": "Starting location",
                "required": true
              },
              {
                "id": "time",
                "displayName": "time",
                "type": "string",
                "description": "Time in minutes",
                "required": true
              },
              {
                "id": "profile",
                "displayName": "profile",
                "type": "string",
                "description": "Movement type",
                "required": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-optimize",
        "name": "optimize_route",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          600,
          600
        ],
        "parameters": {
          "name": "optimize_route",
          "description": "Find the optimal order for visiting multiple locations. Returns the best route with total distance and duration. Parameters: locations (semicolon-separated, min 3 locations), profile (optional: foot-hiking, foot-walking, cycling-regular, cycling-road, cycling-mountain, cycling-electric, driving-car; default foot-hiking), start_fixed (optional, keep first location as start, default true), end_fixed (optional, keep last location as end, default false)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "optimize_route",
              "locations": "={{ $fromAI('locations', 'Locations to visit, semicolon-separated (min 3)', 'string') }}",
              "profile": "={{ $fromAI('profile', 'Movement type (default foot-hiking)', 'string') }}",
              "start_fixed": "={{ $fromAI('start_fixed', 'Keep first location as start (default true)', 'string') }}",
              "end_fixed": "={{ $fromAI('end_fixed', 'Keep last location as end (default false)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "type": "string",
                "description": "Action type",
                "required": true
              },
              {
                "id": "locations",
                "displayName": "locations",
                "type": "string",
                "description": "Locations, semicolon-separated",
                "required": true
              },
              {
                "id": "profile",
                "displayName": "profile",
                "type": "string",
                "description": "Movement type",
                "required": false
              },
              {
                "id": "start_fixed",
                "displayName": "start_fixed",
                "type": "string",
                "description": "Keep first as start",
                "required": false
              },
              {
                "id": "end_fixed",
                "displayName": "end_fixed",
                "type": "string",
                "description": "Keep last as end",
                "required": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "plan_route": {
        "ai_tool": [
          [
            {
              "node": "MCP Server Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "plan_route_outdoor": {
        "ai_tool": [
          [
            {
              "node": "MCP Server Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "search_place": {
        "ai_tool": [
          [
            {
              "node": "MCP Server Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "find_pois": {
        "ai_tool": [
          [
            {
              "node": "MCP Server Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "get_elevation_profile": {
        "ai_tool": [
          [
            {
              "node": "MCP Server Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "get_isochrone": {
        "ai_tool": [
          [
            {
              "node": "MCP Server Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "optimize_route": {
        "ai_tool": [
          [
            {
              "node": "MCP Server Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}