templates/google-media-gen/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Google Media Generation",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Google Media Generation Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'generate_image';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst BRIDGE_URL = 'http://file-bridge:3200';\nconst GEMINI_BASE = 'https://generativelanguage.googleapis.com/v1beta';\nconst IMAGE_MODEL = 'gemini-3-pro-image-preview';\nconst VIDEO_MODEL = 'veo-3.1-generate-preview';\nconst POLL_INTERVAL_MS = 5000;\nconst POLL_MAX_ATTEMPTS = 5;\n\nconst pgHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\n// Fetch API key\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.google-media-gen&cred_key=eq.gemini_api_key&select=cred_value',\n  headers: pgHeaders\n});\nif (!creds || !creds[0] || !creds[0].cred_value) {\n  return [{ json: { error: 'Gemini API key not configured. Use add_credential to set google-media-gen / gemini_api_key.' } }];\n}\nconst apiKey = creds[0].cred_value;\n\n// === Helpers ===\nasync function storeBytesInBridge(bytes, fileName, mimeType) {\n  const b64 = Buffer.from(bytes).toString('base64');\n  const stored = await helpers.httpRequest({\n    method: 'POST',\n    url: BRIDGE_URL + '/upload/base64',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ content_base64: b64, file_name: fileName, mime_type: mimeType })\n  });\n  return stored;\n}\n\nasync function fetchFileRefAsBase64(fileRef) {\n  const meta = await helpers.httpRequest({\n    method: 'GET',\n    url: BRIDGE_URL + '/files/' + fileRef + '/meta'\n  });\n  const dl = await helpers.httpRequest({\n    method: 'GET',\n    url: BRIDGE_URL + '/files/' + fileRef,\n    encoding: 'arraybuffer',\n    returnFullResponse: true\n  });\n  const b64 = Buffer.from(dl.body).toString('base64');\n  return { base64: b64, mime_type: meta.mime_type || 'application/octet-stream', file_name: meta.file_name };\n}\n\nfunction successFileResult(name, sizeStr, storedId) {\n  return 'File ready: ' + name + ' (' + sizeStr + ')\\n[send_file: ' + BRIDGE_URL + '/files/' + storedId + ']';\n}\n\nfunction fmtSize(bytes) {\n  if (!bytes) return 'unknown size';\n  if (bytes < 1024) return bytes + ' B';\n  if (bytes < 1024 * 1024) return (bytes / 1024).toFixed(1) + ' KB';\n  return (bytes / 1024 / 1024).toFixed(2) + ' MB';\n}\n\nasync function geminiPost(url, body) {\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: url,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(body),\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    json: false\n  });\n  if (resp.statusCode >= 400) {\n    const errBody = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body);\n    throw new Error('HTTP ' + resp.statusCode + ': ' + errBody.substring(0, 500));\n  }\n  return typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n}\n\nasync function geminiGet(url) {\n  const resp = await helpers.httpRequest({\n    method: 'GET',\n    url: url,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    json: false\n  });\n  if (resp.statusCode >= 400) {\n    const errBody = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body);\n    throw new Error('HTTP ' + resp.statusCode + ': ' + errBody.substring(0, 500));\n  }\n  return typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n}\n\nasync function downloadAndStoreVideo(op) {\n  const samples = op && op.response && op.response.generateVideoResponse && op.response.generateVideoResponse.generatedSamples;\n  if (!samples || !samples[0] || !samples[0].video || !samples[0].video.uri) {\n    throw new Error('Operation done but no video URI found. Raw: ' + JSON.stringify(op).slice(0, 500));\n  }\n  const videoUri = samples[0].video.uri;\n  const sep = videoUri.indexOf('?') >= 0 ? '&' : '?';\n  const dlUrl = videoUri + sep + 'key=' + encodeURIComponent(apiKey);\n\n  const dl = await helpers.httpRequest({\n    method: 'GET',\n    url: dlUrl,\n    encoding: 'arraybuffer',\n    returnFullResponse: true\n  });\n\n  const stored = await storeBytesInBridge(dl.body, 'veo_' + Date.now() + '.mp4', 'video/mp4');\n  return stored;\n}\n\n// === Actions ===\nif (action === 'generate_image') {\n  const prompt = input.prompt;\n  if (!prompt) return [{ json: { error: 'Parameter \"prompt\" is required.' } }];\n\n  const aspect = input.aspect_ratio || '1:1';\n  const body = {\n    contents: [{ role: 'user', parts: [{ text: prompt }] }],\n    generationConfig: {\n      responseModalities: ['IMAGE'],\n      imageConfig: { aspectRatio: aspect }\n    }\n  };\n\n  try {\n    const resp = await geminiPost(\n      GEMINI_BASE + '/models/' + IMAGE_MODEL + ':generateContent?key=' + encodeURIComponent(apiKey),\n      body\n    );\n    const parts = (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) || [];\n    const imgPart = parts.find(p => p.inlineData && p.inlineData.data);\n    if (!imgPart) {\n      return [{ json: { error: 'No image returned. Raw response: ' + JSON.stringify(resp).slice(0, 500) } }];\n    }\n    const bytes = Buffer.from(imgPart.inlineData.data, 'base64');\n    const stored = await storeBytesInBridge(bytes, 'nanobanana_' + Date.now() + '.png', imgPart.inlineData.mimeType || 'image/png');\n    return [{ json: { result: successFileResult(stored.file_name, fmtSize(stored.size_bytes), stored.id) } }];\n  } catch (e) {\n    return [{ json: { error: 'generate_image failed: ' + e.message } }];\n  }\n\n} else if (action === 'edit_image') {\n  const prompt = input.prompt;\n  const fileRef = input.file_ref;\n  if (!prompt) return [{ json: { error: 'Parameter \"prompt\" is required.' } }];\n  if (!fileRef) return [{ json: { error: 'Parameter \"file_ref\" is required (file-bridge id of the source image).' } }];\n\n  const aspect = input.aspect_ratio || null;\n\n  try {\n    const src = await fetchFileRefAsBase64(fileRef);\n    const body = {\n      contents: [{\n        role: 'user',\n        parts: [\n          { text: prompt },\n          { inline_data: { mime_type: src.mime_type, data: src.base64 } }\n        ]\n      }],\n      generationConfig: { responseModalities: ['IMAGE'] }\n    };\n    if (aspect) body.generationConfig.imageConfig = { aspectRatio: aspect };\n\n    const resp = await geminiPost(\n      GEMINI_BASE + '/models/' + IMAGE_MODEL + ':generateContent?key=' + encodeURIComponent(apiKey),\n      body\n    );\n    const parts = (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts) || [];\n    const imgPart = parts.find(p => p.inlineData && p.inlineData.data);\n    if (!imgPart) {\n      return [{ json: { error: 'No image returned. Raw response: ' + JSON.stringify(resp).slice(0, 500) } }];\n    }\n    const bytes = Buffer.from(imgPart.inlineData.data, 'base64');\n    const stored = await storeBytesInBridge(bytes, 'nanobanana_edit_' + Date.now() + '.png', imgPart.inlineData.mimeType || 'image/png');\n    return [{ json: { result: successFileResult(stored.file_name, fmtSize(stored.size_bytes), stored.id) } }];\n  } catch (e) {\n    return [{ json: { error: 'edit_image failed: ' + e.message } }];\n  }\n\n} else if (action === 'generate_video') {\n  const prompt = input.prompt;\n  if (!prompt) return [{ json: { error: 'Parameter \"prompt\" is required.' } }];\n\n  const aspect = input.aspect_ratio || '16:9';\n  const negative = input.negative_prompt || '';\n  const duration = parseInt(input.duration_seconds) || 8;\n\n  const params = { aspectRatio: aspect, durationSeconds: duration };\n  if (negative) params.negativePrompt = negative;\n\n  try {\n    const startResp = await geminiPost(\n      GEMINI_BASE + '/models/' + VIDEO_MODEL + ':predictLongRunning?key=' + encodeURIComponent(apiKey),\n      { instances: [{ prompt: prompt }], parameters: params }\n    );\n    const opName = startResp.name;\n    if (!opName) {\n      return [{ json: { error: 'Veo did not return an operation name. Raw: ' + JSON.stringify(startResp).slice(0, 500) } }];\n    }\n\n    return [{ json: { result: 'Video generation started. operation_id: ' + opName + '\\nNow call wait_for_video with this operation_id REPEATEDLY (in this same conversation turn) until it returns the finished MP4 file. Each wait_for_video call waits up to 25 seconds; typical Veo 3.1 jobs need 2-8 such calls.' } }];\n  } catch (e) {\n    return [{ json: { error: 'generate_video failed: ' + e.message } }];\n  }\n\n} else if (action === 'wait_for_video') {\n  const opId = input.operation_id;\n  if (!opId) return [{ json: { error: 'Parameter \"operation_id\" is required.' } }];\n\n  try {\n    let op = await geminiGet(GEMINI_BASE + '/' + opId + '?key=' + encodeURIComponent(apiKey));\n    let attempts = 0;\n    while (!op.done && attempts < POLL_MAX_ATTEMPTS) {\n      await new Promise(r => setTimeout(r, POLL_INTERVAL_MS));\n      op = await geminiGet(GEMINI_BASE + '/' + opId + '?key=' + encodeURIComponent(apiKey));\n      attempts++;\n    }\n    if (!op.done) {\n      return [{ json: { result: 'Video still generating. Call wait_for_video AGAIN with the SAME operation_id: ' + opId } }];\n    }\n    if (op.error) {\n      return [{ json: { error: 'Veo operation failed: ' + (op.error.message || JSON.stringify(op.error)) } }];\n    }\n    const stored = await downloadAndStoreVideo(op);\n    return [{ json: { result: successFileResult(stored.file_name, fmtSize(stored.size_bytes), stored.id) } }];\n  } catch (e) {\n    return [{ json: { error: 'wait_for_video failed: ' + e.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Available: generate_image, edit_image, generate_video, wait_for_video.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Google Media Generation Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Google Media Generation",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "google-media-gen"
        }
      },
      {
        "id": "tool-generate-image",
        "name": "generate_image",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "generate_image",
          "description": "Generate an image from a text prompt using Google Nano Banana Pro (Gemini 3 Pro Image). Returns the image as a file. Parameters: prompt (text description, required), aspect_ratio (optional: 1:1, 16:9, 9:16, 4:3, 3:4 — default 1:1)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "generate_image",
              "prompt": "={{ $fromAI('prompt', 'Detailed text description of the image to generate', 'string') }}",
              "aspect_ratio": "={{ $fromAI('aspect_ratio', 'Aspect ratio: 1:1, 16:9, 9:16, 4:3 or 3:4. Optional, default 1:1', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "prompt", "displayName": "prompt", "type": "string", "description": "Image description", "required": true },
              { "id": "aspect_ratio", "displayName": "aspect_ratio", "type": "string", "description": "Aspect ratio", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-edit-image",
        "name": "edit_image",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [300, 300],
        "parameters": {
          "name": "edit_image",
          "description": "Edit a user-supplied image with a text prompt using Google Nano Banana Pro. Use this when the user sends a photo and asks for changes. Parameters: prompt (what to change, required), file_ref (file-bridge id of the source image — usually provided automatically when the user sends a photo, required), aspect_ratio (optional)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "edit_image",
              "prompt": "={{ $fromAI('prompt', 'Description of the edit to apply', 'string') }}",
              "file_ref": "={{ $fromAI('file_ref', 'File-bridge id of the source image (from the user message)', 'string') }}",
              "aspect_ratio": "={{ $fromAI('aspect_ratio', 'Aspect ratio override, optional', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "prompt", "displayName": "prompt", "type": "string", "description": "Edit instructions", "required": true },
              { "id": "file_ref", "displayName": "file_ref", "type": "string", "description": "Source image file-bridge id", "required": true },
              { "id": "aspect_ratio", "displayName": "aspect_ratio", "type": "string", "description": "Aspect ratio", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-generate-video",
        "name": "generate_video",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [600, 300],
        "parameters": {
          "name": "generate_video",
          "description": "Start video generation with Google Veo 3.1. Returns an operation_id IMMEDIATELY (does NOT wait for the video). After calling this, you MUST call wait_for_video repeatedly with the returned operation_id in this same conversation turn until it returns the finished MP4 file. Parameters: prompt (required), aspect_ratio (optional: 16:9 or 9:16, default 16:9), negative_prompt (optional), duration_seconds (optional, default 8)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "generate_video",
              "prompt": "={{ $fromAI('prompt', 'Detailed text description of the video to generate', 'string') }}",
              "aspect_ratio": "={{ $fromAI('aspect_ratio', 'Aspect ratio: 16:9 or 9:16. Optional, default 16:9', 'string') }}",
              "negative_prompt": "={{ $fromAI('negative_prompt', 'Things to avoid in the video. Optional', 'string') }}",
              "duration_seconds": "={{ $fromAI('duration_seconds', 'Video length in seconds. Optional, default 8', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "prompt", "displayName": "prompt", "type": "string", "description": "Video description", "required": true },
              { "id": "aspect_ratio", "displayName": "aspect_ratio", "type": "string", "description": "Aspect ratio", "required": false },
              { "id": "negative_prompt", "displayName": "negative_prompt", "type": "string", "description": "Negative prompt", "required": false },
              { "id": "duration_seconds", "displayName": "duration_seconds", "type": "string", "description": "Duration in seconds", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-wait-for-video",
        "name": "wait_for_video",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [900, 300],
        "parameters": {
          "name": "wait_for_video",
          "description": "Wait up to ~25 seconds for a Veo video to finish. Returns the finished MP4 file when ready, or a 'still generating, call again' message if not yet ready — in which case you MUST call this tool AGAIN with the SAME operation_id. Keep calling until you get the file. Typical Veo 3.1 jobs need 2-8 wait_for_video calls. Parameters: operation_id (the operation name returned by generate_video, required)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "wait_for_video",
              "operation_id": "={{ $fromAI('operation_id', 'The Veo operation name (e.g. models/veo-.../operations/...)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "operation_id", "displayName": "operation_id", "type": "string", "description": "Veo operation name", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "generate_image":     { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "edit_image":         { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "generate_video":     { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "wait_for_video":     { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
