templates/lexware/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Lexware Office",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Lexware Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'list_articles';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\nconst creds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.lexware&cred_key=eq.lexware_api_token&select=cred_value',\n  headers: pgHeaders\n});\n\nif (!creds || creds.length === 0 || !creds[0].cred_value) {\n  return [{ json: { error: 'Lexware API token not configured. Use add_credential to set it up.' } }];\n}\n\nconst token = creds[0].cred_value;\nconst baseUrl = 'https://api.lexware.io/v1';\nconst headers = {\n  'Authorization': 'Bearer ' + token,\n  'Accept': 'application/json'\n};\nconst jsonHeaders = {\n  ...headers,\n  'Content-Type': 'application/json'\n};\n\nfunction formatDate(dateStr) {\n  if (!dateStr) return '';\n  return dateStr.split('T')[0];\n}\n\nfunction formatCurrency(amount) {\n  if (amount === undefined || amount === null) return '0.00';\n  return Number(amount).toFixed(2);\n}\n\n// === list_articles ===\nif (action === 'list_articles') {\n  const page = input.page || '0';\n  const type = input.type || '';\n  try {\n    let url = baseUrl + '/articles?page=' + page + '&size=25';\n    if (type) url += '&type=' + type;\n    const data = await helpers.httpRequest({ method: 'GET', url, headers });\n    if (!data.content || data.content.length === 0) {\n      return [{ json: { result: 'No articles found.' } }];\n    }\n    let result = 'Articles (page ' + data.number + ' of ' + data.totalPages + ', ' + data.totalElements + ' total):\\n\\n';\n    for (const a of data.content) {\n      result += '**' + a.title + '**';\n      if (a.articleNumber) result += ' (#' + a.articleNumber + ')';\n      result += '\\n';\n      result += '  Type: ' + a.type;\n      if (a.unitName) result += ' | Unit: ' + a.unitName;\n      result += '\\n';\n      if (a.price) {\n        const p = a.price;\n        result += '  Price: ' + formatCurrency(p.netPrice) + ' net';\n        if (p.grossPrice) result += ' / ' + formatCurrency(p.grossPrice) + ' gross';\n        result += ' (Tax: ' + (p.taxRate || 0) + '%)\\n';\n      }\n      result += '  ID: ' + a.id + '\\n\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list articles: ' + err.message } }];\n  }\n\n// === get_article ===\n} else if (action === 'get_article') {\n  const id = input.id;\n  if (!id) return [{ json: { error: 'Parameter \"id\" is required.' } }];\n  try {\n    const a = await helpers.httpRequest({ method: 'GET', url: baseUrl + '/articles/' + id, headers });\n    let result = '**' + a.title + '**';\n    if (a.articleNumber) result += ' (#' + a.articleNumber + ')';\n    result += '\\n';\n    result += 'Type: ' + a.type + '\\n';\n    if (a.description) result += 'Description: ' + a.description + '\\n';\n    if (a.unitName) result += 'Unit: ' + a.unitName + '\\n';\n    if (a.price) {\n      const p = a.price;\n      result += 'Net Price: ' + formatCurrency(p.netPrice) + '\\n';\n      result += 'Gross Price: ' + formatCurrency(p.grossPrice) + '\\n';\n      result += 'Leading Price: ' + p.leadingPrice + '\\n';\n      result += 'Tax Rate: ' + (p.taxRate || 0) + '%\\n';\n    }\n    if (a.gtin) result += 'GTIN: ' + a.gtin + '\\n';\n    result += 'Version: ' + a.version + '\\n';\n    result += 'ID: ' + a.id + '\\n';\n    result += 'Created: ' + formatDate(a.createdDate) + '\\n';\n    result += 'Updated: ' + formatDate(a.updatedDate) + '\\n';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get article: ' + err.message } }];\n  }\n\n// === create_article ===\n} else if (action === 'create_article') {\n  const title = input.title;\n  if (!title) return [{ json: { error: 'Parameter \"title\" is required.' } }];\n  try {\n    const body = {\n      title: title,\n      type: input.type || 'SERVICE',\n      unitName: input.unitName || 'Stück',\n      price: {\n        netPrice: parseFloat(input.netPrice || '0'),\n        taxRate: parseFloat(input.taxRate || '19'),\n        leadingPrice: input.leadingPrice || 'net'\n      }\n    };\n    if (input.description) body.description = input.description;\n    if (input.articleNumber) body.articleNumber = input.articleNumber;\n    if (input.gtin) body.gtin = input.gtin;\n    const data = await helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl + '/articles',\n      headers: jsonHeaders,\n      body: JSON.stringify(body)\n    });\n    return [{ json: { result: 'Article created successfully.\\nID: ' + data.id + '\\nResource: ' + data.resourceUri } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create article: ' + err.message } }];\n  }\n\n// === update_article ===\n} else if (action === 'update_article') {\n  const id = input.id;\n  const version = input.version;\n  if (!id || !version) return [{ json: { error: 'Parameters \"id\" and \"version\" are required. Use get_article first to get the current version.' } }];\n  try {\n    const body = {\n      version: parseInt(version),\n      title: input.title,\n      type: input.type || 'SERVICE',\n      unitName: input.unitName || 'Stück',\n      price: {\n        netPrice: parseFloat(input.netPrice || '0'),\n        taxRate: parseFloat(input.taxRate || '19'),\n        leadingPrice: input.leadingPrice || 'net'\n      }\n    };\n    if (input.description) body.description = input.description;\n    if (input.articleNumber) body.articleNumber = input.articleNumber;\n    if (input.gtin) body.gtin = input.gtin;\n    const data = await helpers.httpRequest({\n      method: 'PUT',\n      url: baseUrl + '/articles/' + id,\n      headers: jsonHeaders,\n      body: JSON.stringify(body)\n    });\n    return [{ json: { result: 'Article updated successfully.\\nID: ' + data.id + '\\nNew Version: ' + data.version } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to update article: ' + err.message } }];\n  }\n\n// === delete_article ===\n} else if (action === 'delete_article') {\n  const id = input.id;\n  if (!id) return [{ json: { error: 'Parameter \"id\" is required.' } }];\n  try {\n    await helpers.httpRequest({ method: 'DELETE', url: baseUrl + '/articles/' + id, headers });\n    return [{ json: { result: 'Article deleted successfully. ID: ' + id } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to delete article: ' + err.message } }];\n  }\n\n// === list_quotations ===\n} else if (action === 'list_quotations') {\n  const page = input.page || '0';\n  const status = input.status || '';\n  try {\n    let url = baseUrl + '/voucherlist?voucherType=quotation&page=' + page + '&size=25&sort=voucherDate,DESC';\n    if (status) url += '&voucherStatus=' + status;\n    const data = await helpers.httpRequest({ method: 'GET', url, headers });\n    if (!data.content || data.content.length === 0) {\n      return [{ json: { result: 'No quotations found.' } }];\n    }\n    let result = 'Quotations (page ' + data.number + ' of ' + data.totalPages + ', ' + data.totalElements + ' total):\\n\\n';\n    for (const q of data.content) {\n      result += '**' + (q.voucherNumber || 'Draft') + '**';\n      result += ' — ' + (q.contactName || 'Unknown contact') + '\\n';\n      result += '  Date: ' + formatDate(q.voucherDate);\n      result += ' | Status: ' + q.voucherStatus;\n      result += ' | Total: ' + formatCurrency(q.totalAmount) + '\\n';\n      result += '  ID: ' + q.id + '\\n\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list quotations: ' + err.message } }];\n  }\n\n// === get_quotation ===\n} else if (action === 'get_quotation') {\n  const id = input.id;\n  if (!id) return [{ json: { error: 'Parameter \"id\" is required.' } }];\n  try {\n    const q = await helpers.httpRequest({ method: 'GET', url: baseUrl + '/quotations/' + id, headers });\n    let result = '**Quotation';\n    if (q.voucherNumber) result += ' ' + q.voucherNumber;\n    result += '**\\n';\n    if (q.address) {\n      if (q.address.name) result += 'To: ' + q.address.name + '\\n';\n      if (q.address.street) result += '  ' + q.address.street + '\\n';\n      if (q.address.zip || q.address.city) result += '  ' + (q.address.zip || '') + ' ' + (q.address.city || '') + '\\n';\n    }\n    result += 'Date: ' + formatDate(q.voucherDate) + '\\n';\n    if (q.expirationDate) result += 'Expires: ' + formatDate(q.expirationDate) + '\\n';\n    result += '\\nLine Items:\\n';\n    if (q.lineItems) {\n      for (const item of q.lineItems) {\n        if (item.type === 'custom') {\n          result += '  - ' + item.name;\n          if (item.quantity) result += ' (x' + item.quantity + ')';\n          if (item.unitPrice && item.unitPrice.netAmount !== undefined) result += ' @ ' + formatCurrency(item.unitPrice.netAmount);\n          result += '\\n';\n          if (item.description) result += '    ' + item.description + '\\n';\n        }\n      }\n    }\n    if (q.totalPrice) {\n      result += '\\nTotal Net: ' + formatCurrency(q.totalPrice.totalNetAmount) + '\\n';\n      result += 'Total Gross: ' + formatCurrency(q.totalPrice.totalGrossAmount) + '\\n';\n      result += 'Tax: ' + formatCurrency(q.totalPrice.totalTaxAmount) + '\\n';\n    }\n    result += '\\nID: ' + q.id + '\\n';\n    result += 'Deep Link: https://app.lexware.de/permalink/quotations/view/' + q.id + '\\n';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get quotation: ' + err.message } }];\n  }\n\n// === create_quotation ===\n} else if (action === 'create_quotation') {\n  const contactId = input.contactId || '';\n  const voucherDate = input.voucherDate || new Date().toISOString().split('T')[0];\n  const lineItemsStr = input.lineItems;\n  if (!lineItemsStr) return [{ json: { error: 'Parameter \"lineItems\" is required. Provide as JSON array, e.g. [{\"name\":\"Service\",\"quantity\":1,\"unitPrice\":100,\"taxRate\":19}]' } }];\n  try {\n    let lineItemsRaw;\n    try { lineItemsRaw = JSON.parse(lineItemsStr); } catch(e) { return [{ json: { error: 'lineItems must be valid JSON: ' + e.message } }]; }\n    const lineItems = lineItemsRaw.map(item => ({\n      type: 'custom',\n      name: item.name,\n      quantity: item.quantity || 1,\n      unitName: item.unitName || 'Stück',\n      unitPrice: {\n        currency: 'EUR',\n        netAmount: item.unitPrice || item.netAmount || 0,\n        taxRatePercentage: item.taxRate || item.taxRatePercentage || 19\n      }\n    }));\n    const body = {\n      voucherDate: voucherDate,\n      lineItems: lineItems,\n      totalPrice: { currency: 'EUR' },\n      taxConditions: { taxType: 'net' }\n    };\n    if (contactId) body.address = { contactId: contactId };\n    if (input.introduction) body.introduction = input.introduction;\n    if (input.remark) body.remark = input.remark;\n    if (input.expirationDate) body.expirationDate = input.expirationDate;\n    const finalize = input.finalize === 'true' || input.finalize === true;\n    let url = baseUrl + '/quotations';\n    if (finalize) url += '?finalize=true';\n    const data = await helpers.httpRequest({\n      method: 'POST',\n      url: url,\n      headers: jsonHeaders,\n      body: JSON.stringify(body)\n    });\n    let result = 'Quotation created successfully.';\n    if (finalize) result += ' (finalized)';\n    result += '\\nID: ' + data.id;\n    result += '\\nResource: ' + data.resourceUri;\n    result += '\\nDeep Link: https://app.lexware.de/permalink/quotations/edit/' + data.id;\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create quotation: ' + err.message } }];\n  }\n\n// === list_invoices ===\n} else if (action === 'list_invoices') {\n  const page = input.page || '0';\n  const status = input.status || '';\n  try {\n    let url = baseUrl + '/voucherlist?voucherType=invoice&page=' + page + '&size=25&sort=voucherDate,DESC';\n    if (status) url += '&voucherStatus=' + status;\n    const data = await helpers.httpRequest({ method: 'GET', url, headers });\n    if (!data.content || data.content.length === 0) {\n      return [{ json: { result: 'No invoices found.' } }];\n    }\n    let result = 'Invoices (page ' + data.number + ' of ' + data.totalPages + ', ' + data.totalElements + ' total):\\n\\n';\n    for (const inv of data.content) {\n      result += '**' + (inv.voucherNumber || 'Draft') + '**';\n      result += ' — ' + (inv.contactName || 'Unknown contact') + '\\n';\n      result += '  Date: ' + formatDate(inv.voucherDate);\n      result += ' | Status: ' + inv.voucherStatus;\n      result += ' | Total: ' + formatCurrency(inv.totalAmount) + '\\n';\n      if (inv.dueDate) result += '  Due: ' + formatDate(inv.dueDate) + '\\n';\n      result += '  ID: ' + inv.id + '\\n\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list invoices: ' + err.message } }];\n  }\n\n// === get_invoice ===\n} else if (action === 'get_invoice') {\n  const id = input.id;\n  if (!id) return [{ json: { error: 'Parameter \"id\" is required.' } }];\n  try {\n    const inv = await helpers.httpRequest({ method: 'GET', url: baseUrl + '/invoices/' + id, headers });\n    let result = '**Invoice';\n    if (inv.voucherNumber) result += ' ' + inv.voucherNumber;\n    result += '**\\n';\n    if (inv.address) {\n      if (inv.address.name) result += 'To: ' + inv.address.name + '\\n';\n      if (inv.address.street) result += '  ' + inv.address.street + '\\n';\n      if (inv.address.zip || inv.address.city) result += '  ' + (inv.address.zip || '') + ' ' + (inv.address.city || '') + '\\n';\n    }\n    result += 'Date: ' + formatDate(inv.voucherDate) + '\\n';\n    if (inv.dueDate) result += 'Due: ' + formatDate(inv.dueDate) + '\\n';\n    result += '\\nLine Items:\\n';\n    if (inv.lineItems) {\n      for (const item of inv.lineItems) {\n        if (item.type === 'custom') {\n          result += '  - ' + item.name;\n          if (item.quantity) result += ' (x' + item.quantity + ')';\n          if (item.unitPrice && item.unitPrice.netAmount !== undefined) result += ' @ ' + formatCurrency(item.unitPrice.netAmount);\n          result += '\\n';\n          if (item.description) result += '    ' + item.description + '\\n';\n        }\n      }\n    }\n    if (inv.totalPrice) {\n      result += '\\nTotal Net: ' + formatCurrency(inv.totalPrice.totalNetAmount) + '\\n';\n      result += 'Total Gross: ' + formatCurrency(inv.totalPrice.totalGrossAmount) + '\\n';\n      result += 'Tax: ' + formatCurrency(inv.totalPrice.totalTaxAmount) + '\\n';\n    }\n    if (inv.paymentConditions) {\n      result += '\\nPayment: ' + inv.paymentConditions.paymentTermLabel + '\\n';\n    }\n    result += '\\nID: ' + inv.id + '\\n';\n    result += 'Deep Link: https://app.lexware.de/permalink/invoices/view/' + inv.id + '\\n';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get invoice: ' + err.message } }];\n  }\n\n// === create_invoice ===\n} else if (action === 'create_invoice') {\n  const contactId = input.contactId || '';\n  const voucherDate = input.voucherDate || new Date().toISOString().split('T')[0];\n  const lineItemsStr = input.lineItems;\n  if (!lineItemsStr) return [{ json: { error: 'Parameter \"lineItems\" is required. Provide as JSON array, e.g. [{\"name\":\"Service\",\"quantity\":1,\"unitPrice\":100,\"taxRate\":19}]' } }];\n  try {\n    let lineItemsRaw;\n    try { lineItemsRaw = JSON.parse(lineItemsStr); } catch(e) { return [{ json: { error: 'lineItems must be valid JSON: ' + e.message } }]; }\n    const lineItems = lineItemsRaw.map(item => ({\n      type: 'custom',\n      name: item.name,\n      quantity: item.quantity || 1,\n      unitName: item.unitName || 'Stück',\n      unitPrice: {\n        currency: 'EUR',\n        netAmount: item.unitPrice || item.netAmount || 0,\n        taxRatePercentage: item.taxRate || item.taxRatePercentage || 19\n      }\n    }));\n    const body = {\n      voucherDate: voucherDate,\n      lineItems: lineItems,\n      totalPrice: { currency: 'EUR' },\n      taxConditions: { taxType: 'net' },\n      shippingConditions: { shippingType: 'none' }\n    };\n    if (contactId) body.address = { contactId: contactId };\n    if (input.introduction) body.introduction = input.introduction;\n    if (input.remark) body.remark = input.remark;\n    const finalize = input.finalize === 'true' || input.finalize === true;\n    let url = baseUrl + '/invoices';\n    if (finalize) url += '?finalize=true';\n    const data = await helpers.httpRequest({\n      method: 'POST',\n      url: url,\n      headers: jsonHeaders,\n      body: JSON.stringify(body)\n    });\n    let result = 'Invoice created successfully.';\n    if (finalize) result += ' (finalized)';\n    result += '\\nID: ' + data.id;\n    result += '\\nResource: ' + data.resourceUri;\n    result += '\\nDeep Link: https://app.lexware.de/permalink/invoices/edit/' + data.id;\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create invoice: ' + err.message } }];\n  }\n\n// === create_invoice_from_quotation ===\n} else if (action === 'create_invoice_from_quotation') {\n  const quotationId = input.quotation_id;\n  if (!quotationId) return [{ json: { error: 'Parameter \"quotation_id\" is required.' } }];\n  try {\n    const finalize = input.finalize === 'true' || input.finalize === true;\n    let url = baseUrl + '/invoices?precedingSalesVoucherId=' + quotationId;\n    if (finalize) url += '&finalize=true';\n    const data = await helpers.httpRequest({\n      method: 'POST',\n      url: url,\n      headers: jsonHeaders,\n      body: '{}'\n    });\n    let result = 'Invoice created from quotation successfully.';\n    if (finalize) result += ' (finalized)';\n    result += '\\nID: ' + data.id;\n    result += '\\nResource: ' + data.resourceUri;\n    result += '\\nDeep Link: https://app.lexware.de/permalink/invoices/edit/' + data.id;\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create invoice from quotation: ' + err.message } }];\n  }\n\n// === upload_file ===\n} else if (action === 'upload_file') {\n  const fileBase64 = input.file_base64;\n  const fileName = input.file_name || 'document.pdf';\n  if (!fileBase64) return [{ json: { error: 'Parameter \"file_base64\" is required. Provide the file content as base64-encoded string.' } }];\n  try {\n    const fileBuffer = Buffer.from(fileBase64, 'base64');\n    const boundary = '----n8nFormBoundary' + Date.now();\n    const contentType = fileName.endsWith('.pdf') ? 'application/pdf' : fileName.endsWith('.png') ? 'image/png' : fileName.endsWith('.jpg') || fileName.endsWith('.jpeg') ? 'image/jpeg' : 'application/octet-stream';\n    let bodyParts = [];\n    bodyParts.push('--' + boundary);\n    bodyParts.push('Content-Disposition: form-data; name=\"file\"; filename=\"' + fileName + '\"');\n    bodyParts.push('Content-Type: ' + contentType);\n    bodyParts.push('');\n    const headerStr = bodyParts.join('\\r\\n') + '\\r\\n';\n    const footerStr = '\\r\\n--' + boundary + '--\\r\\n';\n    const headerBuf = Buffer.from(headerStr);\n    const footerBuf = Buffer.from(footerStr);\n    const fullBody = Buffer.concat([headerBuf, fileBuffer, footerBuf]);\n    const data = await helpers.httpRequest({\n      method: 'POST',\n      url: baseUrl + '/files',\n      headers: {\n        'Authorization': 'Bearer ' + token,\n        'Accept': 'application/json',\n        'Content-Type': 'multipart/form-data; boundary=' + boundary\n      },\n      body: fullBody\n    });\n    return [{ json: { result: 'File uploaded successfully.\\nFile ID: ' + data.id + '\\nResource: ' + data.resourceUri } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to upload file: ' + err.message } }];\n  }\n\n// === list_vouchers ===\n} else if (action === 'list_vouchers') {\n  const page = input.page || '0';\n  const voucherType = input.voucherType || '';\n  const status = input.status || '';\n  try {\n    let url = baseUrl + '/voucherlist?page=' + page + '&size=25&sort=voucherDate,DESC';\n    if (voucherType) url += '&voucherType=' + voucherType;\n    if (status) url += '&voucherStatus=' + status;\n    const data = await helpers.httpRequest({ method: 'GET', url, headers });\n    if (!data.content || data.content.length === 0) {\n      return [{ json: { result: 'No vouchers found.' } }];\n    }\n    let result = 'Vouchers (page ' + data.number + ' of ' + data.totalPages + ', ' + data.totalElements + ' total):\\n\\n';\n    for (const v of data.content) {\n      result += '**' + (v.voucherNumber || 'Draft') + '**';\n      result += ' [' + v.voucherType + ']';\n      result += ' — ' + (v.contactName || 'Unknown contact') + '\\n';\n      result += '  Date: ' + formatDate(v.voucherDate);\n      result += ' | Status: ' + v.voucherStatus;\n      result += ' | Total: ' + formatCurrency(v.totalAmount) + '\\n';\n      result += '  ID: ' + v.id + '\\n\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list vouchers: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Available: list_articles, get_article, create_article, update_article, delete_article, list_quotations, get_quotation, create_quotation, list_invoices, get_invoice, create_invoice, create_invoice_from_quotation, upload_file, list_vouchers.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Lexware Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Lexware Office",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "lexware"
        }
      },
      {
        "id": "tool-list-articles",
        "name": "list_articles",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "list_articles",
          "description": "List articles (products and services) from Lexware. Parameters: page (page number starting at 0, optional, default 0), type ('PRODUCT' or 'SERVICE', optional, lists all if empty)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_articles",
              "page": "={{ $fromAI('page', 'Page number starting at 0 (default: 0)', 'string') }}",
              "type": "={{ $fromAI('type', 'Filter by type: PRODUCT or SERVICE (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "page", "displayName": "page", "type": "string", "description": "Page number", "required": false },
              { "id": "type", "displayName": "type", "type": "string", "description": "PRODUCT or SERVICE", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-article",
        "name": "get_article",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "get_article",
          "description": "Get details of a specific article by ID. Parameters: id (article UUID, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_article",
              "id": "={{ $fromAI('id', 'Article UUID', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "id", "displayName": "id", "type": "string", "description": "Article UUID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-article",
        "name": "create_article",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "create_article",
          "description": "Create a new article (product or service). Parameters: title (article name, required), type ('PRODUCT' or 'SERVICE', optional, default 'SERVICE'), unitName (unit of measure, optional, default 'Stück'), netPrice (net price as number, optional, default 0), taxRate (tax rate percentage, optional, default 19), description (optional), articleNumber (optional), gtin (EAN/barcode, optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_article",
              "title": "={{ $fromAI('title', 'Article name', 'string') }}",
              "type": "={{ $fromAI('type', 'PRODUCT or SERVICE (default: SERVICE)', 'string') }}",
              "unitName": "={{ $fromAI('unitName', 'Unit of measure (default: Stück)', 'string') }}",
              "netPrice": "={{ $fromAI('netPrice', 'Net price (default: 0)', 'string') }}",
              "taxRate": "={{ $fromAI('taxRate', 'Tax rate percentage (default: 19)', 'string') }}",
              "description": "={{ $fromAI('description', 'Article description (optional)', 'string') }}",
              "articleNumber": "={{ $fromAI('articleNumber', 'Article number (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "title", "displayName": "title", "type": "string", "description": "Article name", "required": true },
              { "id": "type", "displayName": "type", "type": "string", "description": "PRODUCT or SERVICE", "required": false },
              { "id": "unitName", "displayName": "unitName", "type": "string", "description": "Unit of measure", "required": false },
              { "id": "netPrice", "displayName": "netPrice", "type": "string", "description": "Net price", "required": false },
              { "id": "taxRate", "displayName": "taxRate", "type": "string", "description": "Tax rate", "required": false },
              { "id": "description", "displayName": "description", "type": "string", "description": "Description", "required": false },
              { "id": "articleNumber", "displayName": "articleNumber", "type": "string", "description": "Article number", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-update-article",
        "name": "update_article",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 300],
        "parameters": {
          "name": "update_article",
          "description": "Update an existing article. IMPORTANT: Use get_article first to get the current version number. Parameters: id (article UUID, required), version (current version number for optimistic locking, required), title (article name, required), type ('PRODUCT' or 'SERVICE', optional), unitName (optional), netPrice (optional), taxRate (optional), description (optional), articleNumber (optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "update_article",
              "id": "={{ $fromAI('id', 'Article UUID', 'string') }}",
              "version": "={{ $fromAI('version', 'Current version number (from get_article)', 'string') }}",
              "title": "={{ $fromAI('title', 'Article name', 'string') }}",
              "type": "={{ $fromAI('type', 'PRODUCT or SERVICE', 'string') }}",
              "unitName": "={{ $fromAI('unitName', 'Unit of measure', 'string') }}",
              "netPrice": "={{ $fromAI('netPrice', 'Net price', 'string') }}",
              "taxRate": "={{ $fromAI('taxRate', 'Tax rate percentage', 'string') }}",
              "description": "={{ $fromAI('description', 'Description (optional)', 'string') }}",
              "articleNumber": "={{ $fromAI('articleNumber', 'Article number (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "id", "displayName": "id", "type": "string", "description": "Article UUID", "required": true },
              { "id": "version", "displayName": "version", "type": "string", "description": "Version number", "required": true },
              { "id": "title", "displayName": "title", "type": "string", "description": "Article name", "required": true },
              { "id": "type", "displayName": "type", "type": "string", "description": "PRODUCT or SERVICE", "required": false },
              { "id": "unitName", "displayName": "unitName", "type": "string", "description": "Unit of measure", "required": false },
              { "id": "netPrice", "displayName": "netPrice", "type": "string", "description": "Net price", "required": false },
              { "id": "taxRate", "displayName": "taxRate", "type": "string", "description": "Tax rate", "required": false },
              { "id": "description", "displayName": "description", "type": "string", "description": "Description", "required": false },
              { "id": "articleNumber", "displayName": "articleNumber", "type": "string", "description": "Article number", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-delete-article",
        "name": "delete_article",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 600],
        "parameters": {
          "name": "delete_article",
          "description": "Delete an article by ID. Parameters: id (article UUID, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "delete_article",
              "id": "={{ $fromAI('id', 'Article UUID to delete', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "id", "displayName": "id", "type": "string", "description": "Article UUID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-quotations",
        "name": "list_quotations",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 600],
        "parameters": {
          "name": "list_quotations",
          "description": "List quotations (Angebote). Parameters: page (page number, optional, default 0), status (filter by status: 'draft', 'open', 'accepted', 'rejected', 'expired', optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_quotations",
              "page": "={{ $fromAI('page', 'Page number (default: 0)', 'string') }}",
              "status": "={{ $fromAI('status', 'Filter by status: draft, open, accepted, rejected, expired (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "page", "displayName": "page", "type": "string", "description": "Page number", "required": false },
              { "id": "status", "displayName": "status", "type": "string", "description": "Voucher status", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-quotation",
        "name": "get_quotation",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 600],
        "parameters": {
          "name": "get_quotation",
          "description": "Get details of a specific quotation by ID, including line items and totals. Parameters: id (quotation UUID, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_quotation",
              "id": "={{ $fromAI('id', 'Quotation UUID', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "id", "displayName": "id", "type": "string", "description": "Quotation UUID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-quotation",
        "name": "create_quotation",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 600],
        "parameters": {
          "name": "create_quotation",
          "description": "Create a new quotation. Parameters: lineItems (JSON array of items, required, e.g. [{\"name\":\"Beratung\",\"quantity\":2,\"unitPrice\":150,\"taxRate\":19}]), contactId (Lexware contact UUID, optional), voucherDate (YYYY-MM-DD, optional, default today), finalize ('true' to finalize immediately, optional, default draft), expirationDate (YYYY-MM-DD, optional), introduction (intro text, optional), remark (closing text, optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_quotation",
              "lineItems": "={{ $fromAI('lineItems', 'JSON array of line items', 'string') }}",
              "contactId": "={{ $fromAI('contactId', 'Contact UUID (optional)', 'string') }}",
              "voucherDate": "={{ $fromAI('voucherDate', 'Date YYYY-MM-DD (default: today)', 'string') }}",
              "finalize": "={{ $fromAI('finalize', 'true to finalize, false for draft (default: false)', 'string') }}",
              "expirationDate": "={{ $fromAI('expirationDate', 'Expiration date YYYY-MM-DD (optional)', 'string') }}",
              "introduction": "={{ $fromAI('introduction', 'Introduction text (optional)', 'string') }}",
              "remark": "={{ $fromAI('remark', 'Closing remark (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "lineItems", "displayName": "lineItems", "type": "string", "description": "JSON array of line items", "required": true },
              { "id": "contactId", "displayName": "contactId", "type": "string", "description": "Contact UUID", "required": false },
              { "id": "voucherDate", "displayName": "voucherDate", "type": "string", "description": "Voucher date", "required": false },
              { "id": "finalize", "displayName": "finalize", "type": "string", "description": "Finalize immediately", "required": false },
              { "id": "expirationDate", "displayName": "expirationDate", "type": "string", "description": "Expiration date", "required": false },
              { "id": "introduction", "displayName": "introduction", "type": "string", "description": "Introduction text", "required": false },
              { "id": "remark", "displayName": "remark", "type": "string", "description": "Closing remark", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-invoices",
        "name": "list_invoices",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 900],
        "parameters": {
          "name": "list_invoices",
          "description": "List invoices (Rechnungen). Parameters: page (page number, optional, default 0), status (filter by status: 'draft', 'open', 'paidoff', 'voided', optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_invoices",
              "page": "={{ $fromAI('page', 'Page number (default: 0)', 'string') }}",
              "status": "={{ $fromAI('status', 'Filter by status: draft, open, paidoff, voided (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "page", "displayName": "page", "type": "string", "description": "Page number", "required": false },
              { "id": "status", "displayName": "status", "type": "string", "description": "Invoice status", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-invoice",
        "name": "get_invoice",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 900],
        "parameters": {
          "name": "get_invoice",
          "description": "Get details of a specific invoice by ID, including line items, totals, and payment conditions. Parameters: id (invoice UUID, required)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_invoice",
              "id": "={{ $fromAI('id', 'Invoice UUID', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "id", "displayName": "id", "type": "string", "description": "Invoice UUID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-invoice",
        "name": "create_invoice",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 900],
        "parameters": {
          "name": "create_invoice",
          "description": "Create a new invoice. Parameters: lineItems (JSON array of items, required, e.g. [{\"name\":\"Beratung\",\"quantity\":2,\"unitPrice\":150,\"taxRate\":19}]), contactId (Lexware contact UUID, optional), voucherDate (YYYY-MM-DD, optional, default today), finalize ('true' to finalize immediately, optional, default draft), introduction (intro text, optional), remark (closing text, optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_invoice",
              "lineItems": "={{ $fromAI('lineItems', 'JSON array of line items', 'string') }}",
              "contactId": "={{ $fromAI('contactId', 'Contact UUID (optional)', 'string') }}",
              "voucherDate": "={{ $fromAI('voucherDate', 'Date YYYY-MM-DD (default: today)', 'string') }}",
              "finalize": "={{ $fromAI('finalize', 'true to finalize, false for draft (default: false)', 'string') }}",
              "introduction": "={{ $fromAI('introduction', 'Introduction text (optional)', 'string') }}",
              "remark": "={{ $fromAI('remark', 'Closing remark (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "lineItems", "displayName": "lineItems", "type": "string", "description": "JSON array of line items", "required": true },
              { "id": "contactId", "displayName": "contactId", "type": "string", "description": "Contact UUID", "required": false },
              { "id": "voucherDate", "displayName": "voucherDate", "type": "string", "description": "Voucher date", "required": false },
              { "id": "finalize", "displayName": "finalize", "type": "string", "description": "Finalize immediately", "required": false },
              { "id": "introduction", "displayName": "introduction", "type": "string", "description": "Introduction text", "required": false },
              { "id": "remark", "displayName": "remark", "type": "string", "description": "Closing remark", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-invoice-from-quotation",
        "name": "create_invoice_from_quotation",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 900],
        "parameters": {
          "name": "create_invoice_from_quotation",
          "description": "Create an invoice from an existing quotation. Parameters: quotation_id (quotation UUID, required), finalize ('true' to finalize immediately, optional, default draft)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_invoice_from_quotation",
              "quotation_id": "={{ $fromAI('quotation_id', 'Quotation UUID to convert to invoice', 'string') }}",
              "finalize": "={{ $fromAI('finalize', 'true to finalize, false for draft (default: false)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "quotation_id", "displayName": "quotation_id", "type": "string", "description": "Quotation UUID", "required": true },
              { "id": "finalize", "displayName": "finalize", "type": "string", "description": "Finalize immediately", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-upload-file",
        "name": "upload_file",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 1200],
        "parameters": {
          "name": "upload_file",
          "description": "Upload a voucher file (receipt/document) to Lexware. Parameters: file_base64 (file content as base64 string, required), file_name (filename with extension like 'receipt.pdf', optional, default 'document.pdf')",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "upload_file",
              "file_base64": "={{ $fromAI('file_base64', 'File content as base64 encoded string', 'string') }}",
              "file_name": "={{ $fromAI('file_name', 'Filename with extension (default: document.pdf)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "file_base64", "displayName": "file_base64", "type": "string", "description": "Base64 encoded file", "required": true },
              { "id": "file_name", "displayName": "file_name", "type": "string", "description": "Filename", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-vouchers",
        "name": "list_vouchers",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 1200],
        "parameters": {
          "name": "list_vouchers",
          "description": "List all vouchers (invoices, quotations, credit notes, etc.) with optional filters. Parameters: page (page number, optional, default 0), voucherType (filter by type: 'invoice', 'quotation', 'creditnote', 'deliverynote', optional), status (filter by status, optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_vouchers",
              "page": "={{ $fromAI('page', 'Page number (default: 0)', 'string') }}",
              "voucherType": "={{ $fromAI('voucherType', 'Filter: invoice, quotation, creditnote, deliverynote (optional)', 'string') }}",
              "status": "={{ $fromAI('status', 'Filter by status (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "page", "displayName": "page", "type": "string", "description": "Page number", "required": false },
              { "id": "voucherType", "displayName": "voucherType", "type": "string", "description": "Voucher type filter", "required": false },
              { "id": "status", "displayName": "status", "type": "string", "description": "Status filter", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "list_articles": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_article": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_article": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "update_article": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "delete_article": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_quotations": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_quotation": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_quotation": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_invoices": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_invoice": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_invoice": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_invoice_from_quotation": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "upload_file": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_vouchers": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
