templates/stripe/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Stripe",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Stripe Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || '';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\nconst allCreds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.stripe&select=cred_key,cred_value',\n  headers: pgHeaders\n});\nconst creds = {};\nfor (const c of (allCreds || [])) creds[c.cred_key] = c.cred_value;\nif (!creds.stripe_api_key) {\n  return [{ json: { error: 'Stripe API key not configured. Expected Secret (sk_test_...) or Restricted (rk_test_...) key.' } }];\n}\n\nconst API = 'https://api.stripe.com/v1';\nconst basic = Buffer.from(creds.stripe_api_key + ':').toString('base64');\nconst authHeaders = { 'Authorization': 'Basic ' + basic };\nconst formHeaders = { ...authHeaders, 'Content-Type': 'application/x-www-form-urlencoded' };\nconst isLive = /^(sk|rk)_live_/.test(creds.stripe_api_key);\nconst modeTag = isLive ? ' [LIVE]' : ' [test]';\n\nfunction truncate(text, max) {\n  max = max || 5000;\n  if (text.length > max) return text.substring(0, max) + '\\n\\n... (truncated, ' + text.length + ' chars total)';\n  return text;\n}\n\nfunction fmtAmount(amount, currency) {\n  if (amount === null || amount === undefined) return '?';\n  const c = (currency || 'usd').toLowerCase();\n  const zero = ['bif','clp','djf','gnf','jpy','kmf','krw','mga','pyg','rwf','ugx','vnd','vuv','xaf','xof','xpf'];\n  const divisor = zero.includes(c) ? 1 : 100;\n  const val = (Number(amount) / divisor).toFixed(divisor === 1 ? 0 : 2);\n  return val + ' ' + c.toUpperCase();\n}\n\nfunction fmtDate(ts) {\n  if (!ts) return '';\n  return new Date(Number(ts) * 1000).toISOString().substring(0, 10);\n}\n\nfunction buildForm(obj) {\n  const parts = [];\n  for (const [k, v] of Object.entries(obj || {})) {\n    if (v === undefined || v === null || v === '') continue;\n    parts.push(encodeURIComponent(k) + '=' + encodeURIComponent(String(v)));\n  }\n  return parts.join('&');\n}\n\nasync function stripeGet(path) {\n  return await helpers.httpRequest({ method: 'GET', url: API + path, headers: authHeaders, json: true });\n}\n\nasync function stripePost(path, form) {\n  return await helpers.httpRequest({ method: 'POST', url: API + path, headers: formHeaders, body: buildForm(form), json: true });\n}\n\nasync function stripeDelete(path) {\n  return await helpers.httpRequest({ method: 'DELETE', url: API + path, headers: authHeaders, json: true });\n}\n\nfunction errMsg(err) {\n  if (err.response && err.response.body && err.response.body.error) return err.response.body.error.message;\n  if (err.message) return err.message;\n  return String(err);\n}\n\n// === list_customers ===\nif (action === 'list_customers') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  try {\n    const r = await stripeGet('/customers?limit=' + limit);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No customers.' + modeTag } }];\n    let out = 'Customers' + modeTag + ' (' + items.length + '):\\n';\n    for (const c of items) out += '  ' + c.id + ' \u2014 ' + (c.name || '(no name)') + (c.email ? ' <' + c.email + '>' : '') + ' created: ' + fmtDate(c.created) + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_customers: ' + errMsg(err) } }]; }\n\n// === search_customers ===\n} else if (action === 'search_customers') {\n  const query = input.query;\n  if (!query) return [{ json: { error: 'Parameter \"query\" is required. Stripe search syntax: email:\"x@y.com\", name:\"Acme\", metadata[\"order_id\"]:\"123\".' } }];\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  try {\n    const r = await stripeGet('/customers/search?query=' + encodeURIComponent(query) + '&limit=' + limit);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No customers matched \"' + query + '\".' + modeTag } }];\n    let out = 'Matches' + modeTag + ' (' + items.length + '):\\n';\n    for (const c of items) out += '  ' + c.id + ' \u2014 ' + (c.name || '(no name)') + (c.email ? ' <' + c.email + '>' : '') + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe search_customers: ' + errMsg(err) } }]; }\n\n// === get_customer ===\n} else if (action === 'get_customer') {\n  const id = input.customer_id;\n  if (!id) return [{ json: { error: 'Parameter \"customer_id\" is required (cus_...).' } }];\n  try {\n    const c = await stripeGet('/customers/' + encodeURIComponent(id));\n    let out = 'Customer ' + c.id + modeTag + '\\n';\n    out += 'Name: ' + (c.name || '(none)') + '\\n';\n    if (c.email) out += 'Email: ' + c.email + '\\n';\n    if (c.phone) out += 'Phone: ' + c.phone + '\\n';\n    if (c.description) out += 'Description: ' + c.description + '\\n';\n    out += 'Created: ' + fmtDate(c.created) + '\\n';\n    if (c.balance !== undefined) out += 'Balance: ' + fmtAmount(c.balance, c.currency || 'usd') + '\\n';\n    if (c.delinquent) out += 'DELINQUENT\\n';\n    if (c.metadata && Object.keys(c.metadata).length) out += 'Metadata: ' + JSON.stringify(c.metadata) + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe get_customer: ' + errMsg(err) } }]; }\n\n// === create_customer ===\n} else if (action === 'create_customer') {\n  if (!input.name && !input.email) return [{ json: { error: 'At least one of \"name\" or \"email\" is required.' } }];\n  const form = {};\n  if (input.name) form.name = input.name;\n  if (input.email) form.email = input.email;\n  if (input.phone) form.phone = input.phone;\n  if (input.description) form.description = input.description;\n  try {\n    const c = await stripePost('/customers', form);\n    return [{ json: { result: 'Customer created' + modeTag + ': ' + c.id + ' \u2014 ' + (c.name || c.email || '') } }];\n  } catch (err) { return [{ json: { error: 'Stripe create_customer: ' + errMsg(err) } }]; }\n\n// === update_customer ===\n} else if (action === 'update_customer') {\n  const id = input.customer_id;\n  if (!id) return [{ json: { error: 'Parameter \"customer_id\" is required.' } }];\n  const form = {};\n  if (input.name !== undefined) form.name = input.name;\n  if (input.email !== undefined) form.email = input.email;\n  if (input.phone !== undefined) form.phone = input.phone;\n  if (input.description !== undefined) form.description = input.description;\n  if (Object.keys(form).length === 0) return [{ json: { error: 'Provide at least one field: name, email, phone, description.' } }];\n  try {\n    const c = await stripePost('/customers/' + encodeURIComponent(id), form);\n    return [{ json: { result: 'Customer ' + c.id + ' updated' + modeTag + '.' } }];\n  } catch (err) { return [{ json: { error: 'Stripe update_customer: ' + errMsg(err) } }]; }\n\n// === list_payments (payment_intents) ===\n} else if (action === 'list_payments') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  let path = '/payment_intents?limit=' + limit;\n  if (input.customer_id) path += '&customer=' + encodeURIComponent(input.customer_id);\n  try {\n    const r = await stripeGet(path);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No payments.' + modeTag } }];\n    let out = 'PaymentIntents' + modeTag + ' (' + items.length + '):\\n';\n    for (const p of items) {\n      out += '  ' + p.id + ' [' + p.status + '] ' + fmtAmount(p.amount, p.currency) + ' ' + fmtDate(p.created);\n      if (p.customer) out += ' cust: ' + p.customer;\n      if (p.description) out += ' \"' + p.description.substring(0, 40) + '\"';\n      out += '\\n';\n    }\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_payments: ' + errMsg(err) } }]; }\n\n// === get_payment ===\n} else if (action === 'get_payment') {\n  const id = input.payment_id;\n  if (!id) return [{ json: { error: 'Parameter \"payment_id\" is required (pi_...).' } }];\n  try {\n    const p = await stripeGet('/payment_intents/' + encodeURIComponent(id));\n    let out = 'Payment ' + p.id + modeTag + '\\n';\n    out += 'Status: ' + p.status + '\\n';\n    out += 'Amount: ' + fmtAmount(p.amount, p.currency) + '\\n';\n    if (p.amount_received !== undefined) out += 'Received: ' + fmtAmount(p.amount_received, p.currency) + '\\n';\n    if (p.customer) out += 'Customer: ' + p.customer + '\\n';\n    if (p.description) out += 'Description: ' + p.description + '\\n';\n    if (p.latest_charge) out += 'Latest charge: ' + p.latest_charge + '\\n';\n    out += 'Created: ' + fmtDate(p.created) + '\\n';\n    if (p.last_payment_error) out += 'Last error: ' + p.last_payment_error.message + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe get_payment: ' + errMsg(err) } }]; }\n\n// === list_charges ===\n} else if (action === 'list_charges') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  let path = '/charges?limit=' + limit;\n  if (input.customer_id) path += '&customer=' + encodeURIComponent(input.customer_id);\n  try {\n    const r = await stripeGet(path);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No charges.' + modeTag } }];\n    let out = 'Charges' + modeTag + ' (' + items.length + '):\\n';\n    for (const c of items) {\n      out += '  ' + c.id + ' [' + c.status + ']' + (c.refunded ? ' REFUNDED' : '') + ' ' + fmtAmount(c.amount, c.currency) + ' ' + fmtDate(c.created);\n      if (c.customer) out += ' cust: ' + c.customer;\n      out += '\\n';\n    }\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_charges: ' + errMsg(err) } }]; }\n\n// === list_invoices ===\n} else if (action === 'list_invoices') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  let path = '/invoices?limit=' + limit;\n  if (input.customer_id) path += '&customer=' + encodeURIComponent(input.customer_id);\n  if (input.status) path += '&status=' + encodeURIComponent(input.status);\n  try {\n    const r = await stripeGet(path);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No invoices.' + modeTag } }];\n    let out = 'Invoices' + modeTag + ' (' + items.length + '):\\n';\n    for (const i of items) {\n      out += '  ' + i.id + ' [' + i.status + '] ' + fmtAmount(i.total, i.currency) + ' ' + fmtDate(i.created);\n      if (i.customer_email) out += ' ' + i.customer_email;\n      if (i.number) out += ' #' + i.number;\n      out += '\\n';\n    }\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_invoices: ' + errMsg(err) } }]; }\n\n// === get_invoice ===\n} else if (action === 'get_invoice') {\n  const id = input.invoice_id;\n  if (!id) return [{ json: { error: 'Parameter \"invoice_id\" is required (in_...).' } }];\n  try {\n    const i = await stripeGet('/invoices/' + encodeURIComponent(id));\n    let out = 'Invoice ' + i.id + modeTag + '\\n';\n    if (i.number) out += 'Number: ' + i.number + '\\n';\n    out += 'Status: ' + i.status + '\\n';\n    out += 'Total: ' + fmtAmount(i.total, i.currency) + '\\n';\n    out += 'Subtotal: ' + fmtAmount(i.subtotal, i.currency) + '\\n';\n    if (i.amount_paid !== undefined) out += 'Paid: ' + fmtAmount(i.amount_paid, i.currency) + '\\n';\n    if (i.amount_due !== undefined) out += 'Due: ' + fmtAmount(i.amount_due, i.currency) + '\\n';\n    if (i.customer) out += 'Customer: ' + i.customer + (i.customer_email ? ' (' + i.customer_email + ')' : '') + '\\n';\n    out += 'Created: ' + fmtDate(i.created) + '\\n';\n    if (i.due_date) out += 'Due date: ' + fmtDate(i.due_date) + '\\n';\n    if (i.hosted_invoice_url) out += 'Hosted URL: ' + i.hosted_invoice_url + '\\n';\n    if (i.invoice_pdf) out += 'PDF: ' + i.invoice_pdf + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe get_invoice: ' + errMsg(err) } }]; }\n\n// === create_invoice ===\n} else if (action === 'create_invoice') {\n  const customer = input.customer_id;\n  if (!customer) return [{ json: { error: 'Parameter \"customer_id\" is required (cus_...).' } }];\n  const form = { customer };\n  if (input.description) form.description = input.description;\n  if (input.days_until_due) form.collection_method = 'send_invoice', form.days_until_due = input.days_until_due;\n  try {\n    const i = await stripePost('/invoices', form);\n    return [{ json: { result: 'Draft invoice created' + modeTag + ': ' + i.id + ' (status: ' + i.status + '). Add line items via Stripe dashboard or API before finalizing.' } }];\n  } catch (err) { return [{ json: { error: 'Stripe create_invoice: ' + errMsg(err) } }]; }\n\n// === list_subscriptions ===\n} else if (action === 'list_subscriptions') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  let path = '/subscriptions?limit=' + limit;\n  if (input.customer_id) path += '&customer=' + encodeURIComponent(input.customer_id);\n  if (input.status) path += '&status=' + encodeURIComponent(input.status);\n  try {\n    const r = await stripeGet(path);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No subscriptions.' + modeTag } }];\n    let out = 'Subscriptions' + modeTag + ' (' + items.length + '):\\n';\n    for (const s of items) {\n      const plan = (s.items && s.items.data && s.items.data[0] ? s.items.data[0].plan : null);\n      out += '  ' + s.id + ' [' + s.status + '] cust: ' + s.customer;\n      if (plan) out += ' ' + fmtAmount(plan.amount, plan.currency) + '/' + plan.interval;\n      out += ' renews: ' + fmtDate(s.current_period_end) + '\\n';\n    }\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_subscriptions: ' + errMsg(err) } }]; }\n\n// === get_subscription ===\n} else if (action === 'get_subscription') {\n  const id = input.subscription_id;\n  if (!id) return [{ json: { error: 'Parameter \"subscription_id\" is required (sub_...).' } }];\n  try {\n    const s = await stripeGet('/subscriptions/' + encodeURIComponent(id));\n    let out = 'Subscription ' + s.id + modeTag + '\\n';\n    out += 'Status: ' + s.status + '\\n';\n    out += 'Customer: ' + s.customer + '\\n';\n    out += 'Current period: ' + fmtDate(s.current_period_start) + ' \u2014 ' + fmtDate(s.current_period_end) + '\\n';\n    if (s.cancel_at_period_end) out += 'CANCELS at period end\\n';\n    if (s.items && s.items.data) {\n      out += 'Items:\\n';\n      for (const it of s.items.data) {\n        const p = it.plan;\n        out += '  ' + it.id + ': ' + fmtAmount(p.amount, p.currency) + '/' + p.interval + ' x' + it.quantity + '\\n';\n      }\n    }\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe get_subscription: ' + errMsg(err) } }]; }\n\n// === cancel_subscription ===\n} else if (action === 'cancel_subscription') {\n  const id = input.subscription_id;\n  if (!id) return [{ json: { error: 'Parameter \"subscription_id\" is required (sub_...).' } }];\n  try {\n    const s = await stripeDelete('/subscriptions/' + encodeURIComponent(id));\n    return [{ json: { result: 'Subscription ' + s.id + ' canceled' + modeTag + ' (status: ' + s.status + ').' } }];\n  } catch (err) { return [{ json: { error: 'Stripe cancel_subscription: ' + errMsg(err) } }]; }\n\n// === list_products ===\n} else if (action === 'list_products') {\n  const limit = Math.min(parseInt(input.limit) || 20, 100);\n  let path = '/products?limit=' + limit;\n  if (input.active !== undefined) path += '&active=' + (input.active === 'false' ? 'false' : 'true');\n  try {\n    const r = await stripeGet(path);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No products.' + modeTag } }];\n    let out = 'Products' + modeTag + ' (' + items.length + '):\\n';\n    for (const p of items) out += '  ' + p.id + (p.active ? '' : ' [archived]') + ' \u2014 ' + p.name + (p.description ? ' \u2014 ' + p.description.substring(0, 60) : '') + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_products: ' + errMsg(err) } }]; }\n\n// === list_prices ===\n} else if (action === 'list_prices') {\n  const limit = Math.min(parseInt(input.limit) || 20, 100);\n  let path = '/prices?limit=' + limit;\n  if (input.product_id) path += '&product=' + encodeURIComponent(input.product_id);\n  if (input.active !== undefined) path += '&active=' + (input.active === 'false' ? 'false' : 'true');\n  try {\n    const r = await stripeGet(path);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No prices.' + modeTag } }];\n    let out = 'Prices' + modeTag + ' (' + items.length + '):\\n';\n    for (const p of items) {\n      out += '  ' + p.id + ' \u2014 ' + fmtAmount(p.unit_amount, p.currency);\n      if (p.recurring) out += '/' + p.recurring.interval;\n      out += ' (product: ' + p.product + ')';\n      if (!p.active) out += ' [archived]';\n      out += '\\n';\n    }\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_prices: ' + errMsg(err) } }]; }\n\n// === list_refunds ===\n} else if (action === 'list_refunds') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  let path = '/refunds?limit=' + limit;\n  if (input.charge_id) path += '&charge=' + encodeURIComponent(input.charge_id);\n  if (input.payment_intent_id) path += '&payment_intent=' + encodeURIComponent(input.payment_intent_id);\n  try {\n    const r = await stripeGet(path);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No refunds.' + modeTag } }];\n    let out = 'Refunds' + modeTag + ' (' + items.length + '):\\n';\n    for (const rf of items) out += '  ' + rf.id + ' [' + rf.status + '] ' + fmtAmount(rf.amount, rf.currency) + ' charge: ' + rf.charge + ' ' + fmtDate(rf.created) + (rf.reason ? ' reason: ' + rf.reason : '') + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_refunds: ' + errMsg(err) } }]; }\n\n// === create_refund ===\n} else if (action === 'create_refund') {\n  if (!input.charge_id && !input.payment_intent_id) return [{ json: { error: 'Provide either \"charge_id\" (ch_...) or \"payment_intent_id\" (pi_...).' } }];\n  const form = {};\n  if (input.charge_id) form.charge = input.charge_id;\n  else form.payment_intent = input.payment_intent_id;\n  if (input.amount) form.amount = input.amount;\n  if (input.reason) form.reason = input.reason;\n  try {\n    const rf = await stripePost('/refunds', form);\n    return [{ json: { result: 'Refund created' + modeTag + ': ' + rf.id + ' [' + rf.status + '] ' + fmtAmount(rf.amount, rf.currency) + '.' } }];\n  } catch (err) { return [{ json: { error: 'Stripe create_refund: ' + errMsg(err) } }]; }\n\n// === get_balance ===\n} else if (action === 'get_balance') {\n  try {\n    const b = await stripeGet('/balance');\n    let out = 'Balance' + modeTag + '\\n';\n    out += 'Available:\\n';\n    for (const a of (b.available || [])) out += '  ' + fmtAmount(a.amount, a.currency) + '\\n';\n    out += 'Pending:\\n';\n    for (const p of (b.pending || [])) out += '  ' + fmtAmount(p.amount, p.currency) + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe get_balance: ' + errMsg(err) } }]; }\n\n// === list_balance_transactions ===\n} else if (action === 'list_balance_transactions') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  let path = '/balance_transactions?limit=' + limit;\n  if (input.type) path += '&type=' + encodeURIComponent(input.type);\n  try {\n    const r = await stripeGet(path);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No balance transactions.' + modeTag } }];\n    let out = 'Balance transactions' + modeTag + ' (' + items.length + '):\\n';\n    for (const t of items) {\n      out += '  ' + t.id + ' [' + t.type + '] ' + fmtAmount(t.amount, t.currency) + ' net: ' + fmtAmount(t.net, t.currency) + ' fee: ' + fmtAmount(t.fee, t.currency) + ' ' + fmtDate(t.created) + '\\n';\n    }\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_balance_transactions: ' + errMsg(err) } }]; }\n\n// === list_payouts ===\n} else if (action === 'list_payouts') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  try {\n    const r = await stripeGet('/payouts?limit=' + limit);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No payouts.' + modeTag } }];\n    let out = 'Payouts' + modeTag + ' (' + items.length + '):\\n';\n    for (const p of items) out += '  ' + p.id + ' [' + p.status + '] ' + fmtAmount(p.amount, p.currency) + ' arrival: ' + fmtDate(p.arrival_date) + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_payouts: ' + errMsg(err) } }]; }\n\n// === list_disputes ===\n} else if (action === 'list_disputes') {\n  const limit = Math.min(parseInt(input.limit) || 10, 100);\n  try {\n    const r = await stripeGet('/disputes?limit=' + limit);\n    const items = r.data || [];\n    if (items.length === 0) return [{ json: { result: 'No disputes.' + modeTag } }];\n    let out = 'Disputes' + modeTag + ' (' + items.length + '):\\n';\n    for (const d of items) out += '  ' + d.id + ' [' + d.status + '] ' + fmtAmount(d.amount, d.currency) + ' reason: ' + (d.reason || '?') + ' charge: ' + d.charge + ' ' + fmtDate(d.created) + '\\n';\n    return [{ json: { result: truncate(out) } }];\n  } catch (err) { return [{ json: { error: 'Stripe list_disputes: ' + errMsg(err) } }]; }\n\n// === create_payment_link ===\n} else if (action === 'create_payment_link') {\n  const price = input.price_id;\n  if (!price) return [{ json: { error: 'Parameter \"price_id\" is required (price_...). Use list_prices to find one.' } }];\n  const qty = parseInt(input.quantity) || 1;\n  const form = { 'line_items[0][price]': price, 'line_items[0][quantity]': String(qty) };\n  try {\n    const pl = await stripePost('/payment_links', form);\n    return [{ json: { result: 'Payment link created' + modeTag + ': ' + pl.url + '\\n(id: ' + pl.id + ')' } }];\n  } catch (err) { return [{ json: { error: 'Stripe create_payment_link: ' + errMsg(err) } }]; }\n\n} else {\n  return [{ json: { error: 'Unknown action: \"' + action + '\". Available: list_customers, search_customers, get_customer, create_customer, update_customer, list_payments, get_payment, list_charges, list_invoices, get_invoice, create_invoice, list_subscriptions, get_subscription, cancel_subscription, list_products, list_prices, list_refunds, create_refund, get_balance, list_balance_transactions, list_payouts, list_disputes, create_payment_link.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Stripe Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Stripe",
    "settings": { "executionOrder": "v1" },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": { "path": "stripe" }
      },
      {
        "id": "t-list-customers",
        "name": "list_customers",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "list_customers",
          "description": "List recent customers. Parameters: limit (optional default 10).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": { "action": "list_customers", "limit": "={{ $fromAI('limit', 'Max (default 10)', 'string') }}" },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-search-customers",
        "name": "search_customers",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "search_customers",
          "description": "Search customers with Stripe search syntax. Examples: email:\"x@y.com\", name:\"Acme\", metadata[\"order_id\"]:\"123\". Parameters: query (required), limit (optional).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_customers",
              "query": "={{ $fromAI('query', 'Stripe search query', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Limit', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Search query", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-get-customer",
        "name": "get_customer",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "get_customer",
          "description": "Get a customer by id. Parameters: customer_id (required, cus_...).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_customer",
              "customer_id": "={{ $fromAI('customer_id', 'Customer id cus_...', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "customer_id", "displayName": "customer_id", "type": "string", "description": "Customer id", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-create-customer",
        "name": "create_customer",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 300],
        "parameters": {
          "name": "create_customer",
          "description": "Create a new customer. At least one of name/email required. Parameters: name, email, phone, description (all optional but at least one required).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_customer",
              "name": "={{ $fromAI('name', 'Customer name', 'string') }}",
              "email": "={{ $fromAI('email', 'Customer email', 'string') }}",
              "phone": "={{ $fromAI('phone', 'Customer phone', 'string') }}",
              "description": "={{ $fromAI('description', 'Description/note', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "name", "displayName": "name", "type": "string", "description": "Name", "required": false },
              { "id": "email", "displayName": "email", "type": "string", "description": "Email", "required": false },
              { "id": "phone", "displayName": "phone", "type": "string", "description": "Phone", "required": false },
              { "id": "description", "displayName": "description", "type": "string", "description": "Description", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-update-customer",
        "name": "update_customer",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1000, 300],
        "parameters": {
          "name": "update_customer",
          "description": "Update fields on a customer. Parameters: customer_id (required), name/email/phone/description (any subset).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "update_customer",
              "customer_id": "={{ $fromAI('customer_id', 'Customer id cus_...', 'string') }}",
              "name": "={{ $fromAI('name', 'New name', 'string') }}",
              "email": "={{ $fromAI('email', 'New email', 'string') }}",
              "phone": "={{ $fromAI('phone', 'New phone', 'string') }}",
              "description": "={{ $fromAI('description', 'New description', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "customer_id", "displayName": "customer_id", "type": "string", "description": "Customer id", "required": true },
              { "id": "name", "displayName": "name", "type": "string", "description": "Name", "required": false },
              { "id": "email", "displayName": "email", "type": "string", "description": "Email", "required": false },
              { "id": "phone", "displayName": "phone", "type": "string", "description": "Phone", "required": false },
              { "id": "description", "displayName": "description", "type": "string", "description": "Description", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-payments",
        "name": "list_payments",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1250, 300],
        "parameters": {
          "name": "list_payments",
          "description": "List PaymentIntents (modern payment flow). Parameters: limit (optional), customer_id (optional filter).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_payments",
              "limit": "={{ $fromAI('limit', 'Max (default 10)', 'string') }}",
              "customer_id": "={{ $fromAI('customer_id', 'Filter by customer', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false },
              { "id": "customer_id", "displayName": "customer_id", "type": "string", "description": "Customer filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-get-payment",
        "name": "get_payment",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 550],
        "parameters": {
          "name": "get_payment",
          "description": "Get a PaymentIntent by id. Parameters: payment_id (required, pi_...).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_payment",
              "payment_id": "={{ $fromAI('payment_id', 'PaymentIntent id pi_...', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "payment_id", "displayName": "payment_id", "type": "string", "description": "Payment id", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-charges",
        "name": "list_charges",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 550],
        "parameters": {
          "name": "list_charges",
          "description": "List charges (legacy — still populated alongside PaymentIntents). Parameters: limit, customer_id (optional).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_charges",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}",
              "customer_id": "={{ $fromAI('customer_id', 'Customer filter', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false },
              { "id": "customer_id", "displayName": "customer_id", "type": "string", "description": "Customer filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-invoices",
        "name": "list_invoices",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 550],
        "parameters": {
          "name": "list_invoices",
          "description": "List invoices. Parameters: limit, customer_id (optional), status (optional: draft, open, paid, void, uncollectible).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_invoices",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}",
              "customer_id": "={{ $fromAI('customer_id', 'Customer filter', 'string') }}",
              "status": "={{ $fromAI('status', 'Status filter', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false },
              { "id": "customer_id", "displayName": "customer_id", "type": "string", "description": "Customer", "required": false },
              { "id": "status", "displayName": "status", "type": "string", "description": "Status", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-get-invoice",
        "name": "get_invoice",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 550],
        "parameters": {
          "name": "get_invoice",
          "description": "Get invoice by id. Parameters: invoice_id (required, in_...).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_invoice",
              "invoice_id": "={{ $fromAI('invoice_id', 'Invoice id in_...', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "invoice_id", "displayName": "invoice_id", "type": "string", "description": "Invoice id", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-create-invoice",
        "name": "create_invoice",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1000, 550],
        "parameters": {
          "name": "create_invoice",
          "description": "Create a DRAFT invoice for a customer. Line items must be added separately via the Stripe dashboard or API. Parameters: customer_id (required), description (optional), days_until_due (optional).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_invoice",
              "customer_id": "={{ $fromAI('customer_id', 'Customer id', 'string') }}",
              "description": "={{ $fromAI('description', 'Invoice description', 'string') }}",
              "days_until_due": "={{ $fromAI('days_until_due', 'Days until due', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "customer_id", "displayName": "customer_id", "type": "string", "description": "Customer", "required": true },
              { "id": "description", "displayName": "description", "type": "string", "description": "Description", "required": false },
              { "id": "days_until_due", "displayName": "days_until_due", "type": "string", "description": "Days until due", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-subs",
        "name": "list_subscriptions",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1250, 550],
        "parameters": {
          "name": "list_subscriptions",
          "description": "List subscriptions. Parameters: limit, customer_id (optional), status (optional: active, canceled, past_due, trialing, all).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_subscriptions",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}",
              "customer_id": "={{ $fromAI('customer_id', 'Customer filter', 'string') }}",
              "status": "={{ $fromAI('status', 'Status filter', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false },
              { "id": "customer_id", "displayName": "customer_id", "type": "string", "description": "Customer", "required": false },
              { "id": "status", "displayName": "status", "type": "string", "description": "Status", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-get-sub",
        "name": "get_subscription",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 800],
        "parameters": {
          "name": "get_subscription",
          "description": "Get subscription by id. Parameters: subscription_id (required, sub_...).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_subscription",
              "subscription_id": "={{ $fromAI('subscription_id', 'Subscription id sub_...', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "subscription_id", "displayName": "subscription_id", "type": "string", "description": "Subscription id", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-cancel-sub",
        "name": "cancel_subscription",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 800],
        "parameters": {
          "name": "cancel_subscription",
          "description": "Cancel a subscription IMMEDIATELY. On live mode this stops recurring billing — confirm with user before calling. Parameters: subscription_id (required, sub_...).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "cancel_subscription",
              "subscription_id": "={{ $fromAI('subscription_id', 'Subscription id', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "subscription_id", "displayName": "subscription_id", "type": "string", "description": "Subscription id", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-products",
        "name": "list_products",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 800],
        "parameters": {
          "name": "list_products",
          "description": "List products. Parameters: limit, active (optional, default 'true'; set 'false' to show archived).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_products",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}",
              "active": "={{ $fromAI('active', 'true/false', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false },
              { "id": "active", "displayName": "active", "type": "string", "description": "Active filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-prices",
        "name": "list_prices",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 800],
        "parameters": {
          "name": "list_prices",
          "description": "List prices. Parameters: limit, product_id (optional filter), active (optional).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_prices",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}",
              "product_id": "={{ $fromAI('product_id', 'Product filter prod_...', 'string') }}",
              "active": "={{ $fromAI('active', 'true/false', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false },
              { "id": "product_id", "displayName": "product_id", "type": "string", "description": "Product filter", "required": false },
              { "id": "active", "displayName": "active", "type": "string", "description": "Active filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-refunds",
        "name": "list_refunds",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1000, 800],
        "parameters": {
          "name": "list_refunds",
          "description": "List refunds. Parameters: limit, charge_id (optional), payment_intent_id (optional).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_refunds",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}",
              "charge_id": "={{ $fromAI('charge_id', 'Charge filter ch_...', 'string') }}",
              "payment_intent_id": "={{ $fromAI('payment_intent_id', 'PaymentIntent filter pi_...', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false },
              { "id": "charge_id", "displayName": "charge_id", "type": "string", "description": "Charge filter", "required": false },
              { "id": "payment_intent_id", "displayName": "payment_intent_id", "type": "string", "description": "PaymentIntent filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-create-refund",
        "name": "create_refund",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1250, 800],
        "parameters": {
          "name": "create_refund",
          "description": "Refund a charge or payment_intent. On LIVE keys this moves real money — confirm with user before calling. Parameters: charge_id OR payment_intent_id (one required), amount (optional, minor units e.g. 500 = €5.00; omit for full refund), reason (optional: duplicate, fraudulent, requested_by_customer).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_refund",
              "charge_id": "={{ $fromAI('charge_id', 'Charge id ch_...', 'string') }}",
              "payment_intent_id": "={{ $fromAI('payment_intent_id', 'PaymentIntent id pi_...', 'string') }}",
              "amount": "={{ $fromAI('amount', 'Partial amount in minor units', 'string') }}",
              "reason": "={{ $fromAI('reason', 'Reason', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "charge_id", "displayName": "charge_id", "type": "string", "description": "Charge id", "required": false },
              { "id": "payment_intent_id", "displayName": "payment_intent_id", "type": "string", "description": "PaymentIntent id", "required": false },
              { "id": "amount", "displayName": "amount", "type": "string", "description": "Amount", "required": false },
              { "id": "reason", "displayName": "reason", "type": "string", "description": "Reason", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-get-balance",
        "name": "get_balance",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 1050],
        "parameters": {
          "name": "get_balance",
          "description": "Current Stripe account balance (available + pending per currency). No parameters.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": { "action": "get_balance" },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-bt",
        "name": "list_balance_transactions",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 1050],
        "parameters": {
          "name": "list_balance_transactions",
          "description": "List balance transactions (net amounts after Stripe fees — actual money movement). Parameters: limit, type (optional: charge, refund, payout, adjustment, fee, ...).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_balance_transactions",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}",
              "type": "={{ $fromAI('type', 'Transaction type filter', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false },
              { "id": "type", "displayName": "type", "type": "string", "description": "Type filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-payouts",
        "name": "list_payouts",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 1050],
        "parameters": {
          "name": "list_payouts",
          "description": "List payouts to your bank account. Parameters: limit (optional).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_payouts",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-list-disputes",
        "name": "list_disputes",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 1050],
        "parameters": {
          "name": "list_disputes",
          "description": "List chargebacks and disputes. Parameters: limit (optional).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_disputes",
              "limit": "={{ $fromAI('limit', 'Max', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Limit", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "t-create-pl",
        "name": "create_payment_link",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1000, 1050],
        "parameters": {
          "name": "create_payment_link",
          "description": "Create a reusable hosted checkout URL for a given Stripe price. Great for quick invoicing. Parameters: price_id (required, price_...), quantity (optional default 1).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_payment_link",
              "price_id": "={{ $fromAI('price_id', 'Price id price_...', 'string') }}",
              "quantity": "={{ $fromAI('quantity', 'Quantity (default 1)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action", "required": true },
              { "id": "price_id", "displayName": "price_id", "type": "string", "description": "Price id", "required": true },
              { "id": "quantity", "displayName": "quantity", "type": "string", "description": "Quantity", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "list_customers": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "search_customers": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_customer": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_customer": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "update_customer": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_payments": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_payment": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_charges": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_invoices": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_invoice": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_invoice": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_subscriptions": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_subscription": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "cancel_subscription": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_products": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_prices": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_refunds": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_refund": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_balance": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_balance_transactions": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_payouts": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_disputes": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "create_payment_link": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
