templates/openwebui-knowledge/workflow.json
{"format": "n8n-claw-template", "format_version": 1, "sub": {"name": "MCP Sub: OpenWebUI Knowledge", "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner"}, "nodes": [{"id": "sub-trigger", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [0, 0], "parameters": {"inputSource": "passthrough"}}, {"id": "sub-code", "name": "OpenWebUI Knowledge Logic", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [256, 0], "parameters": {"jsCode": "const input = $input.first().json;\nconst action = input.action || 'list_knowledge';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\nasync function getCred(key) {\n  const res = await helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.openwebui-knowledge&cred_key=eq.' + key + '&select=cred_value',\n    headers: pgHeaders\n  });\n  return (res && res.length > 0) ? res[0].cred_value : null;\n}\n\nconst baseUrl = await getCred('openwebui_url');\nconst apiKey = await getCred('openwebui_api_key');\n\nif (!baseUrl || !apiKey) {\n  return [{ json: { error: 'OpenWebUI credentials not configured. Use add_credential to set openwebui_url and openwebui_api_key.' } }];\n}\n\nconst apiBase = baseUrl.replace(/\\/$/, '') + '/api/v1';\nconst authHeaders = {\n  'Authorization': 'Bearer ' + apiKey,\n  'Content-Type': 'application/json'\n};\n\nasync function apiRequest(method, path, body) {\n  const opts = {\n    method,\n    url: apiBase + path,\n    headers: { ...authHeaders },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    json: false\n  };\n  if (body) opts.body = JSON.stringify(body);\n  const resp = await helpers.httpRequest(opts);\n  if (resp.statusCode >= 400) {\n    const errBody = typeof resp.body === 'string' ? resp.body : JSON.stringify(resp.body);\n    throw new Error('API returned ' + resp.statusCode + ': ' + errBody.substring(0, 500));\n  }\n  return typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n}\n\nfunction formatSize(bytes) {\n  if (!bytes || bytes === 0) return '0 B';\n  const n = Number(bytes);\n  if (n < 1024) return n + ' B';\n  if (n < 1024 * 1024) return (n / 1024).toFixed(1) + ' KB';\n  if (n < 1024 * 1024 * 1024) return (n / (1024 * 1024)).toFixed(1) + ' MB';\n  return (n / (1024 * 1024 * 1024)).toFixed(1) + ' GB';\n}\n\n// === list_knowledge ===\nif (action === 'list_knowledge') {\n  try {\n    const raw = await apiRequest('GET', '/knowledge/');\n    const collections = Array.isArray(raw) ? raw : (raw && raw.items ? raw.items : (raw && raw.data ? raw.data : []));\n    if (collections.length === 0) {\n      return [{ json: { result: 'No knowledge collections found.' } }];\n    }\n    let result = 'Knowledge Collections (' + collections.length + '):\\n\\n';\n    for (const c of collections) {\n      const fileCount = (c.files || c.data?.file_ids || []).length;\n      result += '- ' + (c.name || 'Unnamed') + '\\n';\n      result += '  ID: ' + c.id + '\\n';\n      if (c.description) result += '  Description: ' + c.description + '\\n';\n      result += '  Files: ' + fileCount + '\\n\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list knowledge collections: ' + err.message } }];\n  }\n\n// === create_knowledge ===\n} else if (action === 'create_knowledge') {\n  const name = input.name;\n  if (!name) return [{ json: { error: 'Parameter \"name\" is required.' } }];\n  try {\n    const body = { name };\n    if (input.description) body.description = input.description;\n    const created = await apiRequest('POST', '/knowledge/create', body);\n    return [{ json: { result: 'Knowledge collection created: ' + created.name + ' (ID: ' + created.id + ')' } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create knowledge collection: ' + err.message } }];\n  }\n\n// === get_knowledge ===\n} else if (action === 'get_knowledge') {\n  const id = input.knowledge_id;\n  if (!id) return [{ json: { error: 'Parameter \"knowledge_id\" is required.' } }];\n  try {\n    const k = await apiRequest('GET', '/knowledge/' + encodeURIComponent(id));\n    let result = 'Knowledge Collection: ' + (k.name || 'Unnamed') + '\\n';\n    result += 'ID: ' + k.id + '\\n';\n    if (k.description) result += 'Description: ' + k.description + '\\n';\n    // GET /knowledge/{id} returns files:null — fetch files separately and filter by collection_name\n    let files = [];\n    if (Array.isArray(k.files) && k.files.length > 0) {\n      files = k.files;\n    } else {\n      try {\n        const allFiles = await apiRequest('GET', '/files/');\n        const fileList = Array.isArray(allFiles) ? allFiles : (allFiles && allFiles.items ? allFiles.items : []);\n        files = fileList.filter(f => f.meta && f.meta.collection_name === id);\n      } catch(e) { /* ignore — just show no files */ }\n    }\n    if (files.length === 0) {\n      result += 'Files: none\\n';\n    } else {\n      result += 'Files (' + files.length + '):\\n';\n      for (const f of files) {\n        const size = f.meta?.size ? formatSize(f.meta.size) : 'unknown size';\n        result += '  - ' + (f.filename || f.meta?.name || 'unnamed') + ' (' + size + ')\\n';\n        result += '    File ID: ' + f.id + '\\n';\n      }\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to get knowledge collection: ' + err.message } }];\n  }\n\n// === update_knowledge ===\n} else if (action === 'update_knowledge') {\n  const id = input.knowledge_id;\n  if (!id) return [{ json: { error: 'Parameter \"knowledge_id\" is required.' } }];\n  const updates = {};\n  if (input.name) updates.name = input.name;\n  if (input.description !== undefined && input.description !== '') updates.description = input.description;\n  if (Object.keys(updates).length === 0) {\n    return [{ json: { error: 'Provide at least one of: name, description.' } }];\n  }\n  try {\n    const updated = await apiRequest('POST', '/knowledge/' + encodeURIComponent(id) + '/update', updates);\n    return [{ json: { result: 'Knowledge collection updated: ' + (updated.name || id) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to update knowledge collection: ' + err.message } }];\n  }\n\n// === delete_knowledge ===\n} else if (action === 'delete_knowledge') {\n  const id = input.knowledge_id;\n  if (!id) return [{ json: { error: 'Parameter \"knowledge_id\" is required.' } }];\n  try {\n    await apiRequest('DELETE', '/knowledge/' + encodeURIComponent(id) + '/delete');\n    return [{ json: { result: 'Knowledge collection deleted: ' + id } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to delete knowledge collection: ' + err.message } }];\n  }\n\n// === list_files ===\n} else if (action === 'list_files') {\n  try {\n    const rawFiles = await apiRequest('GET', '/files/');\n    const files = Array.isArray(rawFiles) ? rawFiles : (rawFiles && rawFiles.data ? rawFiles.data : []);\n    if (files.length === 0) {\n      return [{ json: { result: 'No files found.' } }];\n    }\n    let result = 'Files (' + files.length + '):\\n\\n';\n    for (const f of files) {\n      const size = f.meta?.size ? formatSize(f.meta.size) : 'unknown size';\n      const name = f.filename || f.meta?.name || 'unnamed';\n      result += '- ' + name + ' (' + size + ')\\n';\n      result += '  ID: ' + f.id + '\\n';\n      if (f.meta?.content_type) result += '  Type: ' + f.meta.content_type + '\\n';\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list files: ' + err.message } }];\n  }\n\n// === upload_file ===\n} else if (action === 'upload_file') {\n  const knowledgeId = input.knowledge_id;\n  const url = input.url;\n  const filename = input.filename;\n  if (!knowledgeId || !url || !filename) {\n    return [{ json: { error: 'Parameters required: knowledge_id, url, filename.' } }];\n  }\n  try {\n    // Step 1: Download file from URL\n    const dlResp = await helpers.httpRequest({\n      method: 'GET',\n      url: url,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n      encoding: 'arraybuffer'\n    });\n    if (dlResp.statusCode >= 400) {\n      return [{ json: { error: 'Failed to download from URL. Status: ' + dlResp.statusCode } }];\n    }\n    const fileBuffer = Buffer.from(dlResp.body);\n\n    // Step 2: Upload to OpenWebUI as multipart/form-data\n    const boundary = '----n8nFormBoundary' + Date.now();\n    const ct = (dlResp.headers && (dlResp.headers['content-type'] || '')) || 'application/octet-stream';\n    const parts = [];\n    parts.push('--' + boundary + '\\r\\n');\n    parts.push('Content-Disposition: form-data; name=\"file\"; filename=\"' + filename.replace(/\"/g, '\\\\\"') + '\"\\r\\n');\n    parts.push('Content-Type: ' + ct + '\\r\\n\\r\\n');\n    const header = Buffer.from(parts.join(''), 'utf-8');\n    const footer = Buffer.from('\\r\\n--' + boundary + '--\\r\\n', 'utf-8');\n    const multipartBody = Buffer.concat([header, fileBuffer, footer]);\n\n    const uploadResp = await helpers.httpRequest({\n      method: 'POST',\n      url: apiBase + '/files/',\n      headers: {\n        'Authorization': 'Bearer ' + apiKey,\n        'Content-Type': 'multipart/form-data; boundary=' + boundary\n      },\n      body: multipartBody,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n      encoding: 'arraybuffer'\n    });\n    if (uploadResp.statusCode >= 400) {\n      const errText = Buffer.from(uploadResp.body).toString('utf-8').substring(0, 500);\n      return [{ json: { error: 'Failed to upload file to OpenWebUI. Status: ' + uploadResp.statusCode + ' Body: ' + errText } }];\n    }\n    const uploadData = JSON.parse(Buffer.from(uploadResp.body).toString('utf-8'));\n    const fileId = uploadData.id;\n    if (!fileId) {\n      return [{ json: { error: 'Upload succeeded but no file ID returned. Response: ' + JSON.stringify(uploadData).substring(0, 300) } }];\n    }\n\n    // Step 3: Add file to knowledge collection\n    await apiRequest('POST', '/knowledge/' + encodeURIComponent(knowledgeId) + '/file/add', { file_id: fileId });\n    return [{ json: { result: 'File uploaded and added to knowledge collection.\\nFilename: ' + filename + '\\nFile ID: ' + fileId + '\\nSize: ' + formatSize(fileBuffer.length) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to upload file: ' + err.message } }];\n  }\n\n// === ingest_web_url ===\n} else if (action === 'ingest_web_url') {\n  const knowledgeId = input.knowledge_id;\n  const url = input.url;\n  if (!knowledgeId || !url) {\n    return [{ json: { error: 'Parameters required: knowledge_id, url.' } }];\n  }\n  try {\n    // Process web URL with collection_name = knowledge ID so content is indexed for this collection's RAG\n    const processed = await apiRequest('POST', '/retrieval/process/web', { url, collection_name: knowledgeId });\n    if (!processed.status) {\n      const detail = processed.detail || JSON.stringify(processed).substring(0, 300);\n      return [{ json: { error: 'Failed to process web URL: ' + detail } }];\n    }\n    return [{ json: { result: 'Web page ingested into knowledge collection for RAG.\\nURL: ' + url + '\\nCollection: ' + knowledgeId + '\\nNote: Content is indexed for retrieval. It may not appear as a file in the collection list.' } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to ingest web URL: ' + err.message } }];\n  }\n\n// === remove_file ===\n} else if (action === 'remove_file') {\n  const knowledgeId = input.knowledge_id;\n  const fileId = input.file_id;\n  if (!knowledgeId || !fileId) {\n    return [{ json: { error: 'Parameters required: knowledge_id, file_id.' } }];\n  }\n  try {\n    // Step 1: Remove file from knowledge collection\n    await apiRequest('POST', '/knowledge/' + encodeURIComponent(knowledgeId) + '/file/remove', { file_id: fileId });\n    // Step 2: Delete the file itself\n    try {\n      await apiRequest('DELETE', '/files/' + encodeURIComponent(fileId));\n    } catch (delErr) {\n      return [{ json: { result: 'File removed from knowledge collection but could not delete the file itself: ' + delErr.message } }];\n    }\n    return [{ json: { result: 'File removed from knowledge collection and deleted.\\nFile ID: ' + fileId } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to remove file: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Valid actions: list_knowledge, create_knowledge, get_knowledge, update_knowledge, delete_knowledge, list_files, upload_file, ingest_web_url, remove_file.' } }];\n}\n"}}], "connections": {"Execute Workflow Trigger": {"main": [[{"node": "OpenWebUI Knowledge Logic", "type": "main", "index": 0}]]}}}, "server": {"name": "MCP: OpenWebUI Knowledge", "settings": {"executionOrder": "v1"}, "nodes": [{"id": "mcp-trigger", "name": "MCP Server Trigger", "type": "@n8n/n8n-nodes-langchain.mcpTrigger", "typeVersion": 2, "position": [0, 0], "parameters": {"path": "openwebui-knowledge"}}, {"id": "tool-list-knowledge", "name": "list_knowledge", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [0, 300], "parameters": {"name": "list_knowledge", "description": "List all knowledge collections in OpenWebUI with their IDs, names, descriptions, and file counts.", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "list_knowledge"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-create-knowledge", "name": "create_knowledge", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [300, 300], "parameters": {"name": "create_knowledge", "description": "Create a new knowledge collection in OpenWebUI. Parameters: name (collection name), description (optional description)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "create_knowledge", "name": "={{ $fromAI('name', 'Name for the knowledge collection', 'string') }}", "description": "={{ $fromAI('description', 'Optional description', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "name", "displayName": "name", "type": "string", "description": "Collection name", "required": true}, {"id": "description", "displayName": "description", "type": "string", "description": "Optional description", "required": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-get-knowledge", "name": "get_knowledge", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [600, 300], "parameters": {"name": "get_knowledge", "description": "Get details of a knowledge collection including its files. Parameters: knowledge_id (collection ID)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "get_knowledge", "knowledge_id": "={{ $fromAI('knowledge_id', 'Knowledge collection ID', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "knowledge_id", "displayName": "knowledge_id", "type": "string", "description": "Knowledge collection ID", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-update-knowledge", "name": "update_knowledge", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [900, 300], "parameters": {"name": "update_knowledge", "description": "Update name or description of a knowledge collection. Parameters: knowledge_id (collection ID), name (new name, optional), description (new description, optional)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "update_knowledge", "knowledge_id": "={{ $fromAI('knowledge_id', 'Knowledge collection ID', 'string') }}", "name": "={{ $fromAI('name', 'New name (optional)', 'string') }}", "description": "={{ $fromAI('description', 'New description (optional)', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "knowledge_id", "displayName": "knowledge_id", "type": "string", "description": "Knowledge collection ID", "required": true}, {"id": "name", "displayName": "name", "type": "string", "description": "New name", "required": false}, {"id": "description", "displayName": "description", "type": "string", "description": "New description", "required": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-delete-knowledge", "name": "delete_knowledge", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [1200, 300], "parameters": {"name": "delete_knowledge", "description": "Delete a knowledge collection from OpenWebUI. Parameters: knowledge_id (collection ID)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "delete_knowledge", "knowledge_id": "={{ $fromAI('knowledge_id', 'Knowledge collection ID to delete', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "knowledge_id", "displayName": "knowledge_id", "type": "string", "description": "Knowledge collection ID", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-list-files", "name": "list_files", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [1500, 300], "parameters": {"name": "list_files", "description": "List all uploaded files in OpenWebUI with their IDs, names, sizes, and types.", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "list_files"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-upload-file", "name": "upload_file", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [1800, 300], "parameters": {"name": "upload_file", "description": "Download a file from a URL and upload it into an OpenWebUI knowledge collection. Parameters: knowledge_id (collection ID), url (source URL to download), filename (name for the file, e.g. report.pdf)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "upload_file", "knowledge_id": "={{ $fromAI('knowledge_id', 'Knowledge collection ID', 'string') }}", "url": "={{ $fromAI('url', 'Source URL to download the file from', 'string') }}", "filename": "={{ $fromAI('filename', 'Filename for the uploaded file, e.g. report.pdf', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "knowledge_id", "displayName": "knowledge_id", "type": "string", "description": "Knowledge collection ID", "required": true}, {"id": "url", "displayName": "url", "type": "string", "description": "Source URL", "required": true}, {"id": "filename", "displayName": "filename", "type": "string", "description": "Filename", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-ingest-web-url", "name": "ingest_web_url", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [2100, 300], "parameters": {"name": "ingest_web_url", "description": "Fetch a web page, extract its content, and add it to an OpenWebUI knowledge collection for RAG. Parameters: knowledge_id (collection ID), url (web page URL to ingest)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "ingest_web_url", "knowledge_id": "={{ $fromAI('knowledge_id', 'Knowledge collection ID', 'string') }}", "url": "={{ $fromAI('url', 'Web page URL to ingest', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "knowledge_id", "displayName": "knowledge_id", "type": "string", "description": "Knowledge collection ID", "required": true}, {"id": "url", "displayName": "url", "type": "string", "description": "Web page URL", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}, {"id": "tool-remove-file", "name": "remove_file", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.2, "position": [2400, 300], "parameters": {"name": "remove_file", "description": "Remove a file from an OpenWebUI knowledge collection and delete it. Parameters: knowledge_id (collection ID), file_id (file ID to remove)", "workflowId": {"__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "remove_file", "knowledge_id": "={{ $fromAI('knowledge_id', 'Knowledge collection ID', 'string') }}", "file_id": "={{ $fromAI('file_id', 'File ID to remove', 'string') }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true}, {"id": "knowledge_id", "displayName": "knowledge_id", "type": "string", "description": "Knowledge collection ID", "required": true}, {"id": "file_id", "displayName": "file_id", "type": "string", "description": "File ID", "required": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}}}], "connections": {"list_knowledge": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "create_knowledge": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "get_knowledge": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "update_knowledge": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "delete_knowledge": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "list_files": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "upload_file": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "ingest_web_url": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}, "remove_file": {"ai_tool": [[{"node": "MCP Server Trigger", "type": "ai_tool", "index": 0}]]}}}}