templates/caldav-calendar/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: CalDAV Calendar",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "CalDAV Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'list_calendars';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\nasync function getCred(key) {\n  const res = await helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.caldav-calendar&cred_key=eq.' + key + '&select=cred_value',\n    headers: pgHeaders\n  });\n  return (res && res.length > 0) ? res[0].cred_value : null;\n}\n\nconst baseUrl = await getCred('caldav_url');\nconst username = await getCred('caldav_username');\nconst password = await getCred('caldav_password');\n\nif (!baseUrl || !username || !password) {\n  return [{ json: { error: 'CalDAV credentials not configured. Use add_credential to set caldav_url, caldav_username, and caldav_password.' } }];\n}\n\nconst auth = 'Basic ' + Buffer.from(username + ':' + password).toString('base64');\nconst calBase = baseUrl.replace(/\\/$/, '') + '/calendars/' + username + '/';\n\nasync function davRequest(method, url, body, extraHeaders) {\n  const opts = {\n    method,\n    url,\n    headers: { 'Authorization': auth, ...extraHeaders },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    encoding: 'utf-8',\n    json: false\n  };\n  if (body) opts.body = body;\n  return await helpers.httpRequest(opts);\n}\n\nfunction extractBetween(xml, startTag, endTag) {\n  const results = [];\n  let pos = 0;\n  while (true) {\n    const s = xml.indexOf(startTag, pos);\n    if (s === -1) break;\n    const e = xml.indexOf(endTag, s + startTag.length);\n    if (e === -1) break;\n    results.push(xml.substring(s + startTag.length, e));\n    pos = e + endTag.length;\n  }\n  return results;\n}\n\nfunction extractTagContent(xml, tag) {\n  const patterns = [tag, tag.replace(':', '\\\\:')];\n  for (const p of patterns) {\n    const re = new RegExp('<' + p + '[^>]*>([\\\\s\\\\S]*?)</' + p + '>', 'g');\n    const matches = [];\n    let m;\n    while ((m = re.exec(xml)) !== null) matches.push(m[1].trim());\n    if (matches.length > 0) return matches;\n  }\n  return [];\n}\n\nfunction parseICSEvents(icsText) {\n  const events = [];\n  const blocks = extractBetween(icsText, 'BEGIN:VEVENT', 'END:VEVENT');\n  for (const block of blocks) {\n    const ev = {};\n    const lines = block.replace(/\\r\\n /g, '').split(/\\r?\\n/);\n    for (const line of lines) {\n      const idx = line.indexOf(':');\n      if (idx === -1) continue;\n      let key = line.substring(0, idx);\n      const val = line.substring(idx + 1);\n      if (key.includes(';')) key = key.substring(0, key.indexOf(';'));\n      if (key === 'UID') ev.uid = val;\n      if (key === 'SUMMARY') ev.summary = val.replace(/\\\\,/g, ',').replace(/\\\\n/g, '\\n');\n      if (key === 'DESCRIPTION') ev.description = val.replace(/\\\\,/g, ',').replace(/\\\\n/g, '\\n');\n      if (key === 'LOCATION') ev.location = val.replace(/\\\\,/g, ',');\n      if (key === 'DTSTART') ev.start = formatICSDate(val);\n      if (key === 'DTEND') ev.end = formatICSDate(val);\n      if (key === 'STATUS') ev.status = val;\n    }\n    if (ev.uid || ev.summary) events.push(ev);\n  }\n  return events;\n}\n\nfunction formatICSDate(val) {\n  if (!val) return val;\n  const clean = val.replace('Z', '');\n  if (clean.length === 8) return clean.substring(0, 4) + '-' + clean.substring(4, 6) + '-' + clean.substring(6, 8);\n  if (clean.length >= 15) return clean.substring(0, 4) + '-' + clean.substring(4, 6) + '-' + clean.substring(6, 8) + 'T' + clean.substring(9, 11) + ':' + clean.substring(11, 13) + ':' + clean.substring(13, 15) + (val.endsWith('Z') ? 'Z' : '');\n  return val;\n}\n\nfunction toICSDate(iso) {\n  if (!iso) return '';\n  return iso.replace(/[-:]/g, '').replace(/\\.\\d+/, '').replace(/Z$/, '') + 'Z';\n}\n\nfunction buildICS(uid, summary, dtstart, dtend, description, location) {\n  const now = new Date().toISOString().replace(/[-:]/g, '').replace(/\\.\\d+/, '');\n  const lines = [\n    'BEGIN:VCALENDAR', 'VERSION:2.0', 'PRODID:-//n8n-claw//CalDAV//EN',\n    'BEGIN:VEVENT',\n    'UID:' + uid,\n    'DTSTAMP:' + now,\n    'DTSTART:' + toICSDate(dtstart),\n    'DTEND:' + toICSDate(dtend),\n    'SUMMARY:' + (summary || '').replace(/,/g, '\\\\,'),\n  ];\n  if (description) lines.push('DESCRIPTION:' + description.replace(/,/g, '\\\\,').replace(/\\n/g, '\\\\n'));\n  if (location) lines.push('LOCATION:' + location.replace(/,/g, '\\\\,'));\n  lines.push('END:VEVENT', 'END:VCALENDAR');\n  return lines.join('\\r\\n');\n}\n\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n// === list_calendars ===\nif (action === 'list_calendars') {\n  try {\n    const resp = await davRequest('PROPFIND', calBase, \n      '<?xml version=\"1.0\" encoding=\"utf-8\"?><d:propfind xmlns:d=\"DAV:\" xmlns:cs=\"http://calendarserver.org/ns/\" xmlns:c=\"urn:ietf:params:xml:ns:caldav\"><d:prop><d:displayname/><d:resourcetype/><cs:getctag/></d:prop></d:propfind>',\n      { 'Depth': '1', 'Content-Type': 'application/xml; charset=utf-8' }\n    );\n    const body = resp.body || '';\n    const hrefs = extractTagContent(body, 'd:href');\n    const names = extractTagContent(body, 'd:displayname');\n    const calendars = [];\n    for (let i = 0; i < hrefs.length; i++) {\n      const href = hrefs[i];\n      if (href === calBase.replace(/https?:\\/\\/[^/]+/, '') || !body.includes('<cal:calendar') && !body.includes('<c:calendar') && i === 0) continue;\n      const parts = href.replace(/\\/$/, '').split('/');\n      const slug = parts[parts.length - 1];\n      if (slug === username) continue;\n      calendars.push({ name: names[i] || slug, id: slug });\n    }\n    if (calendars.length === 0) {\n      return [{ json: { result: 'No calendars found.' } }];\n    }\n    let result = 'Calendars:\\n\\n';\n    for (const c of calendars) {\n      result += '- ' + c.name + ' (ID: ' + c.id + ')\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list calendars: ' + err.message } }];\n  }\n\n// === list_events ===\n} else if (action === 'list_events') {\n  const calendar = input.calendar;\n  if (!calendar) return [{ json: { error: 'Parameter \"calendar\" is required (calendar ID from list_calendars).' } }];\n\n  try {\n    let xmlBody = '<?xml version=\"1.0\" encoding=\"utf-8\"?><c:calendar-query xmlns:d=\"DAV:\" xmlns:c=\"urn:ietf:params:xml:ns:caldav\"><d:prop><d:getetag/><c:calendar-data/></d:prop><c:filter><c:comp-filter name=\"VCALENDAR\"><c:comp-filter name=\"VEVENT\">';\n    if (input.start || input.end) {\n      const start = input.start ? toICSDate(input.start) : '19700101T000000Z';\n      const end = input.end ? toICSDate(input.end) : '20991231T235959Z';\n      xmlBody += '<c:time-range start=\"' + start + '\" end=\"' + end + '\"/>';\n    }\n    xmlBody += '</c:comp-filter></c:comp-filter></c:filter></c:calendar-query>';\n\n    const resp = await davRequest('REPORT', calBase + calendar + '/', xmlBody,\n      { 'Depth': '1', 'Content-Type': 'application/xml; charset=utf-8' }\n    );\n    const body = resp.body || '';\n    const calDataBlocks = extractTagContent(body, 'cal:calendar-data').concat(extractTagContent(body, 'c:calendar-data')).concat(extractTagContent(body, 'C:calendar-data'));\n    const allEvents = [];\n    for (const block of calDataBlocks) {\n      const evts = parseICSEvents(block);\n      allEvents.push(...evts);\n    }\n\n    if (allEvents.length === 0) {\n      return [{ json: { result: 'No events found in calendar \"' + calendar + '\".' + (input.start ? ' (range: ' + input.start + ' to ' + (input.end || 'open') + ')' : '') } }];\n    }\n\n    allEvents.sort((a, b) => (a.start || '').localeCompare(b.start || ''));\n\n    let result = 'Events in \"' + calendar + '\" (' + allEvents.length + '):\\n\\n';\n    for (const e of allEvents.slice(0, 20)) {\n      result += '- ' + (e.start || '?') + (e.end ? ' → ' + e.end : '') + ': ' + (e.summary || 'No title');\n      if (e.location) result += ' @ ' + e.location;\n      result += '\\n  UID: ' + (e.uid || '?') + '\\n';\n    }\n    if (allEvents.length > 20) result += '(' + (allEvents.length - 20) + ' more events not shown)';\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to list events: ' + err.message } }];\n  }\n\n// === create_event ===\n} else if (action === 'create_event') {\n  const calendar = input.calendar;\n  const title = input.title;\n  const start = input.start;\n  const end = input.end;\n  if (!calendar || !title || !start || !end) {\n    return [{ json: { error: 'Parameters required: calendar, title, start (ISO 8601), end (ISO 8601).' } }];\n  }\n\n  try {\n    const uid = uuid() + '@n8n-claw';\n    const ics = buildICS(uid, title, start, end, input.description, input.location);\n    const eventUrl = calBase + calendar + '/' + uid + '.ics';\n    const resp = await davRequest('PUT', eventUrl, ics, {\n      'Content-Type': 'text/calendar; charset=utf-8',\n      'If-None-Match': '*'\n    });\n    if (resp.statusCode >= 200 && resp.statusCode < 300) {\n      return [{ json: { result: 'Event created: ' + title + ' (' + start + ' → ' + end + ')\\nUID: ' + uid } }];\n    }\n    return [{ json: { error: 'Failed to create event. Status: ' + resp.statusCode + ' Body: ' + (resp.body || '').substring(0, 300) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to create event: ' + err.message } }];\n  }\n\n// === update_event ===\n} else if (action === 'update_event') {\n  const calendar = input.calendar;\n  const eventUid = input.event_uid;\n  if (!calendar || !eventUid) {\n    return [{ json: { error: 'Parameters required: calendar, event_uid. Optional: title, start, end, description, location.' } }];\n  }\n\n  try {\n    const cleanUid = eventUid.replace('.ics', '');\n    const eventUrl = calBase + calendar + '/' + cleanUid + '.ics';\n    const getResp = await davRequest('GET', eventUrl, null, {});\n    if (getResp.statusCode !== 200) {\n      return [{ json: { error: 'Event not found: ' + cleanUid + ' (Status: ' + getResp.statusCode + ')' } }];\n    }\n    const etag = getResp.headers && (getResp.headers['etag'] || getResp.headers['ETag']);\n    const existing = parseICSEvents(getResp.body || '');\n    if (existing.length === 0) {\n      return [{ json: { error: 'Could not parse existing event.' } }];\n    }\n    const ev = existing[0];\n    const newTitle = input.title || ev.summary || '';\n    const newStart = input.start || ev.start || '';\n    const newEnd = input.end || ev.end || '';\n    const newDesc = input.description !== undefined ? input.description : ev.description;\n    const newLoc = input.location !== undefined ? input.location : ev.location;\n    const ics = buildICS(cleanUid, newTitle, newStart, newEnd, newDesc, newLoc);\n    const putHeaders = { 'Content-Type': 'text/calendar; charset=utf-8' };\n    if (etag) putHeaders['If-Match'] = etag;\n    const putResp = await davRequest('PUT', eventUrl, ics, putHeaders);\n    if (putResp.statusCode >= 200 && putResp.statusCode < 300) {\n      return [{ json: { result: 'Event updated: ' + newTitle + ' (' + newStart + ' → ' + newEnd + ')' } }];\n    }\n    return [{ json: { error: 'Failed to update event. Status: ' + putResp.statusCode } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to update event: ' + err.message } }];\n  }\n\n// === delete_event ===\n} else if (action === 'delete_event') {\n  const calendar = input.calendar;\n  const eventUid = input.event_uid;\n  if (!calendar || !eventUid) {\n    return [{ json: { error: 'Parameters required: calendar, event_uid.' } }];\n  }\n\n  try {\n    const cleanUid = eventUid.replace('.ics', '');\n    const eventUrl = calBase + calendar + '/' + cleanUid + '.ics';\n    const resp = await davRequest('DELETE', eventUrl, null, {});\n    if (resp.statusCode >= 200 && resp.statusCode < 300) {\n      return [{ json: { result: 'Event deleted: ' + cleanUid } }];\n    }\n    return [{ json: { error: 'Failed to delete event. Status: ' + resp.statusCode + ' Body: ' + (resp.body || '').substring(0, 300) } }];\n  } catch (err) {\n    return [{ json: { error: 'Failed to delete event: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use list_calendars, list_events, create_event, update_event, or delete_event.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "CalDAV Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: CalDAV Calendar",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "caldav-calendar"
        }
      },
      {
        "id": "tool-list-calendars",
        "name": "list_calendars",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "list_calendars",
          "description": "List all available calendars on the CalDAV server. Returns calendar names and IDs.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_calendars"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-events",
        "name": "list_events",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [300, 300],
        "parameters": {
          "name": "list_events",
          "description": "List events from a calendar. Optionally filter by date range. Parameters: calendar (calendar ID from list_calendars), start (optional, ISO 8601 date like 2026-03-14T00:00:00Z), end (optional, ISO 8601 date)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_events",
              "calendar": "={{ $fromAI('calendar', 'Calendar ID from list_calendars', 'string') }}",
              "start": "={{ $fromAI('start', 'Start date filter ISO 8601', 'string') }}",
              "end": "={{ $fromAI('end', 'End date filter ISO 8601', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "calendar", "displayName": "calendar", "type": "string", "description": "Calendar ID", "required": true },
              { "id": "start", "displayName": "start", "type": "string", "description": "Start date ISO 8601", "required": false },
              { "id": "end", "displayName": "end", "type": "string", "description": "End date ISO 8601", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-create-event",
        "name": "create_event",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [600, 300],
        "parameters": {
          "name": "create_event",
          "description": "Create a new calendar event. Parameters: calendar (calendar ID), title (event title), start (ISO 8601 datetime), end (ISO 8601 datetime), description (optional), location (optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "create_event",
              "calendar": "={{ $fromAI('calendar', 'Calendar ID', 'string') }}",
              "title": "={{ $fromAI('title', 'Event title', 'string') }}",
              "start": "={{ $fromAI('start', 'Start datetime ISO 8601', 'string') }}",
              "end": "={{ $fromAI('end', 'End datetime ISO 8601', 'string') }}",
              "description": "={{ $fromAI('description', 'Event description', 'string') }}",
              "location": "={{ $fromAI('location', 'Event location', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "calendar", "displayName": "calendar", "type": "string", "description": "Calendar ID", "required": true },
              { "id": "title", "displayName": "title", "type": "string", "description": "Event title", "required": true },
              { "id": "start", "displayName": "start", "type": "string", "description": "Start datetime ISO 8601", "required": true },
              { "id": "end", "displayName": "end", "type": "string", "description": "End datetime ISO 8601", "required": true },
              { "id": "description", "displayName": "description", "type": "string", "description": "Event description", "required": false },
              { "id": "location", "displayName": "location", "type": "string", "description": "Event location", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-update-event",
        "name": "update_event",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [900, 300],
        "parameters": {
          "name": "update_event",
          "description": "Update an existing calendar event. Fetches the event first, merges changes, and saves. Parameters: calendar (calendar ID), event_uid (UID from list_events), title (optional), start (optional, ISO 8601), end (optional, ISO 8601), description (optional), location (optional)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "update_event",
              "calendar": "={{ $fromAI('calendar', 'Calendar ID', 'string') }}",
              "event_uid": "={{ $fromAI('event_uid', 'Event UID from list_events', 'string') }}",
              "title": "={{ $fromAI('title', 'New event title', 'string') }}",
              "start": "={{ $fromAI('start', 'New start datetime ISO 8601', 'string') }}",
              "end": "={{ $fromAI('end', 'New end datetime ISO 8601', 'string') }}",
              "description": "={{ $fromAI('description', 'New event description', 'string') }}",
              "location": "={{ $fromAI('location', 'New event location', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "calendar", "displayName": "calendar", "type": "string", "description": "Calendar ID", "required": true },
              { "id": "event_uid", "displayName": "event_uid", "type": "string", "description": "Event UID", "required": true },
              { "id": "title", "displayName": "title", "type": "string", "description": "New title", "required": false },
              { "id": "start", "displayName": "start", "type": "string", "description": "New start ISO 8601", "required": false },
              { "id": "end", "displayName": "end", "type": "string", "description": "New end ISO 8601", "required": false },
              { "id": "description", "displayName": "description", "type": "string", "description": "New description", "required": false },
              { "id": "location", "displayName": "location", "type": "string", "description": "New location", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-delete-event",
        "name": "delete_event",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1200, 300],
        "parameters": {
          "name": "delete_event",
          "description": "Delete a calendar event. Parameters: calendar (calendar ID), event_uid (UID from list_events)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "delete_event",
              "calendar": "={{ $fromAI('calendar', 'Calendar ID', 'string') }}",
              "event_uid": "={{ $fromAI('event_uid', 'Event UID to delete', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "calendar", "displayName": "calendar", "type": "string", "description": "Calendar ID", "required": true },
              { "id": "event_uid", "displayName": "event_uid", "type": "string", "description": "Event UID", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "list_calendars": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "list_events": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "create_event": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "update_event": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "delete_event": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      }
    }
  }
}
