templates/google-analytics/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Google Analytics",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": { "inputSource": "passthrough" }
      },
      {
        "id": "sub-code",
        "name": "Analytics Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'get_report';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'Content-Type': 'application/json'\n};\n\nasync function getGoogleToken() {\n  const creds = await helpers.httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.google-oauth&select=cred_key,cred_value',\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY }\n  });\n  const m = {};\n  for (const c of creds) m[c.cred_key] = c.cred_value;\n  if (!m.access_token || !m.refresh_token) throw new Error('Google OAuth not configured.');\n  if (new Date(m.token_expiry || 0) <= new Date(Date.now() + 5 * 60 * 1000)) {\n    const resp = await helpers.httpRequest({\n      method: 'POST', url: 'https://oauth2.googleapis.com/token',\n      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(m.refresh_token) + '&client_id=' + encodeURIComponent(m.client_id) + '&client_secret=' + encodeURIComponent(m.client_secret)\n    });\n    if (resp.error) throw new Error('Token refresh failed: ' + resp.error_description);\n    const newExpiry = new Date(Date.now() + (resp.expires_in - 60) * 1000).toISOString();\n    for (const [key, val] of [['access_token', resp.access_token], ['token_expiry', newExpiry]]) {\n      await helpers.httpRequest({ method: 'DELETE', url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.google-oauth&cred_key=eq.' + key, headers: { ...pgHeaders, 'Prefer': 'return=minimal' } });\n      await helpers.httpRequest({ method: 'POST', url: SUPABASE_URL + '/rest/v1/template_credentials', headers: { ...pgHeaders, 'Prefer': 'return=minimal' }, body: JSON.stringify({ template_id: 'google-oauth', cred_key: key, cred_value: val }) });\n    }\n    if (resp.refresh_token) {\n      await helpers.httpRequest({ method: 'DELETE', url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.google-oauth&cred_key=eq.refresh_token', headers: { ...pgHeaders, 'Prefer': 'return=minimal' } });\n      await helpers.httpRequest({ method: 'POST', url: SUPABASE_URL + '/rest/v1/template_credentials', headers: { ...pgHeaders, 'Prefer': 'return=minimal' }, body: JSON.stringify({ template_id: 'google-oauth', cred_key: 'refresh_token', cred_value: resp.refresh_token }) });\n    }\n    return resp.access_token;\n  }\n  return m.access_token;\n}\n\nlet accessToken;\ntry { accessToken = await getGoogleToken(); } catch(e) { return [{ json: { error: e.message } }]; }\n\nconst gHeaders = { 'Authorization': 'Bearer ' + accessToken, 'Content-Type': 'application/json' };\n\n// === get_report ===\nif (action === 'get_report') {\n  const propertyId = input.property_id;\n  const dateFrom = input.date_from;\n  const dateTo = input.date_to;\n  if (!propertyId || !dateFrom || !dateTo) return [{ json: { error: 'Parameters \"property_id\", \"date_from\" (YYYY-MM-DD), and \"date_to\" (YYYY-MM-DD) are required.' } }];\n\n  const metricsStr = input.metrics || 'sessions,activeUsers,screenPageViews';\n  const metrics = metricsStr.split(',').map(m => ({ name: m.trim() }));\n\n  const body = {\n    dateRanges: [{ startDate: dateFrom, endDate: dateTo }],\n    metrics\n  };\n\n  if (input.dimensions) {\n    body.dimensions = input.dimensions.split(',').map(d => ({ name: d.trim() }));\n  }\n\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: 'https://analyticsdata.googleapis.com/v1beta/properties/' + propertyId + ':runReport',\n      headers: gHeaders,\n      body: JSON.stringify(body)\n    });\n\n    if (!resp.rows || resp.rows.length === 0) return [{ json: { result: 'No data found for the given date range and metrics.' } }];\n\n    const dimHeaders = (resp.dimensionHeaders || []).map(h => h.name);\n    const metricHeaders = (resp.metricHeaders || []).map(h => h.name);\n\n    let result = 'GA4 Report for property ' + propertyId + ' (' + dateFrom + ' to ' + dateTo + '):\\n\\n';\n    result += '| ' + [...dimHeaders, ...metricHeaders].join(' | ') + ' |\\n';\n    result += '| ' + [...dimHeaders, ...metricHeaders].map(() => '---').join(' | ') + ' |\\n';\n\n    for (const row of resp.rows.slice(0, 50)) {\n      const dims = (row.dimensionValues || []).map(v => v.value);\n      const mets = (row.metricValues || []).map(v => v.value);\n      result += '| ' + [...dims, ...mets].join(' | ') + ' |\\n';\n    }\n\n    if (resp.rowCount > 50) result += '\\n... showing 50 of ' + resp.rowCount + ' rows.';\n    if (resp.totals && resp.totals.length > 0) {\n      result += '\\n\\nTotals: ' + resp.totals[0].metricValues.map((v, i) => metricHeaders[i] + '=' + v.value).join(', ');\n    }\n    return [{ json: { result } }];\n  } catch(e) { return [{ json: { error: 'GA4 report failed: ' + e.message } }]; }\n\n// === list_properties ===\n} else if (action === 'list_properties') {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: 'https://analyticsadmin.googleapis.com/v1beta/accountSummaries?pageSize=200',\n      headers: gHeaders\n    });\n\n    if (!resp.accountSummaries || resp.accountSummaries.length === 0) return [{ json: { result: 'No GA4 properties found.' } }];\n\n    let result = 'GA4 Properties:\\n\\n';\n    for (const acct of resp.accountSummaries) {\n      result += '**Account: ' + acct.displayName + '** (' + acct.account + ')\\n';\n      if (acct.propertySummaries) {\n        for (const p of acct.propertySummaries) {\n          const id = p.property.replace('properties/', '');\n          result += '  - ' + p.displayName + ' (Property ID: ' + id + ')\\n';\n        }\n      }\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch(e) { return [{ json: { error: 'Failed to list properties: ' + e.message } }]; }\n\n// === get_realtime_data ===\n} else if (action === 'get_realtime_data') {\n  const propertyId = input.property_id;\n  if (!propertyId) return [{ json: { error: 'Parameter \"property_id\" is required.' } }];\n\n  const metricsStr = input.metrics || 'activeUsers,screenPageViews';\n  const metrics = metricsStr.split(',').map(m => ({ name: m.trim() }));\n\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: 'https://analyticsdata.googleapis.com/v1beta/properties/' + propertyId + ':runRealtimeReport',\n      headers: gHeaders,\n      body: JSON.stringify({\n        metrics,\n        dimensions: [{ name: 'unifiedScreenName' }]\n      })\n    });\n\n    if (!resp.rows || resp.rows.length === 0) return [{ json: { result: 'No realtime data available.' } }];\n\n    let result = 'Realtime Data for property ' + propertyId + ':\\n\\n';\n    const metricHeaders = (resp.metricHeaders || []).map(h => h.name);\n\n    if (resp.totals && resp.totals.length > 0) {\n      result += 'Totals: ' + resp.totals[0].metricValues.map((v, i) => metricHeaders[i] + '=' + v.value).join(', ') + '\\n\\n';\n    }\n\n    result += 'By Page:\\n';\n    for (const row of resp.rows.slice(0, 20)) {\n      const page = (row.dimensionValues || [{}])[0].value || '(unknown)';\n      const vals = (row.metricValues || []).map(v => v.value);\n      result += '- ' + page + ': ' + vals.map((v, i) => metricHeaders[i] + '=' + v).join(', ') + '\\n';\n    }\n    return [{ json: { result } }];\n  } catch(e) { return [{ json: { error: 'Realtime report failed: ' + e.message } }]; }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Available: get_report, list_properties, get_realtime_data.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Analytics Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Google Analytics",
    "settings": { "executionOrder": "v1" },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": { "path": "google-analytics" }
      },
      {
        "id": "tool-get-report",
        "name": "get_report",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "get_report",
          "description": "Run a GA4 analytics report. Parameters: property_id (required), date_from (YYYY-MM-DD, required), date_to (YYYY-MM-DD, required), metrics (comma-separated, default: sessions,activeUsers,screenPageViews), dimensions (comma-separated, optional, e.g. date,country)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_report",
              "property_id": "={{ $fromAI('property_id', 'GA4 property ID', 'string') }}",
              "date_from": "={{ $fromAI('date_from', 'Start date YYYY-MM-DD', 'string') }}",
              "date_to": "={{ $fromAI('date_to', 'End date YYYY-MM-DD', 'string') }}",
              "metrics": "={{ $fromAI('metrics', 'Comma-separated metrics', 'string') }}",
              "dimensions": "={{ $fromAI('dimensions', 'Comma-separated dimensions (optional)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "required": true },
              { "id": "property_id", "displayName": "property_id", "type": "string", "required": true },
              { "id": "date_from", "displayName": "date_from", "type": "string", "required": true },
              { "id": "date_to", "displayName": "date_to", "type": "string", "required": true },
              { "id": "metrics", "displayName": "metrics", "type": "string", "required": false },
              { "id": "dimensions", "displayName": "dimensions", "type": "string", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-properties",
        "name": "list_properties",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [300, 300],
        "parameters": {
          "name": "list_properties",
          "description": "List all GA4 properties accessible to the user.",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": { "action": "list_properties" },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-realtime",
        "name": "get_realtime_data",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [600, 300],
        "parameters": {
          "name": "get_realtime_data",
          "description": "Get realtime analytics data. Parameters: property_id (required), metrics (comma-separated, default: activeUsers,screenPageViews)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_realtime_data",
              "property_id": "={{ $fromAI('property_id', 'GA4 property ID', 'string') }}",
              "metrics": "={{ $fromAI('metrics', 'Comma-separated metrics', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "required": true },
              { "id": "property_id", "displayName": "property_id", "type": "string", "required": true },
              { "id": "metrics", "displayName": "metrics", "type": "string", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "get_report": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_properties": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_realtime_data": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
