templates/sbb/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: SBB",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "SBB Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'search_station';\nconst BASE = 'https://transport.opendata.ch/v1';\nconst HEADERS = { 'Accept': 'application/json', 'User-Agent': 'n8n-claw-sbb/1.0' };\n\nasync function apiGet(path) {\n  return await helpers.httpRequest({\n    method: 'GET',\n    url: BASE + path,\n    headers: HEADERS,\n    timeout: 20000\n  });\n}\n\nfunction fmtTime(iso) {\n  if (!iso) return '?';\n  return iso.substring(11, 16);\n}\n\n// SBB delay is in MINUTES (not seconds like db-rest)\nfunction fmtDelay(delayMin) {\n  if (!delayMin && delayMin !== 0) return '';\n  const m = parseInt(delayMin);\n  if (isNaN(m) || m <= 0) return '';\n  return ' +' + m + 'min';\n}\n\n// Parse SBB duration format \"00d00:56:00\" -> \"56min\" / \"1h4min\"\nfunction parseSbbDuration(str) {\n  if (!str) return '?';\n  const m = /^(\\d+)d(\\d+):(\\d+):(\\d+)$/.exec(str);\n  if (!m) return str;\n  const days = parseInt(m[1]);\n  const hours = parseInt(m[2]);\n  const mins = parseInt(m[3]);\n  const totalH = days * 24 + hours;\n  if (totalH > 0) return totalH + 'h' + (mins > 0 ? mins + 'min' : '');\n  return mins + 'min';\n}\n\nfunction platformStr(p) {\n  return p || '?';\n}\n\n// === search_station ===\nif (action === 'search_station') {\n  const query = input.query;\n  if (!query) return [{ json: { error: 'Parameter \"query\" is required.' } }];\n\n  try {\n    const res = await apiGet('/locations?query=' + encodeURIComponent(query) + '&type=station');\n    const stations = res.stations || [];\n    if (stations.length === 0) {\n      return [{ json: { result: 'No stations found for: ' + query } }];\n    }\n    let result = 'Stations for \"' + query + '\":\\n\\n';\n    for (const s of stations.slice(0, 5)) {\n      result += '- ' + s.name + ' (ID: ' + s.id + ')';\n      if (s.icon) result += ' [' + s.icon + ']';\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Station search failed: ' + err.message } }];\n  }\n\n// === get_departures ===\n} else if (action === 'get_departures') {\n  const station = input.station;\n  if (!station) return [{ json: { error: 'Parameter \"station\" is required (name or ID).' } }];\n\n  try {\n    const limit = parseInt(input.results) || 10;\n    const url = '/stationboard?station=' + encodeURIComponent(station) + '&limit=' + limit + '&type=departure';\n    const res = await apiGet(url);\n    const board = res.stationboard || [];\n    if (board.length === 0) {\n      return [{ json: { result: 'No departures found.' } }];\n    }\n\n    const stName = res.station?.name || station;\n    let result = 'Departures from ' + stName + ':\\n\\n';\n    for (const e of board) {\n      const time = fmtTime(e.stop?.departure);\n      const delay = fmtDelay(e.stop?.delay);\n      const cat = e.category || '';\n      const num = e.number || '';\n      const line = e.name || (cat + num) || '?';\n      const dir = e.to || '?';\n      const pl = platformStr(e.stop?.platform);\n      result += time + delay + ' | ' + line + ' → ' + dir + ' | Gl.' + pl + '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Departures failed: ' + err.message } }];\n  }\n\n// === get_arrivals ===\n} else if (action === 'get_arrivals') {\n  const station = input.station;\n  if (!station) return [{ json: { error: 'Parameter \"station\" is required (name or ID).' } }];\n\n  try {\n    const limit = parseInt(input.results) || 10;\n    const url = '/stationboard?station=' + encodeURIComponent(station) + '&limit=' + limit + '&type=arrival';\n    const res = await apiGet(url);\n    const board = res.stationboard || [];\n    if (board.length === 0) {\n      return [{ json: { result: 'No arrivals found.' } }];\n    }\n\n    const stName = res.station?.name || station;\n    let result = 'Arrivals at ' + stName + ':\\n\\n';\n    for (const e of board) {\n      const time = fmtTime(e.stop?.arrival || e.stop?.departure);\n      const delay = fmtDelay(e.stop?.delay);\n      const cat = e.category || '';\n      const num = e.number || '';\n      const line = e.name || (cat + num) || '?';\n      // SBB has no 'provenance' field → use first passList entry as origin\n      let from = '?';\n      if (Array.isArray(e.passList) && e.passList.length > 0) {\n        from = e.passList[0].station?.name || '?';\n      }\n      const pl = platformStr(e.stop?.platform);\n      result += time + delay + ' | ' + line + ' from ' + from + ' | Gl.' + pl + '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Arrivals failed: ' + err.message } }];\n  }\n\n// === search_journey ===\n} else if (action === 'search_journey') {\n  const from = input.from;\n  const to = input.to;\n  if (!from || !to) return [{ json: { error: 'Parameters \"from\" and \"to\" are required (station name or ID).' } }];\n\n  try {\n    const results = parseInt(input.results) || 3;\n    let url = '/connections?from=' + encodeURIComponent(from) + '&to=' + encodeURIComponent(to) + '&limit=' + results;\n    if (input.departure) {\n      const d = new Date(input.departure);\n      if (!isNaN(d.getTime())) {\n        url += '&date=' + d.toISOString().slice(0, 10);\n        url += '&time=' + d.toISOString().slice(11, 16);\n      }\n    }\n\n    const res = await apiGet(url);\n    const connections = res.connections || [];\n    if (connections.length === 0) {\n      return [{ json: { result: 'No connections found.' } }];\n    }\n\n    let result = 'Connections ' + from + ' → ' + to + ':\\n\\n';\n    for (let i = 0; i < connections.length; i++) {\n      const c = connections[i];\n      const dep = fmtTime(c.from?.departure);\n      const arr = fmtTime(c.to?.arrival);\n      const depDelay = fmtDelay(c.from?.delay);\n      const dur = parseSbbDuration(c.duration);\n      const transfers = c.transfers || 0;\n\n      result += (i + 1) + ') ' + dep + depDelay + ' → ' + arr + ' | ' + dur;\n      if (transfers > 0) result += ' | ' + transfers + 'x umsteigen';\n      result += '\\n';\n\n      const sections = c.sections || [];\n      for (const s of sections) {\n        if (s.walk) {\n          result += '   🚶 Walk';\n          if (s.walk.duration) result += ' (' + Math.round(s.walk.duration / 60) + 'min)';\n          result += '\\n';\n          continue;\n        }\n        if (!s.journey) continue;\n        const lDep = fmtTime(s.departure?.departure);\n        const lArr = fmtTime(s.arrival?.arrival);\n        const lDelay = fmtDelay(s.departure?.delay);\n        const jCat = s.journey.category || '';\n        const jNum = s.journey.number || '';\n        const line = s.journey.name || (jCat + jNum) || '?';\n        const orig = s.departure?.station?.name || '?';\n        const dest = s.arrival?.station?.name || '?';\n        const plDep = platformStr(s.departure?.platform);\n        const plArr = platformStr(s.arrival?.platform);\n        result += '   ' + lDep + lDelay + ' ' + orig + ' Gl.' + plDep + ' → ' + lArr + ' ' + dest + ' Gl.' + plArr + ' | ' + line + '\\n';\n      }\n      result += '\\n';\n    }\n    return [{ json: { result } }];\n  } catch (err) {\n    return [{ json: { error: 'Journey search failed: ' + err.message } }];\n  }\n\n} else {\n  return [{ json: { error: 'Unknown action: ' + action + '. Use search_station, get_departures, get_arrivals, or search_journey.' } }];\n}\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "SBB Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: SBB",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "sbb"
        }
      },
      {
        "id": "tool-search-station",
        "name": "search_station",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "search_station",
          "description": "Search for a Swiss train station by name (SBB/CFF/FFS). Returns station names and IDs. Parameter: query (station name to search for, e.g. 'Zürich HB')",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_station",
              "query": "={{ $fromAI('query', 'Station name to search for', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "query", "displayName": "query", "type": "string", "description": "Station name to search for", "required": true }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-departures",
        "name": "get_departures",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [300, 300],
        "parameters": {
          "name": "get_departures",
          "description": "Get upcoming departures from a Swiss train station (SBB). Accepts station name or ID. Parameters: station (e.g. 'Zürich HB'), results (optional, number of entries, default 10)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_departures",
              "station": "={{ $fromAI('station', 'Station name or ID', 'string') }}",
              "results": "={{ $fromAI('results', 'Number of departures (default 10)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "station", "displayName": "station", "type": "string", "description": "Station name or ID", "required": true },
              { "id": "results", "displayName": "results", "type": "string", "description": "Number of departures", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-arrivals",
        "name": "get_arrivals",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [600, 300],
        "parameters": {
          "name": "get_arrivals",
          "description": "Get upcoming arrivals at a Swiss train station (SBB). Accepts station name or ID. Parameters: station (e.g. 'Bern'), results (optional, number of entries, default 10)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_arrivals",
              "station": "={{ $fromAI('station', 'Station name or ID', 'string') }}",
              "results": "={{ $fromAI('results', 'Number of arrivals (default 10)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "station", "displayName": "station", "type": "string", "description": "Station name or ID", "required": true },
              { "id": "results", "displayName": "results", "type": "string", "description": "Number of arrivals", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-journey",
        "name": "search_journey",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [900, 300],
        "parameters": {
          "name": "search_journey",
          "description": "Search for Swiss train connections between two stations (SBB). Accepts station names or IDs. Parameters: from (origin, e.g. 'Zürich HB'), to (destination, e.g. 'Bern'), departure (optional, ISO 8601 datetime), results (optional, number of connections, default 3)",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "search_journey",
              "from": "={{ $fromAI('from', 'Origin station name or ID', 'string') }}",
              "to": "={{ $fromAI('to', 'Destination station name or ID', 'string') }}",
              "departure": "={{ $fromAI('departure', 'Departure datetime in ISO 8601 format', 'string') }}",
              "results": "={{ $fromAI('results', 'Number of connections to return (default 3)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "from", "displayName": "from", "type": "string", "description": "Origin station name or ID", "required": true },
              { "id": "to", "displayName": "to", "type": "string", "description": "Destination station name or ID", "required": true },
              { "id": "departure", "displayName": "departure", "type": "string", "description": "Departure datetime ISO 8601", "required": false },
              { "id": "results", "displayName": "results", "type": "string", "description": "Number of connections", "required": false }
            ],
            "attemptToConvertTypes": false, "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "search_station": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_departures": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "get_arrivals": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      },
      "search_journey": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      }
    }
  }
}
