templates/home-assistant/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Home Assistant",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "HA Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst action = input.action || 'list_entities';\n\nconst SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nconst pgHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY };\n\nconst allCreds = await helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/template_credentials?template_id=eq.home-assistant&select=cred_key,cred_value',\n  headers: pgHeaders\n});\nconst creds = {};\nfor (const c of (allCreds || [])) creds[c.cred_key] = c.cred_value;\n\nif (!creds.ha_url) return [{ json: { error: 'Home Assistant URL not configured. Use add_credential to set ha_url (e.g. https://abc.ui.nabu.casa).' } }];\nif (!creds.ha_token) return [{ json: { error: 'Home Assistant access token not configured. Use add_credential to set ha_token (Long-Lived Access Token from HA -> Profile -> Security).' } }];\n\nconst baseUrl = creds.ha_url.replace(/\\/+$/, '').replace(/\\/api$/, '');\nconst apiBase = baseUrl + '/api';\nconst haHeaders = {\n  'Authorization': 'Bearer ' + creds.ha_token,\n  'Content-Type': 'application/json'\n};\n\nfunction formatEntity(e) {\n  const tags = e.attributes || {};\n  let line = e.entity_id + ' = ' + e.state;\n  if (tags.friendly_name && tags.friendly_name !== e.entity_id) line += ' (' + tags.friendly_name + ')';\n  if (tags.unit_of_measurement) line += ' ' + tags.unit_of_measurement;\n  return line;\n}\n\n// === list_entities ===\nif (action === 'list_entities') {\n  try {\n    const states = await helpers.httpRequest({ method: 'GET', url: apiBase + '/states', headers: haHeaders });\n    const domain = input.domain ? String(input.domain).toLowerCase() : null;\n    const search = input.search ? String(input.search).toLowerCase() : null;\n    const limit = parseInt(input.limit) || 50;\n\n    let filtered = states;\n    if (domain) filtered = filtered.filter(e => e.entity_id.startsWith(domain + '.'));\n    if (search) filtered = filtered.filter(e => {\n      const fn = (e.attributes && e.attributes.friendly_name) || '';\n      return e.entity_id.toLowerCase().includes(search) || fn.toLowerCase().includes(search);\n    });\n\n    if (filtered.length === 0) {\n      const domList = [...new Set(states.map(e => e.entity_id.split('.')[0]))].sort().join(', ');\n      return [{ json: { result: 'No entities found.' + (domain ? ' Available domains: ' + domList : '') } }];\n    }\n\n    let out;\n    if (!domain && !search) {\n      const byDomain = {};\n      for (const e of filtered) {\n        const d = e.entity_id.split('.')[0];\n        byDomain[d] = (byDomain[d] || 0) + 1;\n      }\n      out = 'Total entities: ' + filtered.length + '\\n\\nBy domain:\\n';\n      for (const d of Object.keys(byDomain).sort()) out += '  ' + d + ': ' + byDomain[d] + '\\n';\n      out += '\\nUse domain parameter (e.g. light, switch, sensor) or search parameter to list specific entities.';\n    } else {\n      out = filtered.length + ' entities' + (domain ? ' (' + domain + ')' : '') + ':\\n\\n';\n      for (const e of filtered.slice(0, limit)) out += formatEntity(e) + '\\n';\n      if (filtered.length > limit) out += '\\n... and ' + (filtered.length - limit) + ' more (increase limit to see all)';\n    }\n    if (out.length > 5000) out = out.substring(0, 5000) + '\\n... (truncated)';\n    return [{ json: { result: out } }];\n  } catch (e) {\n    return [{ json: { error: 'Failed to list entities: ' + (e.message || String(e)) } }];\n  }\n}\n\n// === get_state ===\nif (action === 'get_state') {\n  const entityId = input.entity_id;\n  if (!entityId) return [{ json: { error: 'Parameter \"entity_id\" is required (e.g. light.kitchen, sensor.temperature).' } }];\n  try {\n    const e = await helpers.httpRequest({ method: 'GET', url: apiBase + '/states/' + encodeURIComponent(entityId), headers: haHeaders });\n    const tags = e.attributes || {};\n    let out = e.entity_id + '\\n';\n    out += 'State: ' + e.state;\n    if (tags.unit_of_measurement) out += ' ' + tags.unit_of_measurement;\n    out += '\\n';\n    if (tags.friendly_name) out += 'Name: ' + tags.friendly_name + '\\n';\n    if (e.last_changed) out += 'Last changed: ' + e.last_changed + '\\n';\n    const skip = new Set(['friendly_name', 'unit_of_measurement', 'supported_features', 'attribution']);\n    const attrs = Object.keys(tags).filter(k => !skip.has(k));\n    if (attrs.length) {\n      out += '\\nAttributes:\\n';\n      for (const k of attrs.slice(0, 20)) {\n        let v = tags[k];\n        if (Array.isArray(v)) v = v.length > 5 ? v.slice(0, 5).join(', ') + ' ...' : v.join(', ');\n        else if (typeof v === 'object' && v !== null) v = JSON.stringify(v).substring(0, 100);\n        out += '  ' + k + ': ' + v + '\\n';\n      }\n    }\n    return [{ json: { result: out } }];\n  } catch (e) {\n    if ((e.message || '').includes('404')) return [{ json: { error: 'Entity not found: ' + entityId } }];\n    return [{ json: { error: 'Failed to get state: ' + (e.message || String(e)) } }];\n  }\n}\n\n// === list_services ===\nif (action === 'list_services') {\n  try {\n    const services = await helpers.httpRequest({ method: 'GET', url: apiBase + '/services', headers: haHeaders });\n    const domain = input.domain ? String(input.domain).toLowerCase() : null;\n    let filtered = domain ? services.filter(d => d.domain === domain) : services;\n    if (filtered.length === 0) {\n      return [{ json: { result: 'No services found' + (domain ? ' for domain \"' + domain + '\"' : '') + '. Available domains: ' + services.map(d => d.domain).join(', ') } }];\n    }\n    let out;\n    if (!domain) {\n      out = filtered.length + ' service domains available:\\n\\n';\n      for (const d of filtered) {\n        const svcNames = Object.keys(d.services || {}).slice(0, 10);\n        out += d.domain + ': ' + svcNames.join(', ') + (Object.keys(d.services).length > 10 ? ' ...' : '') + '\\n';\n      }\n    } else {\n      const d = filtered[0];\n      out = 'Services in domain \"' + d.domain + '\":\\n\\n';\n      for (const [svc, info] of Object.entries(d.services || {})) {\n        out += '- ' + d.domain + '.' + svc;\n        if (info.description) out += ' - ' + info.description;\n        out += '\\n';\n        if (info.fields) {\n          const fields = Object.keys(info.fields);\n          if (fields.length) out += '    fields: ' + fields.join(', ') + '\\n';\n        }\n      }\n    }\n    if (out.length > 5000) out = out.substring(0, 5000) + '\\n... (truncated)';\n    return [{ json: { result: out } }];\n  } catch (e) {\n    return [{ json: { error: 'Failed to list services: ' + (e.message || String(e)) } }];\n  }\n}\n\n// === call_service ===\nif (action === 'call_service') {\n  const domain = input.domain;\n  const service = input.service;\n  if (!domain || !service) return [{ json: { error: 'Parameters \"domain\" and \"service\" are required (e.g. domain=light, service=turn_on).' } }];\n\n  const body = {};\n  if (input.entity_id) body.entity_id = String(input.entity_id);\n\n  if (input.service_data) {\n    try {\n      const extra = typeof input.service_data === 'string' ? JSON.parse(input.service_data) : input.service_data;\n      Object.assign(body, extra);\n    } catch (e) {\n      return [{ json: { error: 'Invalid service_data JSON: ' + e.message + '. Must be valid JSON like {\"brightness\": 128}.' } }];\n    }\n  }\n\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: apiBase + '/services/' + encodeURIComponent(domain) + '/' + encodeURIComponent(service),\n      headers: haHeaders,\n      body: JSON.stringify(body)\n    });\n    const changed = Array.isArray(resp) ? resp.length : 0;\n    let out = 'Service ' + domain + '.' + service + ' called successfully.';\n    if (input.entity_id) out += ' Target: ' + input.entity_id;\n    if (changed > 0) {\n      out += '\\nChanged ' + changed + ' entit' + (changed === 1 ? 'y' : 'ies') + ':';\n      for (const e of resp.slice(0, 10)) out += '\\n  ' + formatEntity(e);\n    }\n    return [{ json: { result: out } }];\n  } catch (e) {\n    const msg = e.message || String(e);\n    if (msg.includes('400')) return [{ json: { error: 'Bad request (400). Check domain/service name and parameters. Use list_services to see valid services.' } }];\n    if (msg.includes('404')) return [{ json: { error: 'Service not found: ' + domain + '.' + service } }];\n    return [{ json: { error: 'Failed to call service: ' + msg } }];\n  }\n}\n\n// === speak ===\nif (action === 'speak') {\n  const message = input.message;\n  if (!message) return [{ json: { error: 'Parameter \"message\" is required (the text to speak).' } }];\n  const hint = input.device_hint ? String(input.device_hint).toLowerCase() : null;\n\n  try {\n    const states = await helpers.httpRequest({ method: 'GET', url: apiBase + '/states', headers: haHeaders });\n\n    // 1. Prefer assist_satellite (best path for HA Voice devices — bypasses media_player routing)\n    const satellites = states.filter(e => e.entity_id.startsWith('assist_satellite.') && e.state !== 'unavailable');\n    if (satellites.length > 0) {\n      let target = null;\n      if (hint) {\n        target = satellites.find(e => {\n          const fn = ((e.attributes && e.attributes.friendly_name) || '').toLowerCase();\n          return e.entity_id.toLowerCase().includes(hint) || fn.includes(hint);\n        });\n      }\n      if (!target) target = satellites[0];\n\n      try {\n        await helpers.httpRequest({\n          method: 'POST',\n          url: apiBase + '/services/assist_satellite/announce',\n          headers: haHeaders,\n          body: JSON.stringify({ entity_id: target.entity_id, message: String(message) })\n        });\n        const fn = (target.attributes && target.attributes.friendly_name) || target.entity_id;\n        return [{ json: { result: 'Spoken via assist_satellite on \"' + fn + '\" (' + target.entity_id + ')\\nMessage: ' + message } }];\n      } catch (e) {\n        // Fall through to media_player fallback if announce fails\n      }\n    }\n\n    // 2. Fallback: tts.speak via media_player\n    const mediaPlayers = states.filter(e => e.entity_id.startsWith('media_player.') && e.state !== 'unavailable');\n    if (mediaPlayers.length === 0) {\n      return [{ json: { error: 'No speakable devices found. Need an assist_satellite or an available media_player. ' + (satellites.length > 0 ? 'assist_satellite.announce call failed and no media_player fallback available.' : '') } }];\n    }\n\n    let player = null;\n    if (hint) {\n      player = mediaPlayers.find(e => {\n        const fn = ((e.attributes && e.attributes.friendly_name) || '').toLowerCase();\n        return e.entity_id.toLowerCase().includes(hint) || fn.includes(hint);\n      });\n    }\n    if (!player) player = mediaPlayers[0];\n\n    const ttsEngines = states.filter(e => e.entity_id.startsWith('tts.'));\n    if (ttsEngines.length === 0) {\n      return [{ json: { error: 'No TTS engine configured in Home Assistant. Add a TTS integration (Cloud, Google, Piper) or use assist_satellite.announce directly via call_service.' } }];\n    }\n    const ttsEntity = ttsEngines[0].entity_id;\n\n    await helpers.httpRequest({\n      method: 'POST',\n      url: apiBase + '/services/tts/speak',\n      headers: haHeaders,\n      body: JSON.stringify({\n        entity_id: ttsEntity,\n        media_player_entity_id: player.entity_id,\n        message: String(message)\n      })\n    });\n    const pfn = (player.attributes && player.attributes.friendly_name) || player.entity_id;\n    return [{ json: { result: 'Spoken via tts.speak on \"' + pfn + '\" (' + player.entity_id + ', engine: ' + ttsEntity + ')\\nMessage: ' + message } }];\n  } catch (e) {\n    return [{ json: { error: 'Failed to speak: ' + (e.message || String(e)) } }];\n  }\n}\n\nreturn [{ json: { error: 'Unknown action: ' + action + '. Available: list_entities, get_state, list_services, call_service, speak.' } }];\n"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "HA Logic", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Home Assistant",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "home-assistant"
        }
      },
      {
        "id": "tool-list-entities",
        "name": "list_entities",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "list_entities",
          "description": "List Home Assistant entities. Without parameters returns a summary by domain. Parameters: domain (optional, filter by domain like light, switch, sensor, climate, media_player), search (optional, substring match on entity_id or friendly_name), limit (optional, default 50).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_entities",
              "domain": "={{ $fromAI('domain', 'Entity domain filter (light, switch, sensor, climate, media_player, etc.)', 'string') }}",
              "search": "={{ $fromAI('search', 'Substring search in entity_id or friendly_name', 'string') }}",
              "limit": "={{ $fromAI('limit', 'Max results (default 50)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "domain", "displayName": "domain", "type": "string", "description": "Domain filter", "required": false },
              { "id": "search", "displayName": "search", "type": "string", "description": "Name search", "required": false },
              { "id": "limit", "displayName": "limit", "type": "string", "description": "Max results", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-get-state",
        "name": "get_state",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [250, 300],
        "parameters": {
          "name": "get_state",
          "description": "Get the current state and attributes of a specific Home Assistant entity. Parameter: entity_id (required, e.g. light.kitchen, sensor.outdoor_temperature, climate.living_room).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "get_state",
              "entity_id": "={{ $fromAI('entity_id', 'Entity ID (e.g. light.kitchen)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "entity_id", "displayName": "entity_id", "type": "string", "description": "Entity ID", "required": true }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-list-services",
        "name": "list_services",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [500, 300],
        "parameters": {
          "name": "list_services",
          "description": "List available Home Assistant services. Without parameters shows all domains with their services. Parameters: domain (optional, e.g. light, climate, switch — returns detailed info incl. fields).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "list_services",
              "domain": "={{ $fromAI('domain', 'Service domain filter (e.g. light, climate, switch)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "domain", "displayName": "domain", "type": "string", "description": "Domain filter", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-speak",
        "name": "speak",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [1000, 300],
        "parameters": {
          "name": "speak",
          "description": "Speak a text message on a Home Assistant voice device or speaker. Auto-selects the best path: prefers assist_satellite.announce (works reliably for HA Voice Preview Edition / HAPPE2 satellites, bypasses media_player routing), falls back to tts.speak on a media_player with a TTS engine. Parameters: message (required, text to speak), device_hint (optional, substring to match a specific device by entity_id or friendly_name — e.g. 'kitchen', 'voice'; if omitted, picks the first available device).",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "speak",
              "message": "={{ $fromAI('message', 'Text to speak aloud', 'string') }}",
              "device_hint": "={{ $fromAI('device_hint', 'Optional device name/room hint to pick a specific speaker (e.g. kitchen, voice, bedroom)', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "message", "displayName": "message", "type": "string", "description": "Text to speak", "required": true },
              { "id": "device_hint", "displayName": "device_hint", "type": "string", "description": "Optional device name hint", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "id": "tool-call-service",
        "name": "call_service",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [750, 300],
        "parameters": {
          "name": "call_service",
          "description": "Call a Home Assistant service to control devices. Parameters: domain (required, e.g. light, switch, climate, media_player), service (required, e.g. turn_on, turn_off, toggle, set_temperature), entity_id (optional target entity, e.g. light.kitchen), service_data (optional JSON string with additional data like '{\"brightness\": 128, \"rgb_color\": [255,0,0]}').",
          "workflowId": { "__rl": true, "value": "REPLACE_SUB_WORKFLOW_ID", "mode": "id" },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "call_service",
              "domain": "={{ $fromAI('domain', 'Service domain (e.g. light, switch, climate)', 'string') }}",
              "service": "={{ $fromAI('service', 'Service name (e.g. turn_on, turn_off, toggle)', 'string') }}",
              "entity_id": "={{ $fromAI('entity_id', 'Target entity ID (e.g. light.kitchen)', 'string') }}",
              "service_data": "={{ $fromAI('service_data', 'Optional JSON string with extra service data (e.g. {\"brightness\":128})', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              { "id": "action", "displayName": "action", "type": "string", "description": "Action type", "required": true },
              { "id": "domain", "displayName": "domain", "type": "string", "description": "Service domain", "required": true },
              { "id": "service", "displayName": "service", "type": "string", "description": "Service name", "required": true },
              { "id": "entity_id", "displayName": "entity_id", "type": "string", "description": "Target entity", "required": false },
              { "id": "service_data", "displayName": "service_data", "type": "string", "description": "JSON service data", "required": false }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "list_entities": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "get_state": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "list_services": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "call_service": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] },
      "speak": { "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]] }
    }
  }
}
